Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-simulation, mypy-stream-processor, mypy-dbt, mypy-airflow, mypy-great-expectations, mypy-lakehouse, frontend-lint-staged, frontend-typecheck, kubeconform

Path conditions:
  mypy-simulation: any of: ^services/simulation/src/.*\.py$
  mypy-stream-processor: any of: ^services/stream-processor/src/.*\.py$
  mypy-dbt: any of: ^tools/dbt/[^/]+\.py$
  mypy-airflow: any of: ^services/airflow/dags/.*\.py$
  mypy-great-expectations: any of: ^tools/great-expectations/[^/]+\.py$
  mypy-lakehouse: any of: ^schemas/lakehouse/(schemas|config|scripts)/.*\.py$
  frontend-lint-staged: any of: ^services/frontend/.*\.(ts|tsx|css|json|md)$
  frontend-typecheck: any of: ^services/frontend/.*\.(ts|tsx)$
  kubeconform: any of: ^infrastructure/kubernetes/.*\.yaml$ and \.(yaml|yml)$ and not (^infrastructure/kubernetes/(argocd/install\.yaml|overlays/))

feat(localstack): emulate auth-deploy Lambda locally via LocalStack
  infrastructure/docker/compose.yml
  infrastructure/lambda/auth-deploy/handler.py
  infrastructure/scripts/deploy-lambda.py
  services/control-panel/.env.development
  services/control-panel/vite.config.ts
Due: none

fix(control-panel): enable scrolling on the landing page
  services/control-panel/src/App.css
  services/control-panel/src/App.tsx
  services/control-panel/src/components/LandingPage.tsx
  services/control-panel/src/index.css
Due: none

fix(control-panel): align favicon and available-driver icon to brand green
  services/control-panel/public/favicon.svg
  services/control-panel/public/icons/car-green.png
  services/control-panel/src/theme.ts
Due: none

feat(simulation): add sliding-window real-time ratio to engine
  services/simulation/src/engine/__init__.py
  services/simulation/src/settings.py
  services/simulation/tests/engine/test_speed_multiplier.py
  services/simulation/tests/test_settings.py
Due: mypy-simulation

feat(simulation): expose real_time_ratio in status API and snapshots
  services/simulation/src/api/models/simulation.py
  services/simulation/src/api/routes/simulation.py
  services/simulation/src/api/snapshots.py
  services/simulation/src/main.py
Due: mypy-simulation

feat(control-panel): display real-time ratio with color-coded health
  services/control-panel/src/components/ControlPanel.tsx
  services/control-panel/src/components/InfrastructurePanel.tsx
  services/control-panel/src/types/api.ts
Due: none

fix(control-panel): rename "Awaiting Pickup (arrived)" to "Onboarding"
  services/control-panel/src/components/LayerControls.tsx
  services/control-panel/src/components/MapLegend.tsx
Due: none

refactor(perf-tests): consume server-side RTR and invert semantics
  tests/performance/analysis/visualizations.py
  tests/performance/collectors/simulation_api.py
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/base.py
  tests/performance/scenarios/speed_scaling.py
  tests/performance/scenarios/stress_test.py
Due: none

fix(dbt): add patience_timeout and system_pause cancellation reasons
  tools/dbt/models/marts/facts/schema.yml
  tools/dbt/models/staging/schema.yml
Due: none

fix(api): correct rider status guard for trip request
  services/simulation/src/api/routes/agents.py
Due: mypy-simulation

feat(matching): add retry loop for unmatched trips
  services/simulation/src/matching/matching_server.py
  services/simulation/src/settings.py
  services/simulation/tests/matching/test_matching_server.py
Due: mypy-simulation

fix(simulation): repair checkpoint recovery — riders were unmatched after restore
  services/simulation/src/db/checkpoint.py
  services/simulation/src/db/s3_checkpoint.py
  services/simulation/src/matching/matching_server.py
Due: mypy-simulation

feat(frontend): add blinking matching line during offer phase
  services/control-panel/src/hooks/useSimulationLayers.ts
  services/control-panel/src/layers/__tests__/agentLayers.test.ts
  services/control-panel/src/layers/agentLayers.ts
  services/control-panel/src/types/layers.ts
Due: none

feat(matching): wire up OfferTimeoutManager with Gaussian response delays
  infrastructure/scripts/register-trino-tables.py
  schemas/api/openapi.json
  services/control-panel/src/components/inspector/DriverInspector.tsx
  services/control-panel/src/components/inspector/__tests__/DriverActionsSection.test.tsx
  services/control-panel/src/components/inspector/__tests__/DriverInspector.test.tsx
  services/control-panel/src/constants/dnaPresets.ts
  services/control-panel/src/hooks/__tests__/useAgentState.test.ts
  services/control-panel/src/types/api.generated.ts
  services/control-panel/src/types/api.ts
  services/grafana/dashboards/monitoring/simulation-metrics.json
  services/grafana/dashboards/operations/platform-operations.json
  services/simulation/src/agents/CONTEXT.md
  services/simulation/src/agents/dna.py
  services/simulation/src/agents/dna_generator.py
  services/simulation/src/api/app.py
  services/simulation/src/api/models/agents.py
  services/simulation/src/api/routes/agents.py
  services/simulation/src/matching/matching_server.py
  services/simulation/src/matching/offer_timeout.py
  services/simulation/src/metrics/prometheus_exporter.py
  services/simulation/src/settings.py
  services/simulation/tests/agents/test_agent_events.py
  services/simulation/tests/agents/test_dna_generator.py
  services/simulation/tests/agents/test_dna_models.py
  services/simulation/tests/agents/test_driver_offer_response.py
  services/simulation/tests/agents/test_rating_submission.py
  services/simulation/tests/db/test_checkpoint_integration.py
  services/simulation/tests/db/test_s3_checkpoint.py
  services/simulation/tests/engine/test_agent_factory.py
  services/simulation/tests/factories.py
  services/simulation/tests/matching/test_matching_server.py
  services/simulation/tests/matching/test_offer_timeout.py
  tools/dbt/models/marts/facts/fact_offers.sql
  tools/dbt/models/marts/facts/schema.yml
  tools/dbt/models/staging/schema.yml
  tools/dbt/models/staging/stg_trips.sql
Due: mypy-simulation

fix(dashboard): improve Revenue Analytics chart clarity and color coding
  services/grafana/dashboards/business-intelligence/revenue-analytics.json
Due: none

feat(dashboard): invert utilization metrics to idle time on Driver Performance
  services/grafana/dashboards/business-intelligence/driver-performance.json
Due: none

fix(dashboard): improve Demand Analysis accuracy and readability
  services/grafana/dashboards/business-intelligence/demand-analysis.json
  tools/dbt/models/marts/aggregates/agg_hourly_zone_demand.sql
Due: none

feat(dashboard): add Agent Explorer for individual driver/rider analytics
  services/grafana/dashboards/business-intelligence/agent-explorer.json
Due: none

refactor(simulation): standardize trip outcome taxonomy to 6 unambiguous cancellation reasons
  services/grafana/dashboards/business-intelligence/demand-analysis.json
  services/simulation/src/agents/rider_agent.py
  services/simulation/src/api/routes/puppet.py
  services/simulation/src/matching/matching_server.py
  services/simulation/src/settings.py
  services/simulation/src/trips/trip_executor.py
  services/simulation/tests/agents/test_awaiting_pickup_state.py
  services/simulation/tests/agents/test_rider_lifecycle.py
  services/simulation/tests/agents/test_trip_execution.py
  services/simulation/tests/trips/test_proximity_arrival.py
  services/simulation/tests/trips/test_trip_executor.py
  services/simulation/tests/trips/test_trip_executor_ratings.py
  services/simulation/tests/trips/test_trip_executor_recovery.py
  tools/dbt/models/marts/facts/schema.yml
  tools/dbt/models/staging/schema.yml
Due: mypy-simulation

refactor(dbt): rename utilization_pct to idle_pct with formula inversion
  infrastructure/kubernetes/manifests/grafana.yaml
  services/grafana/dashboards/business-intelligence/agent-explorer.json
  services/grafana/dashboards/business-intelligence/driver-performance.json
  tests/integration/data_platform/utils/sql_helpers.py
  tools/dbt/models/marts/aggregates/agg_daily_driver_performance.sql
  tools/dbt/models/marts/aggregates/schema.yml
  tools/dbt/models/marts/facts/schema.yml
  tools/dbt/models/marts/marts_overview.md
  tools/dbt/tests/singular/test_driver_idle_bounds.sql
  tools/great-expectations/gx/expectations/gold/aggregates/gold_agg_daily_driver_performance.json
  tools/great-expectations/tests/test_gold_expectations.py
Due: kubeconform

fix(dashboard): prevent inspector popup crash on null numeric fields
  services/control-panel/src/App.tsx
  services/control-panel/src/components/InspectorErrorBoundary.tsx
  services/control-panel/src/components/Map.tsx
  services/control-panel/src/components/inspector/DriverInspector.tsx
  services/control-panel/src/components/inspector/RiderInspector.tsx
  services/control-panel/src/hooks/useAgentState.ts
  services/control-panel/src/hooks/useDraggable.ts
  services/control-panel/src/utils/driverStatusFormatter.ts
  services/control-panel/src/utils/formatNumber.ts
  services/control-panel/src/utils/riderStatusFormatter.ts
  services/control-panel/src/utils/tripStateFormatter.ts
Due: none

feat(simulation): add driving_closer_to_home status with home marker and 10km threshold
  services/control-panel/public/icons/home.png
  services/control-panel/src/App.tsx
  services/control-panel/src/components/InspectorPopup.tsx
  services/control-panel/src/components/LayerControls.tsx
  services/control-panel/src/hooks/useSimulationLayers.ts
  services/control-panel/src/layers/agentLayers.ts
  services/control-panel/src/theme.ts
  services/control-panel/src/types/api.ts
  services/control-panel/src/types/layers.ts
  services/simulation/src/agents/driver_agent.py
  services/simulation/src/api/snapshots.py
  services/simulation/src/events/schemas.py
  services/simulation/src/matching/driver_geospatial_index.py
  services/simulation/src/matching/driver_registry.py
  services/simulation/src/matching/matching_server.py
  services/simulation/tests/agents/test_driver_repositioning.py
  services/stream-processor/src/events/schemas.py
  tools/dbt/models/staging/anomalies_zombie_drivers.sql
  tools/dbt/models/staging/schema.yml
Due: mypy-simulation, mypy-stream-processor

feat(inspector): add Previous Actions history to agent inspector popup
  services/control-panel/src/components/PreviousActionsSection.module.css
  services/control-panel/src/components/PreviousActionsSection.tsx
  services/control-panel/src/components/inspector/DriverInspector.tsx
  services/control-panel/src/components/inspector/RiderInspector.tsx
  services/control-panel/src/types/api.ts
  services/simulation/src/agents/driver_agent.py
  services/simulation/src/agents/next_action.py
  services/simulation/src/agents/rider_agent.py
  services/simulation/src/api/models/agents.py
  services/simulation/src/api/routes/agents.py
  services/simulation/src/matching/matching_server.py
Due: mypy-simulation

fix(puppet): auto-wire pickup/destination drives and fix rider trip state
  services/control-panel/src/App.tsx
  services/control-panel/src/components/InspectorPopup.tsx
  services/control-panel/src/components/inspector/DriverActionsSection.tsx
  services/control-panel/src/components/inspector/DriverInspector.tsx
  services/control-panel/src/components/inspector/__tests__/DriverActionsSection.test.tsx
  services/control-panel/src/hooks/useSimulationControl.ts
  services/simulation/src/agents/rider_agent.py
  services/simulation/src/api/redis_subscriber.py
  services/simulation/src/matching/matching_server.py
Due: mypy-simulation

refactor: remove all Superset/Celery remnants from active code, K8s scripts, and docs
  infrastructure/kubernetes/scripts/CONTEXT.md
  infrastructure/kubernetes/scripts/README.md
  infrastructure/kubernetes/scripts/teardown.sh
  infrastructure/kubernetes/tests/setup_static_pvs.sh
  infrastructure/kubernetes/tests/test_data_platform.sh
  infrastructure/kubernetes/tests/test_ingress.sh
  infrastructure/kubernetes/tests/test_persistence.sh
  services/simulation/src/CONTEXT.md
  services/simulation/src/api/routes/metrics.py
  tests/integration/data_platform/CONTEXT.md
  tests/integration/data_platform/conftest.py
  tests/integration/data_platform/utils/api_clients.py
  tests/performance/config.py
  tools/dbt/models/marts/CONTEXT.md
Due: mypy-simulation

fix(tests): repair simulation mock and frontend component test failures
  services/control-panel/src/components/InspectorPopup.tsx
  services/control-panel/src/components/PreviousActionsSection.tsx
  services/control-panel/src/components/__tests__/LayerControls.test.tsx
  services/control-panel/src/components/inspector/__tests__/DriverInspector.test.tsx
  services/control-panel/src/components/inspector/__tests__/RiderInspector.test.tsx
  services/simulation/tests/api/conftest.py
  services/simulation/tests/test_api_contract.py
  services/simulation/tests/test_security_headers.py
Due: none

feat(dev-test): add 8x speed, more agents, and 15-min Silver DAG schedule
  infrastructure/docker/compose.yml
  scripts/dev_test.py
  services/airflow/dags/dbt_transformation_dag.py
Due: mypy-airflow

feat(infra): add health probes for 6 uncovered services and scheduler heartbeat age
  infrastructure/docker/compose.yml
  services/control-panel/src/components/InfrastructurePanel.tsx
  services/control-panel/src/types/api.ts
  services/simulation/pyproject.toml
  services/simulation/src/api/models/metrics.py
  services/simulation/src/api/routes/metrics.py
  services/simulation/stubs/asyncpg/__init__.pyi
Due: mypy-simulation

feat(infra): add per-service health metric thresholds for accurate status coloring
  schemas/api/openapi.json
  services/control-panel/src/components/InfrastructurePanel.tsx
  services/control-panel/src/components/__tests__/InfrastructurePanel.test.tsx
  services/control-panel/src/types/api.generated.ts
  services/control-panel/src/types/api.ts
  services/simulation/src/api/models/metrics.py
  services/simulation/src/api/routes/metrics.py
Due: mypy-simulation

fix(matching): resolve 7 race conditions and stalls in retry matching for puppet agents
  services/simulation/src/engine/__init__.py
  services/simulation/src/matching/matching_server.py
Due: mypy-simulation

fix(frontend): auto-format generated types to prevent quote style drift
  services/control-panel/package.json
  services/control-panel/scripts/generate-types.sh
Due: none

fix(dev-test): batch agent spawning to respect API limits (100 drivers, 2000 riders)
  scripts/dev_test.py
Due: none

refactor(grafana): split Agent Explorer into Driver Explorer and Rider Explorer dashboards
  services/grafana/dashboards/business-intelligence/driver-explorer.json
  services/grafana/dashboards/business-intelligence/rider-explorer.json
Due: none

fix(ci): add API contract tests and improve integration test reliability
  Makefile
Due: none

ci: resolve CI/CD pipeline failures
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  schemas/api/openapi.json
  services/control-panel/src/components/inspector/RiderActionsSection.tsx
  services/control-panel/src/types/api.generated.ts
  services/control-panel/src/utils/driverStatusFormatter.ts
  services/simulation/scripts/export-openapi.py
Due: none

fix(puppet): allow rider cancel-trip from awaiting_pickup state
  services/simulation/src/api/routes/puppet.py
Due: mypy-simulation

feat(infra): add health checks for Loki, Tempo, Trino, Hive Metastore, and OpenLDAP
  services/simulation/src/api/routes/metrics.py
Due: mypy-simulation

fix(grafana): use rawSQL field name for Trino plugin variable interpolation
  services/grafana/dashboards/business-intelligence/demand-analysis.json
  services/grafana/dashboards/business-intelligence/driver-explorer.json
  services/grafana/dashboards/business-intelligence/driver-performance.json
  services/grafana/dashboards/business-intelligence/revenue-analytics.json
  services/grafana/dashboards/business-intelligence/rider-explorer.json
  services/grafana/dashboards/data-engineering/data-ingestion.json
  services/grafana/dashboards/data-engineering/data-quality.json
  services/grafana/dashboards/operations/platform-operations.json
Due: none

feat(perf): collect infrastructure health latencies during performance tests
  tests/performance/analysis/findings.py
  tests/performance/analysis/report_generator.py
  tests/performance/analysis/statistics.py
  tests/performance/analysis/visualizations.py
  tests/performance/collectors/__init__.py
  tests/performance/collectors/infrastructure_health.py
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/base.py
  tests/performance/scenarios/speed_scaling.py
  tests/performance/scenarios/stress_test.py
Due: none

fix(grafana): show 0% instead of no data for Surge Exposure when all trips are unsurged
  services/grafana/dashboards/business-intelligence/rider-explorer.json
Due: none
