Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-simulation, mypy-stream-processor, mypy-spark-streaming, mypy-dbt, mypy-airflow, mypy-great-expectations, mypy-superset, mypy-lakehouse, frontend-lint-staged, frontend-typecheck, check-duplicate-class-names

mypy-simulation:
  name: mypy (simulation)
  entry: bash -c 'cd services/simulation && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-stream-processor:
  name: mypy (stream-processor)
  entry: bash -c 'cd services/stream-processor && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-spark-streaming:
  name: mypy (spark-streaming)
  entry: bash -c 'cd services && [ ! -L spark_streaming ] && ln -s spark-streaming spark_streaming; PYTHONPATH=. ./spark-streaming/venv/bin/mypy spark_streaming/framework/ spark_streaming/config/ spark_streaming/jobs/ spark_streaming/utils/'
  language: system
  ...

mypy-dbt:
  name: mypy (dbt)
  entry: bash -c 'cd services/dbt && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-airflow:
  name: mypy (airflow)
  entry: bash -c 'cd services/airflow && ./venv/bin/mypy dags/'
  language: system
  pass_filenames: false

mypy-great-expectations:
  name: mypy (great-expectations)
  entry: bash -c 'cd quality/great-expectations && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-superset:
  name: mypy (superset)
  entry: bash -c 'cd analytics/superset && ./venv/bin/mypy superset_config.py dashboards/'
  language: system
  pass_filenames: false

mypy-lakehouse:
  name: mypy (lakehouse)
  entry: bash -c 'cd schemas/lakehouse && ./venv/bin/mypy schemas/ config/ scripts/'
  language: system
  pass_filenames: false

frontend-lint-staged:
  name: lint-staged (frontend)
  entry: bash -c 'cd services/frontend && npx lint-staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd services/frontend && npm run typecheck'
  language: system
  pass_filenames: false

check-duplicate-class-names:
  name: Check for duplicate class names
  entry: python scripts/check_duplicate_class_names.py
  language: python
  pass_filenames: false

feat(secrets): wire all Docker Compose services to secrets volume
  infrastructure/docker/compose.yml
Due: none

feat(settings): reject empty credentials via model validators
  services/simulation/src/settings.py
  services/simulation/tests/conftest.py
  services/simulation/tests/test_settings.py
  services/stream-processor/src/settings.py
Due: mypy-simulation, mypy-stream-processor, check-duplicate-class-names

feat(secrets): document secrets management pattern in .env.example
  .env.example
Due: none

feat(k8s): add External Secrets Operator manifests and Helm install
  infrastructure/kubernetes/manifests/external-secrets-api-keys.yaml
  infrastructure/kubernetes/manifests/external-secrets-app-credentials.yaml
  infrastructure/kubernetes/manifests/external-secrets-aws-credentials.yaml
  infrastructure/kubernetes/manifests/external-secrets-namespace.yaml
  infrastructure/kubernetes/manifests/external-secrets-secretstore.yaml
  infrastructure/kubernetes/scripts/create-cluster.sh
  infrastructure/kubernetes/scripts/deploy-services.sh
Due: none

feat(k8s): replace hardcoded credentials with secretKeyRef in all pod manifests
  infrastructure/kubernetes/manifests/airflow-postgres.yaml
  infrastructure/kubernetes/manifests/airflow-scheduler.yaml
  infrastructure/kubernetes/manifests/airflow-webserver.yaml
  infrastructure/kubernetes/manifests/bronze-ingestion.yaml
  infrastructure/kubernetes/manifests/external-secrets-app-credentials.yaml
  infrastructure/kubernetes/manifests/grafana.yaml
  infrastructure/kubernetes/manifests/hive-metastore.yaml
  infrastructure/kubernetes/manifests/minio-init.yaml
  infrastructure/kubernetes/manifests/minio.yaml
  infrastructure/kubernetes/manifests/postgres-metastore.yaml
  infrastructure/kubernetes/manifests/secret-credentials.yaml
  infrastructure/kubernetes/manifests/simulation.yaml
  infrastructure/kubernetes/manifests/spark-thrift-server.yaml
  infrastructure/kubernetes/manifests/stream-processor.yaml
  infrastructure/kubernetes/manifests/trino.yaml
Due: none

feat(k8s): switch Spark Thrift Server from NOSASL to LDAP authentication
  infrastructure/kubernetes/manifests/external-secrets-app-credentials.yaml
  infrastructure/kubernetes/manifests/openldap.yaml
  infrastructure/kubernetes/manifests/spark-thrift-server.yaml
Due: none

feat(k8s): mark Secret manifests as ESO-managed documentation only
  infrastructure/kubernetes/manifests/secret-api-keys.yaml
  infrastructure/kubernetes/manifests/secret-credentials.yaml
Due: none

feat(cleanup): remove Databricks integration and unused AWSSettings
  .env.example
  README.md
  docs/SECURITY.md
  docs/other/production-checklist.md
  services/airflow/README.md
  services/airflow/config/connections.yaml
  services/simulation/examples/load_settings_example.py
  services/simulation/src/db/checkpoint.py
  services/simulation/src/settings.py
  services/simulation/tests/test_settings.py
  tools/dbt/CONTEXT.md
  tools/dbt/README.md
  tools/dbt/models/CONTEXT.md
  tools/dbt/models/overview.md
  tools/dbt/profiles/cloud.yml
  tools/great-expectations/CONTEXT.md
Due: mypy-simulation, check-duplicate-class-names

feat(security): add detect-secrets pre-commit hook with baseline
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

feat(ci): update integration test workflow for new auth mechanisms
  .github/workflows/integration-tests.yml
  .secrets.baseline
Due: none

docs: update project documentation for secrets management and auth mechanisms
  .secrets.baseline
  README.md
  docs/SECURITY.md
  infrastructure/docker/README.md
  services/airflow/README.md
  services/kafka/CONTEXT.md
  services/redis/CONTEXT.md
  services/schema-registry/CONTEXT.md
  services/simulation/README.md
  services/stream-processor/README.md
  tools/dbt/README.md
Due: none

fix(docker): standardize entrypoint pattern and fix multiple startup bugs
  .secrets.baseline
  infrastructure/docker/compose.yml
  infrastructure/scripts/seed-secrets.py
  services/hive-metastore/Dockerfile
  services/kafka/create-topics.sh
  services/schema-registry/jaas.conf
Due: check-duplicate-class-names

fix(stream-processor): add SASL auth to AdminClient for Kafka topic creation
  services/stream-processor/src/main.py
Due: mypy-stream-processor, check-duplicate-class-names

fix(simulation): add Basic Auth to Schema Registry health check
  services/simulation/src/api/routes/metrics.py
  services/trino/etc/catalog/delta.properties
  tests/performance/config.py
Due: mypy-simulation, check-duplicate-class-names

fix(perf): use fixed agent count in speed scaling scenario
  tests/performance/scenarios/speed_scaling.py
Due: check-duplicate-class-names

fix(docker): double LocalStack memory limit to 256m
  infrastructure/docker/compose.yml
Due: none

fix(frontend): reduce memory growth from redundant updateTriggers and stale route cache
  services/frontend/src/hooks/__tests__/useSimulationState.test.ts
  services/frontend/src/hooks/useSimulationState.ts
  services/frontend/src/layers/__tests__/agentLayers.test.ts
  services/frontend/src/layers/agentLayers.ts
  services/frontend/src/layers/zoneLayers.ts
Due: frontend-lint-staged, frontend-typecheck

fix(perf): derive max reliable speed from completed steps even when aborted
  tests/performance/analysis/report_generator.py
  tests/performance/runner.py
Due: check-duplicate-class-names

chore: remove detect-secrets pre-commit hook
  .pre-commit-config.yaml
  .secrets.baseline
  services/kafka/README.md
  services/localstack/README.md
  services/postgres/README.md
  tests/performance/README.md
Due: none

feat(sim): wire up checkpoint triggers (periodic, pause, SIGTERM, restore)
  .gitignore
  infrastructure/docker/compose.yml
  services/simulation/src/engine/__init__.py
  services/simulation/src/main.py
  services/simulation/tests/e2e/checkpoint_triggers.md
  services/simulation/tests/engine/test_checkpoint_triggers.py
Due: mypy-simulation, check-duplicate-class-names

fix(sim): restore driver registry on checkpoint load and fix startup config
  services/simulation/src/api/app.py
  services/simulation/src/db/checkpoint.py
  services/simulation/src/main.py
Due: mypy-simulation, check-duplicate-class-names

fix(airflow): map JWT secret to correct Airflow 3.x config section
  infrastructure/scripts/fetch-secrets.py
Due: check-duplicate-class-names

fix(frontend): clamp agent count inputs to min/max bounds
  services/frontend/src/components/ControlPanel.tsx
Due: frontend-lint-staged, frontend-typecheck

feat(infra): add Terraform bootstrap for S3 state backend and DynamoDB lock
  infrastructure/terraform/bootstrap/main.tf
  infrastructure/terraform/bootstrap/outputs.tf
  infrastructure/terraform/bootstrap/versions.tf
Due: none

feat(infra): add VPC module with subnets and security groups
  infrastructure/terraform/foundation/modules/vpc/main.tf
  infrastructure/terraform/foundation/modules/vpc/outputs.tf
  infrastructure/terraform/foundation/modules/vpc/security_groups.tf
  infrastructure/terraform/foundation/modules/vpc/variables.tf
Due: none

feat(infra): add Route 53 and ACM modules for DNS and TLS
  infrastructure/terraform/foundation/modules/acm/main.tf
  infrastructure/terraform/foundation/modules/acm/outputs.tf
  infrastructure/terraform/foundation/modules/acm/variables.tf
  infrastructure/terraform/foundation/modules/acm/versions.tf
  infrastructure/terraform/foundation/modules/route53/main.tf
  infrastructure/terraform/foundation/modules/route53/outputs.tf
  infrastructure/terraform/foundation/modules/route53/variables.tf
Due: none

feat(infra): add S3, CloudFront, and ECR Terraform modules
  infrastructure/terraform/foundation/modules/cloudfront/main.tf
  infrastructure/terraform/foundation/modules/cloudfront/outputs.tf
  infrastructure/terraform/foundation/modules/cloudfront/variables.tf
  infrastructure/terraform/foundation/modules/ecr/main.tf
  infrastructure/terraform/foundation/modules/ecr/outputs.tf
  infrastructure/terraform/foundation/modules/ecr/variables.tf
  infrastructure/terraform/foundation/modules/s3/main.tf
  infrastructure/terraform/foundation/modules/s3/outputs.tf
  infrastructure/terraform/foundation/modules/s3/variables.tf
Due: none

feat(infra): add Secrets Manager module with 9 secret groups
  infrastructure/terraform/foundation/modules/secrets_manager/main.tf
  infrastructure/terraform/foundation/modules/secrets_manager/outputs.tf
  infrastructure/terraform/foundation/modules/secrets_manager/variables.tf
  infrastructure/terraform/foundation/modules/secrets_manager/versions.tf
Due: none

feat(infra): add IAM module and foundation composition with S3 backend
  infrastructure/terraform/environments/prod/foundation.tfvars
  infrastructure/terraform/foundation/backend.tf
  infrastructure/terraform/foundation/main.tf
  infrastructure/terraform/foundation/modules/iam/ci_role.tf
  infrastructure/terraform/foundation/modules/iam/eks_roles.tf
  infrastructure/terraform/foundation/modules/iam/main.tf
  infrastructure/terraform/foundation/modules/iam/outputs.tf
  infrastructure/terraform/foundation/modules/iam/variables.tf
  infrastructure/terraform/foundation/outputs.tf
  infrastructure/terraform/foundation/terraform.tfvars
  infrastructure/terraform/foundation/variables.tf
  infrastructure/terraform/foundation/versions.tf
Due: none

fix(sim): default checkpoint restore to enabled on startup
  infrastructure/docker/compose.yml
  services/simulation/src/settings.py
Due: mypy-simulation, check-duplicate-class-names

feat(simulation): add S3CheckpointManager for cloud checkpoint persistence
  services/simulation/pyproject.toml
  services/simulation/src/db/s3_checkpoint.py
  services/simulation/tests/db/test_s3_checkpoint.py
Due: mypy-simulation, check-duplicate-class-names

feat(simulation): add checkpoint storage backend selector for SQLite/S3
  services/simulation/src/db/__init__.py
  services/simulation/src/engine/__init__.py
  services/simulation/src/settings.py
  services/simulation/tests/db/test_checkpoint_backend_selector.py
Due: mypy-simulation, check-duplicate-class-names

feat(frontend): add API availability detection and offline mode UI
  services/frontend/src/App.css
  services/frontend/src/App.tsx
  services/frontend/src/components/OfflineMode.tsx
  services/frontend/src/components/__tests__/OfflineMode.test.tsx
  services/frontend/src/hooks/__tests__/useApiHealth.test.ts
  services/frontend/src/hooks/useApiHealth.ts
Due: frontend-lint-staged, frontend-typecheck

feat(frontend): configure production env vars and static build stage
  services/frontend/.env.development
  services/frontend/.env.example
  services/frontend/.env.production
  services/frontend/Dockerfile
Due: none

fix(frontend): make offline rider layer a catch-all for unmatched trip states
  services/frontend/src/layers/agentLayers.ts
Due: frontend-lint-staged, frontend-typecheck

feat(ci): add build-and-push workflow for ECR image publishing
  .github/workflows/build-and-push.yml
Due: none

feat(ci): add deploy-frontend workflow for S3 static site deployment
  .github/workflows/deploy-frontend.yml
Due: none

feat(ci): add deploy and teardown workflows for platform lifecycle
  .github/workflows/deploy.yml
  .github/workflows/teardown.yml
Due: none

feat(terraform): add EKS cluster module with managed node group and add-ons
  infrastructure/terraform/platform/modules/eks/addons.tf
  infrastructure/terraform/platform/modules/eks/main.tf
  infrastructure/terraform/platform/modules/eks/outputs.tf
  infrastructure/terraform/platform/modules/eks/variables.tf
Due: none

Path conditions:
  mypy-simulation: any of: ^services/simulation/src/.*\.py$
  mypy-stream-processor: any of: ^services/stream-processor/src/.*\.py$
  mypy-spark-streaming: any of: ^services/spark-streaming/(framework|config|jobs|utils)/.*\.py$
  mypy-dbt: any of: ^services/dbt/[^/]+\.py$
  mypy-airflow: any of: ^services/airflow/dags/.*\.py$
  mypy-great-expectations: any of: ^quality/great-expectations/[^/]+\.py$
  mypy-superset: any of: ^analytics/superset/(superset_config\.py|dashboards/.*\.py)$
  mypy-lakehouse: any of: ^schemas/lakehouse/(schemas|config|scripts)/.*\.py$
  frontend-lint-staged: any of: ^services/frontend/.*\.(ts|tsx|css|json|md)$
  frontend-typecheck: any of: ^services/frontend/.*\.(ts|tsx)$
  check-duplicate-class-names: any of: \.py$
