Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-simulation, mypy-stream-processor, mypy-spark-streaming, mypy-dbt, mypy-airflow, mypy-great-expectations, mypy-superset, mypy-lakehouse, frontend-lint-staged, frontend-typecheck, check-duplicate-class-names

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^(data/sao-paulo/distritos-sp-raw\.geojson|data/osrm/sao-paulo-metro\.osm\.pbf|infrastructure/kubernetes/argocd/install\.yaml)$'

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.13

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  # Local hooks (Python mypy, Frontend TypeScript/ESLint)
  - repo: local
    hooks:
      - id: mypy-simulation
        name: mypy (simulation)
        entry: bash -c 'cd services/simulation && ./venv/bin/mypy src/'
        language: system
        files: ^services/simulation/src/.*\.py$
        pass_filenames: false

      - id: mypy-stream-processor
        name: mypy (stream-processor)
        entry: bash -c 'cd services/stream-processor && ./venv/bin/mypy src/'
        language: system
        files: ^services/stream-processor/src/.*\.py$
        pass_filenames: false

      - id: mypy-spark-streaming
        name: mypy (spark-streaming)
        entry: bash -c 'cd services && [ ! -L spark_streaming ] && ln -s spark-streaming spark_streaming; PYTHONPATH=. ./spark-streaming/venv/bin/mypy spark_streaming/framework/ spark_streaming/config/ spark_streaming/jobs/ spark_streaming/utils/'
        language: system
        files: ^services/spark-streaming/(framework|config|jobs|utils)/.*\.py$
        pass_filenames: false

      - id: mypy-dbt
        name: mypy (dbt)
        entry: bash -c 'cd services/dbt && ./venv/bin/mypy *.py'
        language: system
        files: ^services/dbt/[^/]+\.py$
        pass_filenames: false

      - id: mypy-airflow
        name: mypy (airflow)
        entry: bash -c 'cd services/airflow && ./venv/bin/mypy dags/'
        language: system
        files: ^services/airflow/dags/.*\.py$
        pass_filenames: false

      - id: mypy-great-expectations
        name: mypy (great-expectations)
        entry: bash -c 'cd quality/great-expectations && ./venv/bin/mypy *.py'
        language: system
        files: ^quality/great-expectations/[^/]+\.py$
        pass_filenames: false

      - id: mypy-superset
        name: mypy (superset)
        entry: bash -c 'cd analytics/superset && ./venv/bin/mypy superset_config.py dashboards/'
        language: system
        files: ^analytics/superset/(superset_config\.py|dashboards/.*\.py)$
        pass_filenames: false

      - id: mypy-lakehouse
        name: mypy (lakehouse)
        entry: bash -c 'cd schemas/lakehouse && ./venv/bin/mypy schemas/ config/ scripts/'
        language: system
        files: ^schemas/lakehouse/(schemas|config|scripts)/.*\.py$
        pass_filenames: false

      - id: frontend-lint-staged
        name: lint-staged (frontend)
        entry: bash -c 'cd services/frontend && npx lint-staged'
        language: system
        files: ^services/frontend/.*\.(ts|tsx|css|json|md)$
        pass_filenames: false

      - id: frontend-typecheck
        name: TypeScript (frontend)
        entry: bash -c 'cd services/frontend && npm run typecheck'
        language: system
        files: ^services/frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: check-duplicate-class-names
        name: Check for duplicate class names
        entry: python scripts/check_duplicate_class_names.py
        language: python
        pass_filenames: false
        files: \.py$

fix(ci): resolve integration test failures for DBT configuration
  .github/workflows/integration-tests.yml
  tests/integration/data_platform/conftest.py
Due: check-duplicate-class-names

fix(kafka): resolve event schema mismatches causing stream-processor validation errors
  schemas/kafka/trip_event.json
  services/simulation/src/engine/__init__.py
  services/simulation/src/events/schemas.py
  services/simulation/src/matching/matching_server.py
  services/simulation/src/matching/offer_timeout.py
  services/simulation/tests/matching/test_offer_timeout.py
  services/stream-processor/src/events/schemas.py
Due: mypy-simulation, mypy-stream-processor, check-duplicate-class-names

fix(frontend): allow new drivers to appear on map after initial snapshot
  services/frontend/src/hooks/useSimulationState.ts
Due: frontend-lint-staged, frontend-typecheck

fix(airflow): add Bronze table existence check before DBT runs
  infrastructure/scripts/check_bronze_tables.py
  services/airflow/dags/dbt_transformation_dag.py
Due: mypy-airflow, check-duplicate-class-names

feat(bronze): pre-create empty Bronze Delta tables on initialization
  infrastructure/scripts/init-bronze-metastore.py
Due: check-duplicate-class-names

fix(dbt): resolve Gold layer build failures and Spark memory issues
  infrastructure/docker/compose.yml
  services/dbt/macros/delta_source.sql
  services/dbt/macros/empty_source_guard.sql
  services/dbt/models/marts/dimensions/dim_drivers.sql
  services/dbt/models/marts/dimensions/dim_payment_methods.sql
  services/dbt/models/marts/dimensions/dim_riders.sql
  services/dbt/profiles.yml
Due: none

fix(airflow): add great-expectations to pip requirements
  infrastructure/docker/compose.yml
Due: none

fix(frontend): ensure all required Driver fields have defaults for new drivers
  services/frontend/src/hooks/useSimulationState.ts
Due: frontend-lint-staged, frontend-typecheck

feat(airflow): add dbt_seed task to Gold DAG for seeding data
  services/airflow/dags/dbt_transformation_dag.py
Due: mypy-airflow, check-duplicate-class-names

feat(perf): improve Docker lifecycle management in performance runner
  tests/performance/README.md
  tests/performance/__init__.py
  tests/performance/analysis/__init__.py
  tests/performance/analysis/resource_model.py
  tests/performance/analysis/statistics.py
  tests/performance/analysis/visualizations.py
  tests/performance/collectors/__init__.py
  tests/performance/collectors/docker_lifecycle.py
  tests/performance/collectors/docker_stats.py
  tests/performance/collectors/oom_detector.py
  tests/performance/collectors/simulation_api.py
  tests/performance/config.py
  tests/performance/requirements.txt
  tests/performance/runner.py
  tests/performance/scenarios/__init__.py
  tests/performance/scenarios/base.py
  tests/performance/scenarios/baseline.py
  tests/performance/scenarios/duration_leak.py
  tests/performance/scenarios/load_scaling.py
  tests/performance/scenarios/reset_behavior.py
Due: check-duplicate-class-names

feat(simulation): implement per-mode spawn rates for drivers and riders
  services/frontend/src/components/ControlPanel.tsx
  services/simulation/src/api/routes/agents.py
  services/simulation/src/engine/__init__.py
  services/simulation/src/engine/agent_factory.py
  services/simulation/src/settings.py
  services/simulation/tests/api/test_agent_creation.py
Due: mypy-simulation, frontend-lint-staged, frontend-typecheck, check-duplicate-class-names

feat(superset): add Bronze and Silver layer dashboards with SQL query libraries
  analytics/superset/dashboards/bronze_queries.py
  analytics/superset/dashboards/create_bronze_pipeline_dashboard.py
  analytics/superset/dashboards/create_silver_quality_dashboard.py
  analytics/superset/dashboards/gold_queries.py
  analytics/superset/dashboards/import_dashboards.py
  analytics/superset/dashboards/silver_queries.py
  analytics/superset/docker-entrypoint.sh
  infrastructure/docker/compose.yml
Due: mypy-superset, check-duplicate-class-names

refactor(superset): centralize SQL queries and standardize database naming
  analytics/superset/CONTEXT.md
  analytics/superset/README.md
  analytics/superset/dashboards/README.md
  analytics/superset/dashboards/create_demand_analysis_dashboard.py
  analytics/superset/dashboards/create_driver_performance_dashboard.py
  analytics/superset/dashboards/create_operations_dashboard_v2.py
  analytics/superset/dashboards/create_revenue_analytics_dashboard.py
  analytics/superset/tests/test_all_dashboards.py
Due: mypy-superset, check-duplicate-class-names

refactor(api): fetch container memory limits from cAdvisor dynamically
  services/simulation/src/api/routes/metrics.py
Due: mypy-simulation, check-duplicate-class-names

refactor(perf): convert duration leak test to single continuous run with checkpoints
  .gitignore
  tests/performance/README.md
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/duration_leak.py
Due: check-duplicate-class-names

refactor(perf): measure all containers with both CPU and memory metrics
  pyproject.toml
  tests/performance/analysis/resource_model.py
  tests/performance/analysis/statistics.py
  tests/performance/analysis/visualizations.py
  tests/performance/collectors/docker_stats.py
  tests/performance/collectors/simulation_api.py
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/base.py
  tests/performance/scenarios/duration_leak.py
  tests/performance/scenarios/reset_behavior.py
Due: check-duplicate-class-names

feat(perf): add stress test scenario for resource threshold detection
  tests/performance/analysis/visualizations.py
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/__init__.py
  tests/performance/scenarios/stress_test.py
Due: check-duplicate-class-names

fix(docker): quote JVM options in Spark commands to prevent argument splitting
  infrastructure/docker/compose.yml
Due: none

feat(perf): add automated report generation with findings analysis
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/manifests/airflow-scheduler.yaml
  infrastructure/kubernetes/manifests/grafana.yaml
  infrastructure/kubernetes/manifests/spark-thrift-server.yaml
  tests/performance/analysis/__init__.py
  tests/performance/analysis/findings.py
  tests/performance/analysis/report_generator.py
  tests/performance/analysis/visualizations.py
  tests/performance/collectors/docker_lifecycle.py
  tests/performance/config.py
  tests/performance/runner.py
Due: check-duplicate-class-names

refactor(perf): reorganize tests to sequential baseline → stress → duration flow
  tests/performance/README.md
  tests/performance/analysis/__init__.py
  tests/performance/analysis/findings.py
  tests/performance/analysis/report_generator.py
  tests/performance/analysis/resource_model.py
  tests/performance/analysis/visualizations.py
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/__init__.py
  tests/performance/scenarios/base.py
  tests/performance/scenarios/duration_leak.py
  tests/performance/scenarios/load_scaling.py
  tests/performance/scenarios/reset_behavior.py
Due: check-duplicate-class-names

refactor(perf): simplify docker lifecycle by removing timeout budget
  infrastructure/docker/compose.yml
  tests/performance/collectors/docker_lifecycle.py
  tests/performance/config.py
Due: check-duplicate-class-names

refactor(perf): skip redundant container restart between baseline and stress test
  tests/performance/scenarios/base.py
  tests/performance/scenarios/stress_test.py
Due: check-duplicate-class-names

refactor(perf): remove --skip-restart flag from run command
  tests/performance/runner.py
  tests/performance/scenarios/base.py
Due: check-duplicate-class-names

fix(spark): reduce memory growth in spark-thrift-server
  infrastructure/docker/compose.yml
Due: none

fix(dbt): reduce test load to prevent spark-thrift-server OOM
  infrastructure/docker/compose.yml
  services/airflow/dags/dbt_transformation_dag.py
  services/dbt/dbt_project.yml
  services/dbt/models/marts/aggregates/schema.yml
  services/dbt/models/marts/dimensions/schema.yml
  services/dbt/models/marts/facts/schema.yml
  services/dbt/models/staging/schema.yml
  services/dbt/tests/anomaly_models_schema.yml
Due: mypy-airflow, check-duplicate-class-names

fix(spark): increase memory limits for high and low volume ingestion services
  infrastructure/docker/compose.yml
Due: none

perf: tune resource limits and batching across data pipeline
  infrastructure/docker/compose.yml
  services/dbt/models/marts/dimensions/dim_time.sql
  services/dbt/models/staging/schema.yml
  services/dbt/tests/test_anomalies_all_union.sql
  services/dbt/tests/test_gps_outlier_detection.sql
  services/dbt/tests/test_impossible_speed_detection.sql
  services/simulation/src/kafka/producer.py
  services/spark-streaming/jobs/bronze_ingestion_high_volume.py
  services/spark-streaming/jobs/bronze_ingestion_low_volume.py
  services/spark-streaming/jobs/multi_topic_streaming_job.py
  services/stream-processor/src/processor.py
  services/stream-processor/src/settings.py
Due: mypy-simulation, mypy-stream-processor, mypy-spark-streaming, check-duplicate-class-names

feat(metrics): add system-wide CPU/memory totals and normalize CPU by cores
  services/frontend/src/components/InfrastructurePanel.module.css
  services/frontend/src/components/InfrastructurePanel.tsx
  services/frontend/src/types/api.ts
  services/simulation/src/api/models/metrics.py
  services/simulation/src/api/routes/metrics.py
Due: mypy-simulation, frontend-lint-staged, frontend-typecheck, check-duplicate-class-names

fix(airflow): prevent DAGs from triggering immediately on startup
  services/airflow/dags/dbt_transformation_dag.py
  services/airflow/dags/dlq_monitoring_dag.py
  services/airflow/dags/streaming_jobs_dag.py
  services/airflow/tests/test_dbt_transformation_dag.py
  services/airflow/tests/test_dlq_monitoring_dag.py
Due: mypy-airflow, check-duplicate-class-names

feat(frontend): add tooltip explaining container-only metrics
  services/frontend/src/components/InfrastructurePanel.tsx
Due: frontend-lint-staged, frontend-typecheck

fix(metrics): normalize per-container CPU to percentage of all cores
  services/simulation/src/api/routes/metrics.py
Due: mypy-simulation, check-duplicate-class-names

chore(airflow): remove deprecated bronze_initialization and streaming_jobs_lifecycle DAGs
  services/airflow/CONTEXT.md
  services/airflow/README.md
  services/airflow/dags/CONTEXT.md
  services/airflow/dags/bronze_init_dag.py
  services/airflow/dags/streaming_jobs_dag.py
  services/airflow/tests/test_streaming_jobs_dag.py
Due: mypy-airflow, check-duplicate-class-names

fix(superset): patch PyHive for Spark 4.x table listing compatibility
  analytics/superset/docker-entrypoint.sh
Due: none

feat(docker): add restart policies to 8 core services
  infrastructure/docker/compose.yml
Due: none

refactor(superset): replace ZIP import with programmatic dashboard provisioning
  analytics/superset/CONTEXT.md
  analytics/superset/README.md
  analytics/superset/dashboards/README.md
  analytics/superset/dashboards/create_bronze_pipeline_dashboard.py
  analytics/superset/dashboards/create_demand_analysis_dashboard.py
  analytics/superset/dashboards/create_driver_performance_dashboard.py
  analytics/superset/dashboards/create_operations_dashboard.py
  analytics/superset/dashboards/create_operations_dashboard_v2.py
  analytics/superset/dashboards/create_revenue_analytics_dashboard.py
  analytics/superset/dashboards/create_silver_quality_dashboard.py
  analytics/superset/dashboards/demand-analysis.json
  analytics/superset/dashboards/driver-performance.json
  analytics/superset/dashboards/import_dashboards.py
  analytics/superset/dashboards/operations.json
  analytics/superset/dashboards/provision_dashboards.py
  analytics/superset/dashboards/revenue-analytics.json
  analytics/superset/dashboards/superset_client.py
  analytics/superset/docker-entrypoint.sh
  analytics/superset/scripts/export-dashboards.sh
  analytics/superset/tests/test_all_dashboards.py
Due: mypy-superset, check-duplicate-class-names

fix(superset): fix RISON query format and make all dashboards optional
  analytics/superset/dashboards/provision_dashboards.py
  analytics/superset/dashboards/superset_client.py
Due: mypy-superset, check-duplicate-class-names

feat(airflow): add Superset dashboard provisioning DAG triggered by Gold layer
  infrastructure/docker/compose.yml
  services/airflow/dags/dbt_transformation_dag.py
  services/airflow/dags/superset_provisioning_dag.py
  services/airflow/tests/test_superset_provisioning_dag.py
Due: mypy-airflow, check-duplicate-class-names

fix(dbt): resolve Gold layer test failures for zone demand and payment splits
  services/dbt/models/marts/aggregates/agg_hourly_zone_demand.sql
  services/dbt/models/marts/facts/fact_payments.sql
  services/dbt/tests/singular/test_platform_revenue_consistency.sql
Due: none

feat(docker): increase bronze ingestion memory limits to 2GB
  infrastructure/docker/compose.yml
Due: none
