Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-simulation, mypy-stream-processor, mypy-dbt, mypy-airflow, mypy-great-expectations, mypy-lakehouse, frontend-lint-staged, frontend-typecheck, kubeconform

mypy-simulation:
  name: mypy (simulation)
  entry: bash -c 'cd services/simulation && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-stream-processor:
  name: mypy (stream-processor)
  entry: bash -c 'cd services/stream-processor && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-dbt:
  name: mypy (dbt)
  entry: bash -c 'cd tools/dbt && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-airflow:
  name: mypy (airflow)
  entry: bash -c 'cd services/airflow && ./venv/bin/mypy dags/'
  language: system
  pass_filenames: false

mypy-great-expectations:
  name: mypy (great-expectations)
  entry: bash -c 'cd tools/great-expectations && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-lakehouse:
  name: mypy (lakehouse)
  entry: bash -c 'cd schemas/lakehouse && ./venv/bin/mypy schemas/ config/ scripts/'
  language: system
  pass_filenames: false

frontend-lint-staged:
  name: lint-staged (frontend)
  entry: bash -c 'cd services/frontend && npx lint-staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd services/frontend && npm run typecheck'
  language: system
  pass_filenames: false

kubeconform:
  name: kubeconform
  ...

feat(ui): separate connectivity and latency signals in infrastructure panel
  services/control-panel/src/components/InfrastructurePanel.module.css
  services/control-panel/src/components/InfrastructurePanel.tsx
  services/simulation/src/api/routes/metrics.py
Due: mypy-simulation

perf(stress): increase spawn batch size to 18 agents per interval
  tests/performance/config.py
Due: none

fix(docker): pre-install node_modules at build time to fix control-panel health check
  services/control-panel/Dockerfile
  services/simulation/src/engine/agent_factory.py
Due: mypy-simulation

perf(infra): double simulation container memory limits
  docs/INFRASTRUCTURE.md
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/manifests/simulation.yaml
  infrastructure/kubernetes/overlays/CONTEXT.md
Due: kubeconform

feat(perf): add RTR (Real-Time Ratio) stop condition to stress and speed scaling tests
  tests/performance/analysis/findings.py
  tests/performance/analysis/visualizations.py
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/base.py
  tests/performance/scenarios/speed_scaling.py
  tests/performance/scenarios/stress_test.py
Due: none

perf(infra): increase bronze ingestion and loki memory limits
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/manifests/bronze-ingestion.yaml
  infrastructure/kubernetes/manifests/loki.yaml
  infrastructure/kubernetes/tests/test_data_platform.sh
  services/loki/README.md
Due: kubeconform

feat(frontend): redesign offline landing page with dark theme and vivid green
  services/control-panel/src/App.css
  services/control-panel/src/components/OfflineMode.tsx
Due: none

fix(frontend): improve control panel statistics labels and merge matched layer
  services/control-panel/src/components/LayerControls.tsx
  services/control-panel/src/components/MapLegend.tsx
  services/control-panel/src/components/StatsPanel.tsx
  services/control-panel/src/components/__tests__/LayerControls.test.tsx
  services/control-panel/src/hooks/__tests__/useSimulationLayers.test.ts
  services/control-panel/src/hooks/useSimulationLayers.ts
  services/control-panel/src/layers/__tests__/agentLayers.test.ts
  services/control-panel/src/layers/agentLayers.ts
  services/control-panel/src/types/layers.ts
Due: none

fix(pipeline): fix end-to-end pipeline and dashboard validation issues
  infrastructure/scripts/register-trino-tables.py
  scripts/dev_test.py
  services/grafana/dashboards/monitoring/simulation-metrics.json
  services/simulation/src/api/app.py
  services/simulation/src/metrics/prometheus_exporter.py
  tools/dbt/models/marts/aggregates/agg_daily_driver_performance.sql
  tools/dbt/models/marts/facts/fact_trips.sql
Due: mypy-simulation

fix(frontend): center offline page content with margins on all sides
  services/control-panel/src/App.css
  services/control-panel/src/components/OfflineMode.tsx
Due: none

fix(frontend): fix offline page scrollability
  services/control-panel/src/App.css
Due: none

fix(frontend): fix scrolling on offline page
  services/control-panel/src/components/OfflineMode.tsx
Due: none

refactor(perf): restructure performance test reporting with aggregated findings
  tests/performance/analysis/__init__.py
  tests/performance/analysis/findings.py
  tests/performance/analysis/report_generator.py
  tests/performance/analysis/visualizations.py
  tests/performance/requirements.txt
  tests/performance/runner.py
Due: none

refactor(perf): remove automated findings/verdict layer, keep raw data
  tests/performance/analysis/__init__.py
  tests/performance/analysis/findings.py
  tests/performance/analysis/report_generator.py
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/speed_scaling.py
Due: none

fix(infra): fix overall status showing unhealthy due to stopped Spark Thrift Server
  services/simulation/src/api/routes/metrics.py
Due: mypy-simulation

feat(frontend): add trip lifecycle animation to offline page
  services/control-panel/package-lock.json
  services/control-panel/package.json
  services/control-panel/src/App.css
  services/control-panel/src/components/OfflineMode.tsx
  services/control-panel/src/components/TripLifecycleAnimation.module.css
  services/control-panel/src/components/TripLifecycleAnimation.tsx
  services/control-panel/src/components/__tests__/OfflineMode.test.tsx
  services/control-panel/src/components/__tests__/TripLifecycleAnimation.test.tsx
  services/control-panel/src/components/tripLifecyclePhases.ts
Due: none

refactor(frontend): centralize colors into single theme system
  services/control-panel/src/App.css
  services/control-panel/src/App.tsx
  services/control-panel/src/components/AgentPlacement.module.css
  services/control-panel/src/components/ConfirmModal.module.css
  services/control-panel/src/components/ControlPanel.module.css
  services/control-panel/src/components/InfrastructurePanel.module.css
  services/control-panel/src/components/InspectorPopup.module.css
  services/control-panel/src/components/LayerControls.module.css
  services/control-panel/src/components/LayerControls.tsx
  services/control-panel/src/components/LoginScreen.tsx
  services/control-panel/src/components/Map.module.css
  services/control-panel/src/components/MapLegend.tsx
  services/control-panel/src/components/NextActionsSection.module.css
  services/control-panel/src/components/TripLifecycleAnimation.tsx
  services/control-panel/src/components/__tests__/MapLegend.test.tsx
  services/control-panel/src/index.css
  services/control-panel/src/layers/agentLayers.ts
  services/control-panel/src/layers/tripLayers.ts
  services/control-panel/src/main.tsx
  services/control-panel/src/theme.ts
  services/control-panel/src/utils/colorUtils.ts
Due: none

fix(metrics): replace avg_wait with avg_match to measure request-to-match time
  schemas/api/openapi.json
  services/control-panel/src/components/StatsPanel.tsx
  services/control-panel/src/types/api.generated.ts
  services/control-panel/src/types/api.ts
  services/grafana/dashboards/monitoring/simulation-metrics.json
  services/simulation/src/api/app.py
  services/simulation/src/api/models/metrics.py
  services/simulation/src/api/routes/metrics.py
  services/simulation/src/matching/matching_server.py
  services/simulation/src/metrics/prometheus_exporter.py
  services/simulation/tests/api/conftest.py
  services/simulation/tests/matching/test_matching_server.py
Due: mypy-simulation

style(frontend): use dashed line for pending route in offline animation
  services/control-panel/src/components/TripLifecycleAnimation.tsx
Due: none

feat(checkpoint): enable S3 checkpoint restore and local-to-cloud migration
  CONTEXT.md
  docs/CLOUD-DEPLOYMENT.md
  docs/DATA-MIGRATION.md
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/overlays/production/simulation-patch.yaml
  infrastructure/scripts/README.md
  scripts/sync-to-cloud.py
  services/simulation/CONTEXT.md
  services/simulation/README.md
  services/simulation/src/db/CONTEXT.md
  services/simulation/src/db/__init__.py
  services/simulation/src/db/s3_checkpoint.py
  services/simulation/src/engine/__init__.py
  services/simulation/tests/db/test_s3_checkpoint.py
Due: mypy-simulation

feat(matching): defer offer acceptance by driver response_time DNA parameter
  services/simulation/src/agents/driver_agent.py
  services/simulation/src/engine/__init__.py
  services/simulation/src/matching/matching_server.py
  services/simulation/tests/agents/test_driver_offer_response.py
  services/simulation/tests/matching/test_matching_server.py
Due: mypy-simulation

fix(tests): align test assertions with current defaults and paths
  services/control-panel/src/components/__tests__/TripLifecycleAnimation.test.tsx
  services/simulation/tests/api/test_agent_creation.py
  services/simulation/tests/engine/test_agent_factory.py
  services/simulation/tests/test_api_contract.py
Due: none

feat(trips): wire cancellation_tendency DNA for pre-pickup driver cancellation
  services/simulation/src/trips/trip_executor.py
  services/simulation/tests/trips/test_trip_executor.py
Due: mypy-simulation

feat(rider): check max_surge_multiplier DNA before requesting trips
  services/simulation/src/agents/rider_agent.py
  services/simulation/tests/agents/test_rider_agent.py
Due: mypy-simulation

feat(driver): add post-trip home repositioning and offline teleport
  services/simulation/src/agents/driver_agent.py
  services/simulation/src/engine/__init__.py
  services/simulation/src/engine/agent_factory.py
  services/simulation/src/trips/drive_simulation.py
  services/simulation/tests/agents/test_driver_repositioning.py
Due: mypy-simulation

refactor(data-model): remove preferred_zones from entire system
  schemas/api/openapi.json
  schemas/kafka/driver_profile_event.json
  schemas/lakehouse/schemas/bronze_tables.py
  schemas/lakehouse/tests/test_bronze_schemas.py
  services/control-panel/src/components/inspector/__tests__/DriverActionsSection.test.tsx
  services/control-panel/src/components/inspector/__tests__/DriverInspector.test.tsx
  services/control-panel/src/hooks/__tests__/useAgentState.test.ts
  services/control-panel/src/types/api.generated.ts
  services/control-panel/src/types/api.ts
  services/simulation/src/agents/dna.py
  services/simulation/src/agents/dna_generator.py
  services/simulation/src/agents/driver_agent.py
  services/simulation/src/api/models/agents.py
  services/simulation/src/api/routes/agents.py
  services/simulation/src/events/schemas.py
  services/simulation/tests/agents/test_agent_events.py
  services/simulation/tests/agents/test_dna_generator.py
  services/simulation/tests/agents/test_driver_offer_response.py
  services/simulation/tests/agents/test_rating_submission.py
  services/simulation/tests/db/test_checkpoint_integration.py
  services/simulation/tests/db/test_driver_repository.py
  services/simulation/tests/db/test_s3_checkpoint.py
  services/simulation/tests/engine/test_agent_factory.py
  services/simulation/tests/events/test_event_schemas.py
  services/simulation/tests/factories.py
  services/simulation/tests/kafka/test_json_schemas.py
  services/simulation/tests/matching/test_matching_server.py
  services/simulation/tests/redis/test_event_filter.py
  services/stream-processor/src/events/schemas.py
  services/stream-processor/tests/test_handler_validation.py
  tests/integration/data_platform/fixtures/driver_events.py
  tests/integration/data_platform/utils/sql_helpers.py
  tools/dbt/models/marts/dimensions/dim_drivers.sql
  tools/dbt/models/staging/stg_drivers.sql
  tools/dbt/setup_all_bronze_tables.py
Due: mypy-simulation, mypy-stream-processor, mypy-dbt, mypy-lakehouse

feat(control-panel): replace OfflineMode/LoginScreen with LandingPage and PasswordDialog
  services/control-panel/src/App.css
  services/control-panel/src/App.tsx
  services/control-panel/src/components/LandingPage.tsx
  services/control-panel/src/components/LoginScreen.tsx
  services/control-panel/src/components/PasswordDialog.tsx
  services/control-panel/src/components/__tests__/LandingPage.test.tsx
  services/control-panel/src/components/__tests__/LoginScreen.test.tsx
  services/control-panel/src/components/__tests__/PasswordDialog.test.tsx
Due: none

feat(lambda): add auth-deploy Lambda for API key validation and deploy triggering
  .checkov.yaml
  infrastructure/docker/compose.yml
  infrastructure/lambda/auth-deploy/handler.py
  infrastructure/lambda/auth-deploy/requirements.txt
  infrastructure/lambda/auth-deploy/test_handler.py
  infrastructure/scripts/seed-secrets.py
  infrastructure/terraform/foundation/main.tf
  infrastructure/terraform/foundation/modules/lambda/main.tf
  infrastructure/terraform/foundation/modules/lambda/outputs.tf
  infrastructure/terraform/foundation/modules/lambda/variables.tf
  infrastructure/terraform/foundation/modules/lambda/versions.tf
  infrastructure/terraform/foundation/modules/secrets_manager/main.tf
  infrastructure/terraform/foundation/modules/secrets_manager/outputs.tf
  infrastructure/terraform/foundation/outputs.tf
Due: none

feat(control-panel): authenticate via Lambda with simulation API fallback
  services/control-panel/.env.development
  services/control-panel/.env.production
  services/control-panel/src/components/PasswordDialog.tsx
  services/control-panel/src/components/__tests__/PasswordDialog.test.tsx
  services/control-panel/src/services/__tests__/lambda.test.ts
  services/control-panel/src/services/lambda.ts
  services/control-panel/src/vite-env.d.ts
Due: none

feat(control-panel): add LaunchDemoPanel for deploy flow when API offline
  services/control-panel/src/App.tsx
  services/control-panel/src/components/LaunchDemoPanel.module.css
  services/control-panel/src/components/LaunchDemoPanel.tsx
Due: none

style(control-panel): increase right panel width by 33% (320px → 426px)
  services/control-panel/src/components/ControlPanel.module.css
Due: none

chore(control-panel): remove canvas-confetti dependency
  services/control-panel/package-lock.json
  services/control-panel/package.json
  services/control-panel/src/components/TripLifecycleAnimation.module.css
  services/control-panel/src/components/TripLifecycleAnimation.tsx
  services/control-panel/src/components/__tests__/LandingPage.test.tsx
  services/control-panel/src/components/__tests__/TripLifecycleAnimation.test.tsx
Due: none

feat(simulation): introduce awaiting_pickup rider state
  services/simulation/src/agents/rider_agent.py
  services/simulation/src/api/app.py
  services/simulation/src/api/models/metrics.py
  services/simulation/src/api/models/simulation.py
  services/simulation/src/api/routes/metrics.py
  services/simulation/src/api/routes/simulation.py
  services/simulation/src/api/snapshots.py
  services/simulation/src/matching/matching_server.py
  services/simulation/src/metrics/prometheus_exporter.py
  services/simulation/tests/agents/test_awaiting_pickup_state.py
Due: mypy-simulation

refactor(stream-processor): adapt Pydantic schemas to new state vocabulary
  services/stream-processor/src/events/schemas.py
  services/stream-processor/tests/test_handler_validation.py
  services/stream-processor/tests/test_handlers.py
Due: mypy-stream-processor

refactor(control-panel): adopt new state vocabulary across all frontend surfaces
  services/control-panel/src/components/LayerControls.tsx
  services/control-panel/src/components/MapLegend.tsx
  services/control-panel/src/components/StatsPanel.tsx
  services/control-panel/src/components/TripLifecycleAnimation.tsx
  services/control-panel/src/components/__tests__/ControlPanel.test.tsx
  services/control-panel/src/components/__tests__/InspectorPopup.test.tsx
  services/control-panel/src/components/__tests__/LayerControls.test.tsx
  services/control-panel/src/components/__tests__/MapLegend.test.tsx
  services/control-panel/src/components/inspector/DriverActionsSection.tsx
  services/control-panel/src/components/inspector/DriverInspector.tsx
  services/control-panel/src/components/inspector/RiderActionsSection.tsx
  services/control-panel/src/components/inspector/RiderInspector.tsx
  services/control-panel/src/components/inspector/__tests__/DriverActionsSection.test.tsx
  services/control-panel/src/components/inspector/__tests__/DriverInspector.test.tsx
  services/control-panel/src/components/inspector/__tests__/RiderActionsSection.test.tsx
  services/control-panel/src/components/inspector/__tests__/RiderInspector.test.tsx
  services/control-panel/src/hooks/__tests__/useAgentState.test.ts
  services/control-panel/src/hooks/__tests__/useSimulationLayers.test.ts
  services/control-panel/src/hooks/__tests__/useSimulationState.test.ts
  services/control-panel/src/hooks/__tests__/useWebSocket.test.ts
  services/control-panel/src/hooks/useSimulationState.ts
  services/control-panel/src/layers/__tests__/agentLayers.test.ts
  services/control-panel/src/layers/agentLayers.ts
  services/control-panel/src/types/api.generated.ts
  services/control-panel/src/types/api.ts
  services/control-panel/src/utils/__tests__/tripStateFormatter.test.ts
  services/control-panel/src/utils/driverStatusFormatter.ts
  services/control-panel/src/utils/riderStatusFormatter.ts
  services/control-panel/src/utils/tripStateFormatter.ts
Due: none

refactor(data-pipeline): adopt new state vocabulary across DBT models, tests, seeds, and docs
  tools/dbt/models/marts/aggregates/agg_daily_driver_performance.sql
  tools/dbt/models/marts/facts/fact_trips.sql
  tools/dbt/models/marts/marts_overview.md
  tools/dbt/models/staging/anomalies_zombie_drivers.sql
  tools/dbt/models/staging/schema.yml
  tools/dbt/models/staging/staging_overview.md
  tools/dbt/seeds/test_data/seed_zombie_driver_test.csv
Due: none

feat(simulation): add random mid-trip rider cancellations (0.2%)
  infrastructure/docker/compose.yml
  services/grafana/dashboards/business-intelligence/demand-analysis.json
  services/grafana/dashboards/operations/platform-operations.json
  services/simulation/src/settings.py
  services/simulation/src/trip.py
  services/simulation/src/trips/trip_executor.py
  services/simulation/tests/agents/test_trip_execution.py
  services/simulation/tests/test_settings.py
  tools/dbt/models/marts/aggregates/agg_hourly_zone_demand.sql
  tools/dbt/models/marts/facts/fact_cancellations.sql
  tools/dbt/models/marts/facts/schema.yml
  tools/dbt/models/staging/schema.yml
  tools/dbt/models/staging/stg_trips.sql
Due: mypy-simulation

refactor(control-panel): unify color palette across all frontend surfaces
  services/control-panel/index.html
  services/control-panel/public/favicon.svg
  services/control-panel/src/App.css
  services/control-panel/src/App.tsx
  services/control-panel/src/components/AgentPlacement.module.css
  services/control-panel/src/components/ConfirmModal.module.css
  services/control-panel/src/components/ControlPanel.module.css
  services/control-panel/src/components/InfrastructurePanel.module.css
  services/control-panel/src/components/InspectorPopup.module.css
  services/control-panel/src/components/LaunchDemoPanel.module.css
  services/control-panel/src/components/LayerControls.module.css
  services/control-panel/src/components/LayerControls.tsx
  services/control-panel/src/components/Map.module.css
  services/control-panel/src/components/MapLegend.module.css
  services/control-panel/src/components/MapLegend.tsx
  services/control-panel/src/components/NextActionsSection.module.css
  services/control-panel/src/components/PerformancePanel.module.css
  services/control-panel/src/components/Tooltip.module.css
  services/control-panel/src/components/TripLifecycleAnimation.tsx
  services/control-panel/src/components/inspector/Inspector.module.css
  services/control-panel/src/index.css
  services/control-panel/src/theme.ts
  services/control-panel/src/types/api.generated.ts
Due: none

fix(control-panel): fix rider stats, clean up infrastructure cards, and improve layout
  services/control-panel/src/components/ControlPanel.module.css
  services/control-panel/src/components/ControlPanel.tsx
  services/control-panel/src/components/InfrastructurePanel.module.css
  services/control-panel/src/components/InfrastructurePanel.tsx
  services/control-panel/src/components/InspectorPopup.tsx
  services/control-panel/src/components/StatsPanel.tsx
  services/control-panel/src/types/api.ts
  services/simulation/src/api/models/metrics.py
  services/simulation/src/api/redis_subscriber.py
  services/simulation/src/api/routes/metrics.py
  services/simulation/src/api/routes/puppet.py
Due: mypy-simulation

Path conditions:
  mypy-simulation: any of: ^services/simulation/src/.*\.py$
  mypy-stream-processor: any of: ^services/stream-processor/src/.*\.py$
  mypy-dbt: any of: ^tools/dbt/[^/]+\.py$
  mypy-airflow: any of: ^services/airflow/dags/.*\.py$
  mypy-great-expectations: any of: ^tools/great-expectations/[^/]+\.py$
  mypy-lakehouse: any of: ^schemas/lakehouse/(schemas|config|scripts)/.*\.py$
  frontend-lint-staged: any of: ^services/frontend/.*\.(ts|tsx|css|json|md)$
  frontend-typecheck: any of: ^services/frontend/.*\.(ts|tsx)$
  kubeconform: any of: ^infrastructure/kubernetes/.*\.yaml$ and \.(yaml|yml)$ and not (^infrastructure/kubernetes/(argocd/install\.yaml|overlays/))
