Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-simulation, mypy-stream-processor, mypy-dbt, mypy-airflow, mypy-great-expectations, mypy-lakehouse, frontend-lint-staged, frontend-typecheck, kubeconform

Path conditions:
  mypy-simulation: any of: ^services/simulation/src/.*\.py$
  mypy-stream-processor: any of: ^services/stream-processor/src/.*\.py$
  mypy-dbt: any of: ^tools/dbt/[^/]+\.py$
  mypy-airflow: any of: ^services/airflow/dags/.*\.py$
  mypy-great-expectations: any of: ^tools/great-expectations/[^/]+\.py$
  mypy-lakehouse: any of: ^schemas/lakehouse/(schemas|config|scripts)/.*\.py$
  frontend-lint-staged: any of: ^services/frontend/.*\.(ts|tsx|css|json|md)$
  frontend-typecheck: any of: ^services/frontend/.*\.(ts|tsx)$
  kubeconform: any of: ^infrastructure/kubernetes/.*\.yaml$ and \.(yaml|yml)$ and not (^infrastructure/kubernetes/(argocd/install\.yaml|overlays/))

test(frontend): add tests for deep dives, service icons, and cleanup globals
  services/control-panel/src/components/__tests__/LandingPage.test.tsx
Due: none

infra(eks): upgrade cluster version to 1.35
  .checkov.yaml
  infrastructure/terraform/environments/prod/platform.tfvars
  infrastructure/terraform/platform/variables.tf
Due: none

fix(frontend): fix architecture diagram overlapping blocks and edge routing
  services/control-panel/src/components/ArchitectureDiagram.tsx
  services/control-panel/src/components/__tests__/ArchitectureDiagram.test.tsx
Due: none

fix(ci): fetch Lambda URL from AWS instead of manual GitHub variable
  .github/workflows/build-images.yml
  .github/workflows/deploy.yml
Due: none

infra(iam): add lambda:GetFunctionUrlConfig to GitHub Actions role
  infrastructure/terraform/foundation/modules/iam/ci_role.tf
Due: none

docs: fix stale speed multiplier bounds (1x–1024x → 0.5x–128x)
  docs/SECURITY.md
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/manifests/performance-controller.yaml
  services/control-panel/src/components/LandingPage.tsx
  services/performance-controller/CONTEXT.md
  services/simulation/CONTEXT.md
  services/simulation/README.md
  tests/performance/CONTEXT.md
  tests/performance/README.md
Due: kubeconform

feat(frontend): update landing page with accurate stats, DevOps/Cloud groups, and Performance Controller
  services/control-panel/public/icons/tech/argocd.svg
  services/control-panel/public/icons/tech/aws.svg
  services/control-panel/public/icons/tech/performance-controller.svg
  services/control-panel/src/App.css
  services/control-panel/src/components/ArchitectureDiagram.tsx
  services/control-panel/src/components/LandingPage.tsx
  services/control-panel/src/components/TripLifecycleAnimation.tsx
  services/control-panel/src/components/__tests__/ArchitectureDiagram.test.tsx
  services/control-panel/src/components/__tests__/LandingPage.test.tsx
Due: none

feat(frontend): rearrange architecture diagram to 3-column layout
  services/control-panel/src/components/ArchitectureDiagram.tsx
Due: none

feat(frontend): refine hero animation blink timing, pickup route fadeout, and pickup bullet
  services/control-panel/src/components/TripLifecycleAnimation.tsx
  services/control-panel/src/components/tripLifecyclePhases.ts
Due: none

refactor(dbt-configuration): rewrite profiles.yml with duckdb and glue targets
  services/control-panel/src/index.css
  tools/dbt/profiles.yml
Due: none

feat(airflow-engine-switching): introduce DBT_RUNNER and update DAG dbt commands
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/manifests/airflow-dags.yaml
  infrastructure/kubernetes/manifests/airflow-scheduler.yaml
  services/airflow/dags/dbt_transformation_dag.py
Due: mypy-airflow, kubeconform

feat(airflow-engine-switching): make export/register DAG tasks conditional on DBT_RUNNER
  infrastructure/kubernetes/manifests/airflow-dags.yaml
  services/airflow/dags/dbt_transformation_dag.py
Due: mypy-airflow, kubeconform

refactor(spark-removal-services): remove spark/openldap from docker compose and delete service directories
  infrastructure/docker/CONTEXT.md
  infrastructure/docker/README.md
  infrastructure/docker/compose.test.yml
  infrastructure/docker/compose.yml
  services/openldap/CONTEXT.md
  services/openldap/README.md
  services/openldap/bootstrap.ldif
  services/spark-thrift-server/CONTEXT.md
  services/spark-thrift-server/README.md
Due: none

refactor(spark-removal-services): remove pyhive scripts, stubs, and python dependencies
  .github/workflows/ci.yml
  tools/dbt/CONTEXT.md
  tools/dbt/README.md
  tools/dbt/drop_all_staging_tables.py
  tools/dbt/insert_anomaly_test_data.py
  tools/dbt/insert_bronze_data.py
  tools/dbt/insert_test_data.py
  tools/dbt/populate_bronze_with_spark.py
  tools/dbt/profiles/local.yml
  tools/dbt/pyproject.toml
  tools/dbt/recreate_bronze_tables.py
  tools/dbt/seed_and_build_pipeline.py
  tools/dbt/setup_all_bronze_tables.py
  tools/dbt/setup_bronze_tables.py
  tools/dbt/stubs/pyhive/__init__.pyi
  tools/dbt/stubs/pyhive/hive.pyi
  tools/dbt/verify_bronze_data.py
Due: mypy-dbt

refactor(spark-removal-services): remove spark/openldap from simulation health checks and service registry
  services/simulation/src/api/routes/metrics.py
  services/simulation/src/api/routes/service_registry.py
Due: mypy-simulation

refactor(spark-removal-infrastructure): remove spark/openldap from kubernetes manifests and overlays
  infrastructure/kubernetes/base/data-pipeline/kustomization.yaml
  infrastructure/kubernetes/manifests/CONTEXT.md
  infrastructure/kubernetes/manifests/airflow-scheduler.yaml
  infrastructure/kubernetes/manifests/airflow-webserver.yaml
  infrastructure/kubernetes/manifests/configmap-data-pipeline.yaml
  infrastructure/kubernetes/manifests/external-secrets-app-credentials.yaml
  infrastructure/kubernetes/manifests/openldap.yaml
  infrastructure/kubernetes/manifests/secret-credentials.yaml
  infrastructure/kubernetes/manifests/spark-thrift-server.yaml
  infrastructure/kubernetes/scripts/deploy-services.sh
  infrastructure/kubernetes/tests/test_data_platform.sh
Due: kubeconform

refactor(spark-removal-infrastructure): remove LDAP secrets from terraform and localstack seed script
  infrastructure/scripts/seed-secrets.py
  infrastructure/terraform/foundation/modules/secrets_manager/main.tf
Due: none

refactor(spark-removal-infrastructure): remove spark/openldap references from ci/cd workflows
  .github/workflows/integration-tests.yml
Due: none

refactor(test-and-doc-cleanup): remove/rewrite spark-dependent integration test fixtures
  tests/integration/data_platform/conftest.py
  tests/integration/data_platform/test_cross_phase.py
  tests/integration/data_platform/test_data_flows.py
  tests/integration/data_platform/test_feature_journeys.py
  tests/integration/data_platform/test_foundation_integration.py
  tests/integration/data_platform/test_resilience.py
  tests/integration/data_platform/utils/sql_helpers.py
  tests/integration/data_platform/utils/state_reset.py
  tests/performance/config.py
Due: none

refactor(test-and-doc-cleanup): update documentation to remove spark/openldap references
  CONTEXT.md
  Makefile
  README.md
  docs/ARCHITECTURE.md
  docs/DEPENDENCIES.md
  docs/INFRASTRUCTURE.md
  docs/SECURITY.md
  docs/TESTING.md
  infrastructure/CONTEXT.md
  services/airflow/README.md
  services/airflow/config/connections.yaml
  services/airflow/dags/CONTEXT.md
  services/airflow/requirements.txt
  services/hive-metastore/CONTEXT.md
  services/localstack/README.md
  services/postgres-airflow/CONTEXT.md
  services/postgres-metastore/CONTEXT.md
  services/trino/CONTEXT.md
  tools/dbt/README.md
  tools/dbt/macros/CONTEXT.md
  tools/dbt/macros/cross_db/CONTEXT.md
Due: none

feat(verification): verify cross-db macros and register-trino-tables.py compatibility
  tools/dbt/macros/cross_db/CONTEXT.md
Due: none

refactor(docker-and-app-cleanup): delete pyhive scripts, stubs, legacy profiles, and remove pyhive dependencies
  pyproject.toml
Due: none

feat(terraform-and-secrets): create glue job execution IAM role
  infrastructure/terraform/foundation/modules/iam/eks_roles.tf
  infrastructure/terraform/foundation/modules/iam/outputs.tf
  infrastructure/terraform/foundation/outputs.tf
Due: none

feat(terraform-and-secrets): add glue permissions to airflow and trino IAM roles
  infrastructure/terraform/foundation/modules/iam/eks_roles.tf
Due: none

feat(kubernetes-manifests): create trino delta catalog configmaps for runner selection
  infrastructure/kubernetes/manifests/trino-glue-catalog.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
  infrastructure/kubernetes/overlays/production/trino-glue-catalog-patch.yaml
Due: kubeconform

feat(kubernetes-manifests): gate hive metastore deployment on dbt_runner value
  infrastructure/kubernetes/argocd/app-rideshare-platform.yaml
  infrastructure/kubernetes/overlays/production-duckdb/kustomization.yaml
  infrastructure/kubernetes/overlays/production-glue/kustomization.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
Due: kubeconform

feat(tests-and-cicd): replace pyhive test utilities with trino-based equivalents
  pyproject.toml
  tests/integration/data_platform/conftest.py
Due: none

refactor(tests-and-cicd): remove spark/ldap references from ci/cd workflows
  .github/workflows/integration-tests.yml
Due: none

refactor(documentation): update documentation to remove spark and add glue architecture
  CONTEXT.md
  docs/ARCHITECTURE.md
  docs/DEPENDENCIES.md
  docs/TESTING.md
  infrastructure/kubernetes/manifests/README-CONFIG.md
  services/hive-metastore/README.md
  tools/dbt/CONTEXT.md
  tools/dbt/README.md
Due: none

fix(deploy): resolve placeholders in all overlay directories including production-duckdb
  .github/workflows/deploy.yml
Due: none

fix(lambda): remove duplicate CORS headers causing browser rejection
  infrastructure/lambda/auth-deploy/handler.py
  infrastructure/lambda/auth-deploy/test_handler.py
Due: none

feat(landing): add inline deploy panel with service availability gating
  infrastructure/lambda/auth-deploy/handler.py
  services/control-panel/src/App.css
  services/control-panel/src/App.tsx
  services/control-panel/src/components/DeployPanel.module.css
  services/control-panel/src/components/DeployPanel.tsx
  services/control-panel/src/components/LandingPage.tsx
  services/control-panel/src/components/LaunchDemoPanel.tsx
  services/control-panel/src/components/SessionTimer.tsx
  services/control-panel/src/components/TripLifecycleAnimation.tsx
  services/control-panel/src/components/tripLifecyclePhases.ts
  services/control-panel/src/services/lambda.ts
Due: none

fix(deploy-panel): show idle state for stale sessions and auto-deploy after auth
  services/control-panel/src/components/DeployPanel.tsx
Due: none

feat(deploy): sync GitHub PAT to Secrets Manager during deploy workflow
  .github/workflows/deploy.yml
Due: none

fix(terraform): disable EKS bootstrap to prevent access entry conflict
  infrastructure/terraform/platform/modules/eks/main.tf
Due: none

fix(terraform): remove explicit github_actions access entry that conflicts with bootstrap
  .github/workflows/deploy.yml
  infrastructure/terraform/platform/main.tf
  infrastructure/terraform/platform/modules/eks/main.tf
Due: none

fix(tempo): increase memory limit and probe tolerance to prevent OOM during compaction
  infrastructure/kubernetes/manifests/tempo.yaml
Due: kubeconform

feat(deploy): make DBT runner selectable via workflow dispatch dropdown
  .github/workflows/deploy.yml
  infrastructure/kubernetes/argocd/app-rideshare-platform.yaml
  infrastructure/kubernetes/overlays/production-glue/kustomization.yaml
Due: kubeconform

fix(landing): align INGEST label, update author info with LinkedIn and email
  services/control-panel/src/components/ArchitectureDiagram.tsx
  services/control-panel/src/components/LandingPage.tsx
Due: none
