Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-simulation, mypy-stream-processor, mypy-spark-streaming, mypy-dbt, mypy-airflow, mypy-great-expectations, mypy-superset, mypy-lakehouse, frontend-lint-staged, frontend-typecheck, check-duplicate-class-names

mypy-simulation:
  name: mypy (simulation)
  entry: bash -c 'cd services/simulation && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-stream-processor:
  name: mypy (stream-processor)
  entry: bash -c 'cd services/stream-processor && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-spark-streaming:
  name: mypy (spark-streaming)
  entry: bash -c 'cd services && [ ! -L spark_streaming ] && ln -s spark-streaming spark_streaming; PYTHONPATH=. ./spark-streaming/venv/bin/mypy spark_streaming/framework/ spark_streaming/config/ spark_streaming/jobs/ spark_streaming/utils/'
  language: system
  ...

mypy-dbt:
  name: mypy (dbt)
  entry: bash -c 'cd services/dbt && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-airflow:
  name: mypy (airflow)
  entry: bash -c 'cd services/airflow && ./venv/bin/mypy dags/'
  language: system
  pass_filenames: false

mypy-great-expectations:
  name: mypy (great-expectations)
  entry: bash -c 'cd quality/great-expectations && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-superset:
  name: mypy (superset)
  entry: bash -c 'cd analytics/superset && ./venv/bin/mypy superset_config.py dashboards/'
  language: system
  pass_filenames: false

mypy-lakehouse:
  name: mypy (lakehouse)
  entry: bash -c 'cd schemas/lakehouse && ./venv/bin/mypy schemas/ config/ scripts/'
  language: system
  pass_filenames: false

frontend-lint-staged:
  name: lint-staged (frontend)
  entry: bash -c 'cd services/frontend && npx lint-staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd services/frontend && npm run typecheck'
  language: system
  pass_filenames: false

check-duplicate-class-names:
  name: Check for duplicate class names
  entry: python scripts/check_duplicate_class_names.py
  language: python
  pass_filenames: false

fix(airflow): auto-enable DAGs and gracefully skip when Bronze data missing
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/manifests/airflow-scheduler.yaml
  infrastructure/kubernetes/manifests/airflow-webserver.yaml
  services/airflow/dags/dbt_transformation_dag.py
  services/airflow/dags/delta_maintenance_dag.py
Due: mypy-airflow, check-duplicate-class-names

docs(airflow): update docs to reflect ShortCircuitOperator bronze checks
  docs/ARCHITECTURE.md
  infrastructure/scripts/CONTEXT.md
  services/airflow/CONTEXT.md
  services/airflow/README.md
  services/airflow/dags/CONTEXT.md
Due: none

fix(sim): populate geospatial index on checkpoint recovery
  services/simulation/src/db/checkpoint.py
Due: mypy-simulation, check-duplicate-class-names

feat(terraform): add RDS PostgreSQL module for shared Airflow and Metastore database
  infrastructure/terraform/platform/modules/rds/main.tf
  infrastructure/terraform/platform/modules/rds/outputs.tf
  infrastructure/terraform/platform/modules/rds/variables.tf
  infrastructure/terraform/platform/modules/rds/versions.tf
Due: none

feat(terraform): add platform composition with ALB controller, DNS, and Helm charts
  infrastructure/terraform/environments/prod/platform.tfvars
  infrastructure/terraform/platform/backend.tf
  infrastructure/terraform/platform/data.tf
  infrastructure/terraform/platform/main.tf
  infrastructure/terraform/platform/modules/alb/main.tf
  infrastructure/terraform/platform/modules/alb/outputs.tf
  infrastructure/terraform/platform/modules/alb/variables.tf
  infrastructure/terraform/platform/modules/dns/main.tf
  infrastructure/terraform/platform/modules/dns/outputs.tf
  infrastructure/terraform/platform/modules/dns/variables.tf
  infrastructure/terraform/platform/outputs.tf
  infrastructure/terraform/platform/variables.tf
  infrastructure/terraform/platform/versions.tf
Due: none

chore: track Terraform lock files for reproducible provider installs
  .gitignore
  infrastructure/terraform/bootstrap/.terraform.lock.hcl
  infrastructure/terraform/foundation/.terraform.lock.hcl
  infrastructure/terraform/platform/.terraform.lock.hcl
Due: none

feat(kubernetes): add production overlay with ECR images and selective manifest inclusion
  infrastructure/kubernetes/overlays/production/kustomization.yaml
Due: none

feat(kubernetes): add ConfigMap patches, EBS StorageClass, and ALB Ingress for production
  infrastructure/kubernetes/overlays/production/configmap-core-patch.yaml
  infrastructure/kubernetes/overlays/production/configmap-data-pipeline-patch.yaml
  infrastructure/kubernetes/overlays/production/ingress-alb.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
  infrastructure/kubernetes/overlays/production/storageclass-ebs.yaml
Due: none

fix(airflow): read MinIO credentials from env vars instead of hardcoding
  services/airflow/dags/dbt_transformation_dag.py
  services/airflow/dags/delta_maintenance_dag.py
  services/airflow/dags/dlq_monitoring_dag.py
Due: mypy-airflow, check-duplicate-class-names

fix(sim): use simulated time for event timestamps instead of wall-clock
  services/simulation/src/agents/driver_agent.py
  services/simulation/src/agents/rider_agent.py
  services/simulation/src/engine/__init__.py
  services/simulation/src/main.py
  services/simulation/src/matching/matching_server.py
  services/simulation/src/matching/offer_timeout.py
  services/simulation/src/matching/surge_pricing.py
  services/simulation/src/puppet/drive_controller.py
  services/simulation/src/trips/trip_executor.py
Due: mypy-simulation, check-duplicate-class-names

feat(kubernetes): add IRSA ServiceAccount annotations and AWS SecretStore for production
  infrastructure/kubernetes/overlays/production/kustomization.yaml
  infrastructure/kubernetes/overlays/production/secretstore-aws-patch.yaml
  infrastructure/kubernetes/overlays/production/serviceaccount-irsa-patches.yaml
Due: none

chore(frontend): regenerate API types from updated OpenAPI schema
  services/frontend/src/types/api.generated.ts
Due: frontend-lint-staged, frontend-typecheck

feat(kubernetes): add Kustomize patches for Kafka, Hive Metastore, and Trino production overlay
  infrastructure/kubernetes/overlays/production/hive-metastore-patch.yaml
  infrastructure/kubernetes/overlays/production/hive-site-config-patch.yaml
  infrastructure/kubernetes/overlays/production/kafka-patch.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
  infrastructure/kubernetes/overlays/production/trino-catalog-patch.yaml
  infrastructure/kubernetes/overlays/production/trino-patch.yaml
Due: none

feat(kubernetes): add Kustomize patches for pipeline and monitoring production overlay
  infrastructure/kubernetes/overlays/production/airflow-scheduler-patch.yaml
  infrastructure/kubernetes/overlays/production/airflow-webserver-patch.yaml
  infrastructure/kubernetes/overlays/production/bronze-ingestion-patch.yaml
  infrastructure/kubernetes/overlays/production/grafana-patch.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
  infrastructure/kubernetes/overlays/production/prometheus-config-patch.yaml
  infrastructure/kubernetes/overlays/production/simulation-patch.yaml
Due: none

feat(kubernetes): update ArgoCD applications for production Kustomize overlay
  infrastructure/kubernetes/argocd/app-core-services.yaml
  infrastructure/kubernetes/argocd/app-data-pipeline.yaml
Due: none

docs: add cloud deployment runbook and update cross-references
  README.md
  docs/CLOUD-DEPLOYMENT.md
  docs/INFRASTRUCTURE.md
Due: none

feat: add infrastructure pre-commit hooks and fix lint findings
  .checkov.yaml
  .github/workflows/checks.yml
  .gitleaks.toml
  .hadolint.yaml
  .pre-commit-config.yaml
  .shellcheckrc
  .tflint.hcl
  infrastructure/kubernetes/scripts/health-check.sh
  infrastructure/kubernetes/scripts/smoke-test.sh
  infrastructure/kubernetes/scripts/teardown.sh
  infrastructure/kubernetes/tests/test_argocd.sh
  infrastructure/kubernetes/tests/test_ingress.sh
  infrastructure/scripts/register-delta-tables.sh
  infrastructure/terraform/foundation/modules/cloudfront/versions.tf
  infrastructure/terraform/foundation/modules/ecr/versions.tf
  infrastructure/terraform/foundation/modules/iam/versions.tf
  infrastructure/terraform/foundation/modules/route53/versions.tf
  infrastructure/terraform/foundation/modules/s3/versions.tf
  infrastructure/terraform/foundation/modules/vpc/versions.tf
  infrastructure/terraform/platform/data.tf
  infrastructure/terraform/platform/main.tf
  infrastructure/terraform/platform/modules/alb/variables.tf
  infrastructure/terraform/platform/modules/alb/versions.tf
  infrastructure/terraform/platform/modules/dns/variables.tf
  infrastructure/terraform/platform/modules/dns/versions.tf
  infrastructure/terraform/platform/modules/eks/variables.tf
  infrastructure/terraform/platform/modules/eks/versions.tf
Due: none

fix(pipeline): resolve OOM and duplicate key failures blocking Gold layer export
  infrastructure/docker/compose.yml
  tools/dbt/models/marts/facts/fact_driver_activity.sql
Due: none

feat(pipeline): register Delta tables in Trino after S3 export
  infrastructure/scripts/register-trino-tables.py
  services/airflow/dags/dbt_transformation_dag.py
Due: mypy-airflow, check-duplicate-class-names

fix(tests): update health status assertion and add stream-processor dependencies
  services/simulation/tests/api/test_authentication.py
  services/stream-processor/pyproject.toml
Due: check-duplicate-class-names

ci: resolve CI/CD pipeline failures
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .github/workflows/integration-tests.yml
  .github/workflows/teardown.yml
  Makefile
  pyproject.toml
  schemas/lakehouse/pyproject.toml
  services/airflow/pyproject.toml
  services/simulation/README.md
  services/simulation/pyproject.toml
  services/simulation/src/geo/zone_assignment.py
  services/simulation/src/kafka/schema_registry.py
  services/simulation/src/matching/driver_geospatial_index.py
  services/simulation/stubs/h3/__init__.pyi
  services/simulation/stubs/polyline/__init__.pyi
  services/stream-processor/pyproject.toml
  tools/dbt/insert_bronze_data.py
  tools/dbt/insert_test_data.py
  tools/dbt/pyproject.toml
  tools/dbt/recreate_bronze_tables.py
  tools/dbt/seed_and_build_pipeline.py
  tools/dbt/setup_all_bronze_tables.py
  tools/dbt/setup_bronze_tables.py
  tools/dbt/stubs/pyhive/__init__.pyi
  tools/dbt/stubs/pyhive/hive.pyi
  tools/dbt/verify_bronze_data.py
  tools/great-expectations/pyproject.toml
Due: mypy-simulation, check-duplicate-class-names

ci: make deploy workflows manual-only (workflow_dispatch)
  .github/workflows/build-and-push.yml
  .github/workflows/deploy-frontend.yml
Due: none

fix(ci): scope integration env vars to integration-tests job only
  .github/workflows/integration-tests.yml
Due: none

ci: add fast-tests to make ci target
  Makefile
Due: none

ci: move integration tests from per-push to nightly schedule
  .github/workflows/nightly-integration-tests.yml
  .github/workflows/nightly-tests.yml
Due: none

fix(ci): resolve Trino container permission denied crash in integration tests
  .gitignore
  services/trino/entrypoint.sh
  services/trino/etc/catalog/delta.properties
Due: none

fix(ci): include exited containers in secrets-init verification
  .github/workflows/nightly-integration-tests.yml
Due: none

fix(tests): update CI workflow tests to match renamed nightly workflow
  tests/integration/data_platform/test_ci_workflow.py
Due: check-duplicate-class-names

docs: add setup/verification steps for OIDC provider and AWS_ACCOUNT_ID secret
  docs/CLOUD-DEPLOYMENT.md
Due: none

fix(tests): add auth credentials and fix fixture deps in integration tests
  .github/workflows/nightly-integration-tests.yml
  pyproject.toml
  tests/integration/data_platform/conftest.py
  tests/integration/data_platform/test_core_pipeline.py
  tests/integration/data_platform/utils/sql_helpers.py
Due: check-duplicate-class-names

feat(infra): suffix S3 bucket names with AWS account ID for global uniqueness
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy.yml
  .github/workflows/nightly-integration-tests.yml
  .github/workflows/teardown.yml
  docs/CLOUD-DEPLOYMENT.md
  infrastructure/kubernetes/overlays/production/bronze-ingestion-patch.yaml
  infrastructure/kubernetes/overlays/production/configmap-data-pipeline-patch.yaml
  infrastructure/kubernetes/overlays/production/hive-site-config-patch.yaml
  infrastructure/kubernetes/overlays/production/simulation-patch.yaml
  infrastructure/terraform/bootstrap/main.tf
  infrastructure/terraform/bootstrap/outputs.tf
  infrastructure/terraform/foundation/backend.tf
  infrastructure/terraform/foundation/main.tf
  infrastructure/terraform/foundation/modules/iam/eks_roles.tf
  infrastructure/terraform/foundation/modules/s3/main.tf
  infrastructure/terraform/foundation/modules/s3/variables.tf
  infrastructure/terraform/platform/backend.tf
  infrastructure/terraform/platform/data.tf
  tests/integration/data_platform/conftest.py
  tests/integration/data_platform/test_core_pipeline.py
  tests/integration/data_platform/utils/credentials.py
  tests/integration/data_platform/utils/sql_helpers.py
Due: check-duplicate-class-names

fix(infra): replace deprecated aws_region .name with .region attribute
  infrastructure/terraform/foundation/modules/iam/ci_role.tf
  infrastructure/terraform/foundation/modules/iam/eks_roles.tf
Due: none

fix(infra): expand GitHub Actions IAM permissions and fix ALB controller policy
  infrastructure/terraform/foundation/modules/iam/ci_role.tf
  infrastructure/terraform/platform/modules/alb/main.tf
Due: none

fix(infra): consolidate ArgoCD apps, fix deploy paths, and add missing CI IAM permissions
  .github/workflows/deploy.yml
  docs/CLOUD-DEPLOYMENT.md
  infrastructure/kubernetes/argocd/app-core-services.yaml
  infrastructure/kubernetes/argocd/app-rideshare-platform.yaml
  infrastructure/terraform/foundation/main.tf
  infrastructure/terraform/foundation/modules/iam/ci_role.tf
  infrastructure/terraform/foundation/modules/iam/variables.tf
Due: none

refactor(infra): migrate Terraform state locking from DynamoDB to native S3
  .checkov.yaml
  .github/workflows/deploy.yml
  .github/workflows/teardown.yml
  docs/CLOUD-DEPLOYMENT.md
  infrastructure/terraform/bootstrap/main.tf
  infrastructure/terraform/bootstrap/outputs.tf
  infrastructure/terraform/foundation/backend.tf
  infrastructure/terraform/foundation/modules/iam/ci_role.tf
  infrastructure/terraform/platform/backend.tf
Due: none

fix(ci): resolve shellcheck SC2016 warning in nightly integration tests
  .github/workflows/nightly-integration-tests.yml
Due: none

fix(infra): resolve Terraform apply failures for RDS, EKS addons, and Helm releases
  .github/workflows/deploy.yml
  infrastructure/terraform/platform/modules/eks/addons.tf
  infrastructure/terraform/platform/modules/rds/main.tf
Due: none

fix(infra): increase ALB controller Helm timeout to 600s
  infrastructure/terraform/platform/modules/alb/main.tf
Due: none

fix(infra): set wait=false for ALB controller Helm release
  infrastructure/terraform/platform/modules/alb/main.tf
Due: none

fix(ci): remove stale ALB webhooks before ArgoCD install
  .github/workflows/deploy.yml
Due: none

Path conditions:
  mypy-simulation: any of: ^services/simulation/src/.*\.py$
  mypy-stream-processor: any of: ^services/stream-processor/src/.*\.py$
  mypy-spark-streaming: any of: ^services/spark-streaming/(framework|config|jobs|utils)/.*\.py$
  mypy-dbt: any of: ^services/dbt/[^/]+\.py$
  mypy-airflow: any of: ^services/airflow/dags/.*\.py$
  mypy-great-expectations: any of: ^quality/great-expectations/[^/]+\.py$
  mypy-superset: any of: ^analytics/superset/(superset_config\.py|dashboards/.*\.py)$
  mypy-lakehouse: any of: ^schemas/lakehouse/(schemas|config|scripts)/.*\.py$
  frontend-lint-staged: any of: ^services/frontend/.*\.(ts|tsx|css|json|md)$
  frontend-typecheck: any of: ^services/frontend/.*\.(ts|tsx)$
  check-duplicate-class-names: any of: \.py$
