Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-simulation, mypy-stream-processor, mypy-dbt, mypy-airflow, mypy-great-expectations, mypy-lakehouse, frontend-lint-staged, frontend-typecheck, kubeconform

Path conditions:
  mypy-simulation: any of: ^services/simulation/src/.*\.py$
  mypy-stream-processor: any of: ^services/stream-processor/src/.*\.py$
  mypy-dbt: any of: ^tools/dbt/[^/]+\.py$
  mypy-airflow: any of: ^services/airflow/dags/.*\.py$
  mypy-great-expectations: any of: ^tools/great-expectations/[^/]+\.py$
  mypy-lakehouse: any of: ^schemas/lakehouse/(schemas|config|scripts)/.*\.py$
  frontend-lint-staged: any of: ^services/frontend/.*\.(ts|tsx|css|json|md)$
  frontend-typecheck: any of: ^services/frontend/.*\.(ts|tsx)$
  kubeconform: any of: ^infrastructure/kubernetes/.*\.yaml$ and \.(yaml|yml)$ and not (^infrastructure/kubernetes/(argocd/install\.yaml|overlays/))

fix(terraform): use node role for EBS CSI instead of IRSA
  infrastructure/terraform/foundation/modules/iam/eks_roles.tf
  infrastructure/terraform/platform/modules/eks/addons.tf
Due: none

fix(terraform): allow RDS access from VPC CIDR and add EBS CSI to node role
  infrastructure/terraform/foundation/modules/vpc/security_groups.tf
Due: none

fix(deploy): fix metastore database creation SQL syntax
  .github/workflows/deploy.yml
Due: none

fix(k8s): correct ingress ports to match service ports
  infrastructure/kubernetes/overlays/production/ingress-airflow.yaml
  infrastructure/kubernetes/overlays/production/ingress-grafana.yaml
Due: none

fix(k8s): production overlay fixes for EKS deployment
  infrastructure/kubernetes/manifests/kafka.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
  infrastructure/kubernetes/overlays/production/secretstore-aws-patch.yaml
  infrastructure/terraform/foundation/modules/iam/eks_roles.tf
Due: kubeconform

fix(k8s): use short DNS names for Kafka instead of FQDN with default namespace
  infrastructure/kubernetes/manifests/kafka.yaml
Due: kubeconform

fix(k8s): Kafka DNS chicken-and-egg and hive-metastore XML parsing
  infrastructure/kubernetes/manifests/kafka.yaml
  infrastructure/kubernetes/overlays/production/hive-metastore-patch.yaml
  infrastructure/kubernetes/overlays/production/hive-site-config-patch.yaml
Due: kubeconform

fix(k8s): replace remaining Kafka FQDNs with short DNS names
  infrastructure/kubernetes/manifests/CONTEXT.md
  infrastructure/kubernetes/manifests/bronze-ingestion.yaml
  infrastructure/kubernetes/manifests/configmap-core.yaml
  infrastructure/kubernetes/manifests/simulation.yaml
  infrastructure/kubernetes/manifests/stream-processor.yaml
Due: kubeconform

fix(k8s): add Kafka SASL credentials and RDS metastore user
  .github/workflows/deploy.yml
  infrastructure/kubernetes/manifests/simulation.yaml
  infrastructure/kubernetes/manifests/stream-processor.yaml
Due: kubeconform

fix(k8s): Airflow production patches for RDS and correct secrets
  .github/workflows/deploy.yml
  infrastructure/kubernetes/overlays/production/airflow-scheduler-patch.yaml
  infrastructure/kubernetes/overlays/production/airflow-webserver-patch.yaml
Due: none

fix(k8s): add Schema Registry auth to simulation and ExternalSecret
  infrastructure/kubernetes/manifests/external-secrets-app-credentials.yaml
  infrastructure/kubernetes/manifests/simulation.yaml
Due: kubeconform

fix(k8s): reorder Airflow env vars so password expands before conn string
  infrastructure/kubernetes/overlays/production/airflow-scheduler-patch.yaml
  infrastructure/kubernetes/overlays/production/airflow-webserver-patch.yaml
Due: none

fix: Airflow URL-encoded passwords, ALB IAM permissions, build perf-controller
  .github/workflows/deploy.yml
  infrastructure/kubernetes/overlays/production/airflow-scheduler-patch.yaml
  infrastructure/kubernetes/overlays/production/airflow-webserver-patch.yaml
  infrastructure/terraform/platform/modules/alb/main.tf
Due: none

fix: Airflow init container image, ALB Pod Identity association
  infrastructure/kubernetes/overlays/production/airflow-scheduler-patch.yaml
  infrastructure/kubernetes/overlays/production/airflow-webserver-patch.yaml
  infrastructure/terraform/platform/main.tf
  infrastructure/terraform/platform/modules/alb/main.tf
  infrastructure/terraform/platform/modules/alb/variables.tf
Due: none

fix(iam): add UpdateAssumeRolePolicy and PodIdentity permissions to CI role
  infrastructure/terraform/foundation/modules/iam/ci_role.tf
Due: none

feat(terraform): migrate IAM to Pod Identity, fix networking and ALB
  infrastructure/terraform/foundation/modules/iam/ci_role.tf
  infrastructure/terraform/foundation/modules/iam/eks_roles.tf
  infrastructure/terraform/foundation/modules/iam/variables.tf
  infrastructure/terraform/foundation/modules/vpc/security_groups.tf
  infrastructure/terraform/foundation/outputs.tf
  infrastructure/terraform/platform/main.tf
  infrastructure/terraform/platform/modules/alb/main.tf
  infrastructure/terraform/platform/modules/eks/main.tf
  infrastructure/terraform/platform/modules/eks/variables.tf
  infrastructure/terraform/platform/modules/rds/main.tf
Due: none

fix(k8s): production Redis auth, Prometheus RBAC, Airflow ingress, and ServiceAccounts
  infrastructure/kubernetes/overlays/production/ingress-airflow.yaml
  infrastructure/kubernetes/overlays/production/ingress-api.yaml
  infrastructure/kubernetes/overlays/production/prometheus-rbac.yaml
  infrastructure/kubernetes/overlays/production/redis-patch.yaml
  infrastructure/kubernetes/overlays/production/serviceaccount-irsa-patches.yaml
Due: none

fix(s3): cloud-portable credential chain for bronze ingestion and init scripts
  infrastructure/kubernetes/manifests/bronze-init.yaml
  infrastructure/kubernetes/overlays/production/bronze-ingestion-patch.yaml
  infrastructure/kubernetes/overlays/production/bronze-init-patch.yaml
  infrastructure/kubernetes/overlays/production/simulation-patch.yaml
  infrastructure/scripts/export-dbt-to-s3.py
  infrastructure/scripts/register-trino-tables.py
  services/bronze-ingestion/src/config.py
Due: kubeconform

fix(trino): upgrade to 451 with Hive SDK 1.12.780 and s3a scheme
  infrastructure/kubernetes/manifests/trino.yaml
  infrastructure/kubernetes/overlays/production/trino-catalog-patch.yaml
  infrastructure/kubernetes/overlays/production/trino-patch.yaml
  services/hive-metastore/Dockerfile
Due: kubeconform

fix(airflow): cloud-portable DAGs, JWT auth, and execution API port
  infrastructure/kubernetes/manifests/airflow-dags.yaml
  infrastructure/kubernetes/manifests/airflow-scheduler.yaml
  infrastructure/kubernetes/manifests/airflow-webserver.yaml
  infrastructure/kubernetes/manifests/external-secrets-app-credentials.yaml
  services/airflow/dags/dbt_transformation_dag.py
  services/airflow/dags/delta_maintenance_dag.py
  services/airflow/dags/dlq_monitoring_dag.py
Due: mypy-airflow, kubeconform

feat(prod): performance controller proxy, Grafana dashboards, and DAGs ConfigMap
  infrastructure/kubernetes/manifests/grafana.yaml
  infrastructure/kubernetes/manifests/performance-controller.yaml
  services/control-panel/src/hooks/usePerformanceController.ts
  services/performance-controller/src/api.py
  services/performance-controller/src/settings.py
  services/simulation/src/api/app.py
  services/simulation/src/api/routes/controller.py
  services/simulation/src/api/routes/metrics.py
Due: mypy-simulation, kubeconform

fix(airflow): dbt workspace setup for production
  infrastructure/kubernetes/overlays/production/airflow-scheduler-patch.yaml
  tools/dbt/macros/delta_source.sql
Due: none

fix(deploy): immutable SHA tags, dbt project packaging, and workflow improvements
  .github/workflows/deploy.yml
  .gitignore
  infrastructure/kubernetes/overlays/production/kustomization.yaml
Due: none

fix(simulation): production runtime (boto3 dep, OSRM sync, speed x8)
  services/simulation/Dockerfile
  services/simulation/pyproject.toml
  services/simulation/src/agents/rider_agent.py
Due: mypy-simulation

feat(monitoring): cAdvisor scrape and performance recording rules
  infrastructure/kubernetes/manifests/prometheus.yaml
  infrastructure/kubernetes/overlays/production/prometheus-config-patch.yaml
  infrastructure/kubernetes/overlays/production/prometheus-rules-patch.yaml
Due: kubeconform

fix(deploy): verify foundation state before platform apply
  .github/workflows/deploy.yml
Due: none

feat(airflow): S3 remote logging for task log persistence and UI access
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/overlays/production/airflow-scheduler-patch.yaml
  infrastructure/kubernetes/overlays/production/airflow-webserver-patch.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
  infrastructure/kubernetes/overlays/production/serviceaccount-irsa-patches.yaml
  infrastructure/terraform/foundation/main.tf
  infrastructure/terraform/foundation/modules/iam/eks_roles.tf
  infrastructure/terraform/foundation/modules/iam/variables.tf
  infrastructure/terraform/foundation/modules/s3/main.tf
  infrastructure/terraform/foundation/modules/s3/outputs.tf
  infrastructure/terraform/foundation/outputs.tf
  infrastructure/terraform/platform/main.tf
Due: none

fix(airflow): correct dbt working directory in DAG commands
  infrastructure/kubernetes/manifests/airflow-dags.yaml
  services/airflow/dags/dbt_transformation_dag.py
Due: mypy-airflow, kubeconform

feat(deploy): soft reset workflow to wipe data without teardown
  .github/workflows/soft-reset.yml
Due: none

fix(deploy): only fetch LFS objects for osrm build
  .github/workflows/deploy.yml
Due: none

fix(deploy): allow osrm build failure without blocking platform deploy
  .github/workflows/deploy.yml
Due: none

feat(infra): S3/MinIO storage for Loki and Tempo
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/manifests/loki.yaml
  infrastructure/kubernetes/manifests/tempo.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
  infrastructure/kubernetes/overlays/production/loki-config-patch.yaml
  infrastructure/kubernetes/overlays/production/loki-patch.yaml
  infrastructure/kubernetes/overlays/production/serviceaccount-irsa-patches.yaml
  infrastructure/kubernetes/overlays/production/tempo-config-patch.yaml
  infrastructure/kubernetes/overlays/production/tempo-patch.yaml
  infrastructure/terraform/foundation/main.tf
  infrastructure/terraform/foundation/modules/iam/eks_roles.tf
  infrastructure/terraform/foundation/modules/iam/outputs.tf
  infrastructure/terraform/foundation/modules/iam/variables.tf
  infrastructure/terraform/foundation/modules/s3/main.tf
  infrastructure/terraform/foundation/modules/s3/outputs.tf
  infrastructure/terraform/foundation/outputs.tf
  infrastructure/terraform/platform/main.tf
  services/loki/loki-config.yaml
  services/tempo/tempo-config.yaml
Due: kubeconform

fix(airflow): bump scheduler memory limit from 2Gi to 3Gi
  infrastructure/kubernetes/manifests/airflow-scheduler.yaml
Due: kubeconform

fix(airflow): increase scheduler probe delays for pip install startup
  infrastructure/kubernetes/manifests/airflow-scheduler.yaml
Due: kubeconform

fix(terraform): reconcile EKS access config and add access entries
  infrastructure/terraform/platform/main.tf
  infrastructure/terraform/platform/modules/eks/main.tf
  infrastructure/terraform/platform/variables.tf
Due: none

fix(terraform): add missing EKS access policy permissions to CI role
  infrastructure/terraform/foundation/modules/iam/ci_role.tf
Due: none

fix(data): correct SCD Type 2 partitioning and Airflow task guard
  services/airflow/dags/dbt_transformation_dag.py
  tools/dbt/models/marts/dimensions/dim_payment_methods.sql
  tools/dbt/tests/test_dim_payment_methods_scd_type2.sql
Due: mypy-airflow

fix(airflow): bump webserver memory to 512Mi and add memory reservations
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/manifests/airflow-webserver.yaml
Due: kubeconform

feat(monitoring): environment-agnostic dashboards via Prometheus recording rules
  infrastructure/kubernetes/manifests/grafana.yaml
  infrastructure/kubernetes/overlays/production/prometheus-rules-patch.yaml
  services/airflow/dags/dbt_transformation_dag.py
  services/grafana/dashboards/monitoring/simulation-metrics.json
  services/grafana/dashboards/performance/performance-engineering.json
  services/prometheus/rules/performance.yml
Due: mypy-airflow, kubeconform

fix(tempo): add explicit S3 endpoint for AWS minio client
  infrastructure/kubernetes/overlays/production/tempo-config-patch.yaml
Due: none
