Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint-staged, frontend-typecheck

frontend-lint-staged:
  name: lint-staged (frontend)
  entry: bash -c 'cd control-panel-frontend && npx lint-staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd control-panel-frontend && npm run typecheck'
  language: system
  pass_filenames: false

feat(frontend): enhance simulation hooks and add trip visualization layers
  control-panel-frontend/src/hooks/__tests__/useSimulationLayers.test.ts
  control-panel-frontend/src/hooks/__tests__/useSimulationState.test.ts
  control-panel-frontend/src/hooks/useMetrics.ts
  control-panel-frontend/src/hooks/useSimulationControl.ts
  control-panel-frontend/src/hooks/useSimulationLayers.ts
  control-panel-frontend/src/hooks/useSimulationState.ts
  control-panel-frontend/src/hooks/useWebSocket.ts
  control-panel-frontend/src/layers/__tests__/agentLayers.test.ts
  control-panel-frontend/src/layers/agentLayers.ts
  control-panel-frontend/src/types/api.ts
  control-panel-frontend/src/types/layers.ts
  control-panel-frontend/src/types/websocket.ts
Due: frontend-lint-staged, frontend-typecheck

feat(frontend): add inspector popup and enhance UI components
  control-panel-frontend/src/App.tsx
  control-panel-frontend/src/components/ControlPanel.module.css
  control-panel-frontend/src/components/ControlPanel.tsx
  control-panel-frontend/src/components/InspectorPopup.module.css
  control-panel-frontend/src/components/InspectorPopup.tsx
  control-panel-frontend/src/components/LayerControls.module.css
  control-panel-frontend/src/components/LayerControls.tsx
  control-panel-frontend/src/components/LoginScreen.tsx
  control-panel-frontend/src/components/Map.module.css
  control-panel-frontend/src/components/Map.tsx
  control-panel-frontend/src/components/MapLegend.tsx
  control-panel-frontend/src/components/StatsPanel.tsx
  control-panel-frontend/src/components/__tests__/ControlPanel.test.tsx
  control-panel-frontend/src/components/__tests__/LayerControls.test.tsx
  control-panel-frontend/src/components/__tests__/LoginScreen.test.tsx
  control-panel-frontend/src/components/__tests__/MapLegend.test.tsx
  control-panel-frontend/src/main.tsx
Due: frontend-lint-staged, frontend-typecheck

fix(tests): update tests for consistency and zone validation
  control-panel-frontend/package-lock.json
  control-panel-frontend/src/types/agents.ts
  simulation/tests/agents/test_agent_persistence.py
  simulation/tests/agents/test_rating_submission.py
  simulation/tests/agents/test_rider_agent.py
  simulation/tests/agents/test_rider_destination_selection.py
  simulation/tests/api/test_agent_creation.py
  simulation/tests/api/test_metrics.py
  simulation/tests/api/test_redis_fanout.py
Due: frontend-lint-staged, frontend-typecheck

feat(agents): add next action tracking, statistics, and zone validation
  simulation/src/agents/next_action.py
  simulation/src/agents/statistics.py
  simulation/src/agents/zone_validator.py
Due: none

chore: add Git LFS tracking for OSRM map files
  .gitattributes
Due: none

feat(frontend): add map icons for drivers and riders
  control-panel-frontend/public/icons/car-blue.png
  control-panel-frontend/public/icons/car-gray.png
  control-panel-frontend/public/icons/car-green.png
  control-panel-frontend/public/icons/car-orange.png
  control-panel-frontend/public/icons/car-yellow.png
  control-panel-frontend/public/icons/car.png
  control-panel-frontend/public/icons/flag-checkered.png
  control-panel-frontend/public/icons/person-cyan.png
  control-panel-frontend/public/icons/person-gray.png
  control-panel-frontend/public/icons/person-lightblue.png
  control-panel-frontend/public/icons/person-orange.png
  control-panel-frontend/public/icons/person-purple.png
  control-panel-frontend/public/icons/person-yellow.png
  control-panel-frontend/public/icons/person.png
Due: none

feat(frontend): add control panel UI components and utilities
  control-panel-frontend/src/components/AgentPlacement.module.css
  control-panel-frontend/src/components/AgentPlacement.tsx
  control-panel-frontend/src/components/ConfirmModal.module.css
  control-panel-frontend/src/components/ConfirmModal.tsx
  control-panel-frontend/src/components/InfrastructurePanel.module.css
  control-panel-frontend/src/components/InfrastructurePanel.tsx
  control-panel-frontend/src/components/NextActionsSection.module.css
  control-panel-frontend/src/components/NextActionsSection.tsx
  control-panel-frontend/src/components/PerformancePanel.module.css
  control-panel-frontend/src/components/PerformancePanel.tsx
  control-panel-frontend/src/constants/dnaPresets.ts
  control-panel-frontend/src/hooks/useInfrastructure.ts
  control-panel-frontend/src/hooks/usePerformanceMetrics.ts
  control-panel-frontend/src/utils/formatDuration.ts
  control-panel-frontend/src/utils/zoomScale.ts
Due: frontend-lint-staged, frontend-typecheck

feat(api): add puppet agent API routes for manual testing
  simulation/src/api/models/health.py
  simulation/src/api/models/puppet.py
  simulation/src/api/routes/puppet.py
Due: none

feat(geo): add distance utilities and performance metrics collector
  simulation/src/geo/distance.py
  simulation/src/metrics/__init__.py
  simulation/src/metrics/collector.py
  simulation/tests/geo/test_distance.py
  simulation/tests/trips/__init__.py
  simulation/tests/trips/test_proximity_arrival.py
Due: none

feat(puppet): add drive controller for puppet agent movement
  simulation/src/puppet/__init__.py
  simulation/src/puppet/drive_controller.py
Due: none

feat(stream-processor): add Kafka-to-Redis stream processor service
  stream-processor/Dockerfile
  stream-processor/pyproject.toml
  stream-processor/requirements.txt
  stream-processor/src/__init__.py
  stream-processor/src/api.py
  stream-processor/src/handlers/__init__.py
  stream-processor/src/handlers/base_handler.py
  stream-processor/src/handlers/driver_profile_handler.py
  stream-processor/src/handlers/driver_status_handler.py
  stream-processor/src/handlers/gps_handler.py
  stream-processor/src/handlers/rider_profile_handler.py
  stream-processor/src/handlers/surge_handler.py
  stream-processor/src/handlers/trip_handler.py
  stream-processor/src/main.py
  stream-processor/src/metrics.py
  stream-processor/src/processor.py
  stream-processor/src/settings.py
  stream-processor/src/sinks/__init__.py
  stream-processor/src/sinks/redis_sink.py
  stream-processor/tests/__init__.py
  stream-processor/tests/conftest.py
  stream-processor/tests/test_gps_handler.py
  stream-processor/tests/test_handlers.py
Due: none

chore(scripts): add load testing and performance benchmark scripts
  simulation/scripts/load_test.py
  simulation/scripts/monitor_drivers.py
  simulation/scripts/perf/RESULTS_TEMPLATE.md
  simulation/scripts/perf/test_kafka.py
  simulation/scripts/perf/test_osrm.py
  simulation/scripts/perf/test_redis.py
  simulation/scripts/perf/test_websocket.py
Due: none

feat(data): add Sao Paulo metro OSM data file
  data/osrm/sao-paulo-metro.osm.pbf
Due: none

fix(agents): enforce DNA model immutability with frozen=True
  simulation/src/agents/dna.py
  simulation/tests/agents/test_trip_execution.py
  simulation/tests/matching/test_matching_server.py
Due: none

refactor(matching): extract ranking weights to configurable settings
  simulation/src/matching/matching_server.py
  simulation/src/settings.py
Due: none

test(engine): add fast_engine fixtures to speed up simulation tests
  simulation/tests/engine/conftest.py
  simulation/tests/engine/test_control_events.py
  simulation/tests/engine/test_simulation_engine.py
  simulation/tests/engine/test_two_phase_pause.py
Due: none

refactor(asyncio): consolidate event loop handling with run_coroutine_safe utility
  simulation/src/agents/driver_agent.py
  simulation/src/agents/rider_agent.py
  simulation/src/engine/agent_factory.py
  simulation/src/matching/matching_server.py
  simulation/src/trips/trip_executor.py
  simulation/src/utils/__init__.py
  simulation/src/utils/async_helpers.py
  simulation/tests/matching/test_matching_server.py
  simulation/tests/utils/__init__.py
  simulation/tests/utils/test_async_helpers.py
Due: none

chore(frontend): remove debug console.log statements from useSimulationLayers
  control-panel-frontend/src/hooks/useSimulationLayers.ts
Due: frontend-lint-staged, frontend-typecheck

fix(events): consolidate event publishing through Kafka only
  docs/adr/002-kafka-only-event-publishing.md
  simulation/src/kafka/producer.py
  simulation/src/matching/matching_server.py
  simulation/src/matching/surge_pricing.py
  simulation/src/puppet/drive_controller.py
  simulation/src/trips/trip_executor.py
  simulation/tests/kafka/test_producer.py
  simulation/tests/matching/test_matching_server.py
  simulation/tests/matching/test_surge_pricing.py
  simulation/tests/trips/test_trip_executor.py
Due: none

feat(stream-processor): add reliability improvements with manual commits and validation
  stream-processor/src/events/__init__.py
  stream-processor/src/events/schemas.py
  stream-processor/src/handlers/driver_profile_handler.py
  stream-processor/src/handlers/driver_status_handler.py
  stream-processor/src/handlers/gps_handler.py
  stream-processor/src/handlers/rider_profile_handler.py
  stream-processor/src/handlers/surge_handler.py
  stream-processor/src/handlers/trip_handler.py
  stream-processor/src/metrics.py
  stream-processor/src/processor.py
  stream-processor/src/settings.py
  stream-processor/src/sinks/redis_sink.py
  stream-processor/tests/test_gps_handler.py
  stream-processor/tests/test_handler_validation.py
  stream-processor/tests/test_handlers.py
  stream-processor/tests/test_processor_commits.py
  stream-processor/tests/test_redis_sink_retry.py
Due: none

feat(matching): add thread safety to DriverRegistry, MatchingServer, and AgentRegistryManager
  simulation/src/matching/agent_registry_manager.py
  simulation/src/matching/driver_registry.py
  simulation/src/matching/matching_server.py
  simulation/tests/matching/test_thread_safety.py
Due: none

feat(trips): add error recovery with retry logic to TripExecutor
  simulation/src/settings.py
  simulation/src/trips/trip_executor.py
  simulation/tests/trips/test_trip_executor_recovery.py
Due: none

feat(frontend): add toast notifications for API operations
  control-panel-frontend/package-lock.json
  control-panel-frontend/package.json
  control-panel-frontend/src/App.tsx
  control-panel-frontend/src/hooks/useSimulationControl.ts
  control-panel-frontend/src/lib/toast.ts
  simulation/src/agents/event_emitter.py
  simulation/src/geo/zones.py
Due: frontend-lint-staged, frontend-typecheck

refactor(db): extract BaseAgentRepository to eliminate code duplication
  simulation/src/db/repositories/__init__.py
  simulation/src/db/repositories/base_agent_repository.py
  simulation/src/db/repositories/driver_repository.py
  simulation/src/db/repositories/rider_repository.py
  simulation/tests/db/test_base_agent_repository.py
Due: none

refactor(frontend): extract inspector components from InspectorPopup
  control-panel-frontend/src/components/InspectorPopup.tsx
  control-panel-frontend/src/components/__tests__/InspectorPopup.test.tsx
  control-panel-frontend/src/components/inspector/DraggablePopupContainer.tsx
  control-panel-frontend/src/components/inspector/DriverActionsSection.tsx
  control-panel-frontend/src/components/inspector/DriverInspector.tsx
  control-panel-frontend/src/components/inspector/Inspector.module.css
  control-panel-frontend/src/components/inspector/InspectorRow.tsx
  control-panel-frontend/src/components/inspector/InspectorSection.tsx
  control-panel-frontend/src/components/inspector/RiderActionsSection.tsx
  control-panel-frontend/src/components/inspector/RiderInspector.tsx
  control-panel-frontend/src/components/inspector/StatsGrid.tsx
  control-panel-frontend/src/components/inspector/ZoneInspector.tsx
  control-panel-frontend/src/components/inspector/__tests__/DraggablePopupContainer.test.tsx
  control-panel-frontend/src/components/inspector/__tests__/DriverActionsSection.test.tsx
  control-panel-frontend/src/components/inspector/__tests__/DriverInspector.test.tsx
  control-panel-frontend/src/components/inspector/__tests__/InspectorRow.test.tsx
  control-panel-frontend/src/components/inspector/__tests__/InspectorSection.test.tsx
  control-panel-frontend/src/components/inspector/__tests__/RiderActionsSection.test.tsx
  control-panel-frontend/src/components/inspector/__tests__/RiderInspector.test.tsx
  control-panel-frontend/src/components/inspector/__tests__/StatsGrid.test.tsx
  control-panel-frontend/src/components/inspector/__tests__/ZoneInspector.test.tsx
  control-panel-frontend/src/components/inspector/index.ts
  control-panel-frontend/src/hooks/__tests__/useAgentState.test.ts
  control-panel-frontend/src/hooks/__tests__/useDraggable.test.ts
  control-panel-frontend/src/hooks/useAgentState.ts
  control-panel-frontend/src/hooks/useDraggable.ts
  control-panel-frontend/src/test/setup.ts
  control-panel-frontend/src/utils/__tests__/tripStateFormatter.test.ts
  control-panel-frontend/src/utils/tripStateFormatter.ts
  control-panel-frontend/vitest.config.ts
Due: frontend-lint-staged, frontend-typecheck

refactor(core): standardize error handling with exception taxonomy
  docs/error-handling.md
  simulation/src/agents/event_emitter.py
  simulation/src/core/__init__.py
  simulation/src/core/exceptions.py
  simulation/src/core/retry.py
  simulation/src/geo/osrm_client.py
  simulation/src/kafka/producer.py
  simulation/src/trips/trip_executor.py
  simulation/tests/core/__init__.py
  simulation/tests/core/test_exceptions.py
  simulation/tests/core/test_retry.py
Due: none

feat(engine): add ThreadCoordinator for thread-safe SimPy/FastAPI communication
  docs/threading-model.md
  simulation/src/engine/__init__.py
  simulation/src/engine/snapshots.py
  simulation/src/engine/thread_coordinator.py
  simulation/tests/engine/test_snapshots.py
  simulation/tests/engine/test_thread_coordinator.py
Due: none

feat(checkpoint): complete checkpoint recovery implementation
  simulation/src/db/checkpoint.py
  simulation/src/engine/__init__.py
  simulation/src/settings.py
  simulation/tests/db/test_checkpoint_recovery.py
Due: none

feat(tracing): add distributed tracing with correlation IDs and event deduplication
  control-panel-frontend/src/hooks/useWebSocket.ts
  simulation/src/core/correlation.py
  simulation/src/engine/__init__.py
  simulation/src/events/schemas.py
  simulation/src/kafka/producer.py
  simulation/tests/events/test_correlation.py
  stream-processor/src/deduplication.py
  stream-processor/src/processor.py
  stream-processor/tests/test_deduplication.py
Due: frontend-lint-staged, frontend-typecheck

docs(security): add security documentation and production checklist
  README.md
  docs/security/README.md
  docs/security/development.md
  docs/security/production-checklist.md
Due: none

feat(security): add header-based WebSocket authentication
  control-panel-frontend/src/hooks/__tests__/useWebSocket.test.ts
  control-panel-frontend/src/hooks/useWebSocket.ts
  docs/security/README.md
  docs/security/development.md
  simulation/scripts/perf/test_websocket.py
  simulation/src/api/websocket.py
  simulation/tests/api/test_websocket.py
Due: frontend-lint-staged, frontend-typecheck

docs(naming): add class naming conventions and duplicate detection hook
  .pre-commit-config.yaml
  docs/NAMING_CONVENTIONS.md
  scripts/check_duplicate_class_names.py
Due: none

feat(logging): standardize logging with structured JSON and PII masking
  control-panel-frontend/src/utils/logger.ts
  docs/logging-guidelines.md
  simulation/src/logging/__init__.py
  simulation/src/logging/context.py
  simulation/src/logging/filters.py
  simulation/src/logging/formatters.py
  simulation/src/logging/setup.py
  simulation/src/main.py
  simulation/src/matching/matching_server.py
  simulation/src/settings.py
  simulation/src/trips/trip_executor.py
  simulation/tests/logging/__init__.py
  simulation/tests/logging/test_context.py
  simulation/tests/logging/test_filters.py
  simulation/tests/logging/test_formatters.py
  simulation/tests/logging/test_setup.py
  stream-processor/src/logging_setup.py
  stream-processor/src/main.py
Due: frontend-lint-staged, frontend-typecheck

fix(docker): resolve simulation and frontend container startup failures
  control-panel-frontend/package-lock.json
  docker-compose.yml
  docker/frontend.Dockerfile
  simulation/src/main.py
  simulation/src/sim_logging/__init__.py
  simulation/src/sim_logging/context.py
  simulation/src/sim_logging/filters.py
  simulation/src/sim_logging/formatters.py
  simulation/src/sim_logging/setup.py
  simulation/tests/sim_logging/__init__.py
  simulation/tests/sim_logging/test_context.py
  simulation/tests/sim_logging/test_filters.py
  simulation/tests/sim_logging/test_formatters.py
  simulation/tests/sim_logging/test_setup.py
Due: frontend-lint-staged

feat(engine): add continuous agent spawning with configurable rates
  control-panel-frontend/package-lock.json
  control-panel-frontend/src/components/PerformancePanel.tsx
  simulation/src/api/models/agents.py
  simulation/src/api/routes/agents.py
  simulation/src/api/websocket.py
  simulation/src/engine/__init__.py
  simulation/src/engine/agent_factory.py
  simulation/src/main.py
  simulation/src/settings.py
  simulation/tests/api/test_agent_creation.py
Due: frontend-lint-staged, frontend-typecheck

chore(schema): sync JSON schemas with Pydantic models and add Databricks structure
  databricks/README.md
  databricks/config/.gitkeep
  databricks/notebooks/.gitkeep
  databricks/tests/.gitkeep
  databricks/utils/.gitkeep
  schemas/driver_profile_event.json
  schemas/driver_status_event.json
  schemas/gps_ping_event.json
  schemas/payment_event.json
  schemas/rating_event.json
  schemas/rider_profile_event.json
  schemas/surge_update_event.json
  schemas/trip_event.json
Due: none

feat(kafka): integrate Schema Registry for event validation
  docker-compose.yml
  simulation/src/agents/event_emitter.py
  simulation/src/api/routes/metrics.py
  simulation/src/kafka/serialization.py
  simulation/src/kafka/serializer_registry.py
  simulation/src/main.py
  simulation/src/matching/matching_server.py
  simulation/src/settings.py
  simulation/tests/kafka/test_serializer_registry.py
Due: none

feat(databricks): set up Structured Streaming from Kafka to Delta Lake
  databricks/README.md
  databricks/__init__.py
  databricks/config/__init__.py
  databricks/config/kafka_config.py
  databricks/notebooks/__init__.py
  databricks/notebooks/bronze_streaming_setup.py
  databricks/tests/__init__.py
  databricks/tests/test_bronze_streaming_setup.py
  databricks/utils/__init__.py
  databricks/utils/streaming_utils.py
Due: none

feat(databricks): create bronze_trip_events table from Kafka
  databricks/notebooks/bronze_streaming_setup.py
  databricks/tests/test_bronze_trip_events.py
Due: none

Path conditions:
  frontend-lint-staged: any of: ^control-panel-frontend/.*\.(ts|tsx|css|json|md)$
  frontend-typecheck: any of: ^control-panel-frontend/.*\.(ts|tsx)$
