Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-simulation, mypy-stream-processor, mypy-spark-streaming, mypy-dbt, mypy-airflow, mypy-great-expectations, mypy-superset, mypy-lakehouse, frontend-lint-staged, frontend-typecheck, check-duplicate-class-names

mypy-simulation:
  name: mypy (simulation)
  entry: bash -c 'cd services/simulation && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-stream-processor:
  name: mypy (stream-processor)
  entry: bash -c 'cd services/stream-processor && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-spark-streaming:
  name: mypy (spark-streaming)
  entry: bash -c 'cd services && [ ! -L spark_streaming ] && ln -s spark-streaming spark_streaming; PYTHONPATH=. ./spark-streaming/venv/bin/mypy spark_streaming/framework/ spark_streaming/config/ spark_streaming/jobs/ spark_streaming/utils/'
  language: system
  ...

mypy-dbt:
  name: mypy (dbt)
  entry: bash -c 'cd services/dbt && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-airflow:
  name: mypy (airflow)
  entry: bash -c 'cd services/airflow && ./venv/bin/mypy dags/'
  language: system
  pass_filenames: false

mypy-great-expectations:
  name: mypy (great-expectations)
  entry: bash -c 'cd quality/great-expectations && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-superset:
  name: mypy (superset)
  entry: bash -c 'cd analytics/superset && ./venv/bin/mypy superset_config.py dashboards/'
  language: system
  pass_filenames: false

mypy-lakehouse:
  name: mypy (lakehouse)
  entry: bash -c 'cd schemas/lakehouse && ./venv/bin/mypy schemas/ config/ scripts/'
  language: system
  pass_filenames: false

frontend-lint-staged:
  name: lint-staged (frontend)
  entry: bash -c 'cd services/frontend && npx lint-staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd services/frontend && npm run typecheck'
  language: system
  pass_filenames: false

check-duplicate-class-names:
  name: Check for duplicate class names
  entry: python scripts/check_duplicate_class_names.py
  language: python
  pass_filenames: false

feat(monitoring): migrate stream-processor from prometheus-client to OTel SDK
  infrastructure/docker/compose.yml
  services/stream-processor/pyproject.toml
  services/stream-processor/requirements.txt
  services/stream-processor/src/api.py
  services/stream-processor/src/main.py
  services/stream-processor/src/metrics.py
  services/stream-processor/src/processor.py
  services/stream-processor/src/prometheus_exporter.py
  services/stream-processor/src/sinks/redis_sink.py
Due: mypy-stream-processor, check-duplicate-class-names

feat(deprecation): remove Superset containers from Docker Compose
  infrastructure/docker/compose.yml
Due: none

feat(deprecation): finalize Docker Compose profiles and update documentation
  .pre-commit-config.yaml
  README.md
  infrastructure/docker/compose.yml
Due: none

fix(monitoring): replace deprecated loki exporter labels config with hint attributes
  infrastructure/docker/compose.yml
  infrastructure/scripts/init-bronze-metastore.py
  services/hive-metastore/Dockerfile
  services/otel-collector/otel-collector-config.yaml
  services/trino/etc/catalog/delta.properties
Due: check-duplicate-class-names

fix(monitoring): enable Loki volume API for Grafana Logs Drilldown
  services/loki/loki-config.yaml
Due: none

fix(monitoring): upgrade Loki 2.9.4 to 3.6.5 for Grafana Logs Drilldown compatibility
  infrastructure/docker/compose.yml
  services/loki/loki-config.yaml
Due: none

fix(monitoring): upgrade Tempo 2.3.1 to 2.10.0 and enable TraceQL metrics for Grafana Traces Drilldown
  infrastructure/docker/compose.yml
  services/grafana/provisioning/datasources/datasources.yml
  services/tempo/tempo-config.yaml
Due: none

fix(monitoring): add Docker healthchecks to Tempo and OTel Collector distroless containers
  infrastructure/docker/compose.yml
  infrastructure/docker/dockerfiles/otel-collector.Dockerfile
  infrastructure/docker/dockerfiles/tempo.Dockerfile
Due: none

fix(monitoring): add service_name label to logs pipeline for Grafana Logs Drilldown
  infrastructure/docker/compose.yml
  services/otel-collector/otel-collector-config.yaml
  services/simulation/src/sim_logging/formatters.py
  services/stream-processor/src/logging_setup.py
Due: mypy-simulation, mypy-stream-processor, check-duplicate-class-names

fix(monitoring): switch Grafana Trino datasource from PostgreSQL to official trino-datasource plugin
  infrastructure/docker/compose.yml
  services/grafana/dashboards/business-intelligence/demand-analysis.json
  services/grafana/dashboards/business-intelligence/driver-performance.json
  services/grafana/dashboards/business-intelligence/revenue-analytics.json
  services/grafana/dashboards/data-engineering/data-ingestion.json
  services/grafana/dashboards/data-engineering/data-quality.json
  services/grafana/dashboards/operations/platform-operations.json
  services/grafana/provisioning/datasources/datasources.yml
Due: none

feat(infra): dynamically discover containers from compose.yml instead of hard-coded list
  infrastructure/docker/compose.yml
  services/frontend/src/components/InfrastructurePanel.tsx
  services/frontend/src/types/api.ts
  services/simulation/pyproject.toml
  services/simulation/src/api/models/metrics.py
  services/simulation/src/api/routes/metrics.py
Due: mypy-simulation, frontend-lint-staged, frontend-typecheck, check-duplicate-class-names

docs(grafana): add descriptions to all 7 dashboards and 82 panels
  services/grafana/dashboards/business-intelligence/demand-analysis.json
  services/grafana/dashboards/business-intelligence/driver-performance.json
  services/grafana/dashboards/business-intelligence/revenue-analytics.json
  services/grafana/dashboards/data-engineering/data-ingestion.json
  services/grafana/dashboards/data-engineering/data-quality.json
  services/grafana/dashboards/monitoring/simulation-metrics.json
  services/grafana/dashboards/operations/platform-operations.json
Due: none

fix(metrics,pipeline): fix OTel metric units and add periodic metrics updater
  infrastructure/docker/compose.yml
  services/airflow/dags/dbt_transformation_dag.py
  services/dbt/dbt_project.yml
  services/simulation/src/api/app.py
  services/simulation/src/metrics/prometheus_exporter.py
  services/stream-processor/src/prometheus_exporter.py
Due: mypy-simulation, mypy-stream-processor, mypy-airflow, check-duplicate-class-names

fix(grafana,metrics): fix ~25 dashboard issues and MetricsUpdater metric extraction
  services/grafana/dashboards/business-intelligence/demand-analysis.json
  services/grafana/dashboards/business-intelligence/driver-performance.json
  services/grafana/dashboards/business-intelligence/revenue-analytics.json
  services/grafana/dashboards/data-engineering/data-ingestion.json
  services/grafana/dashboards/data-engineering/data-quality.json
  services/grafana/dashboards/monitoring/simulation-metrics.json
  services/grafana/dashboards/operations/platform-operations.json
  services/grafana/provisioning/alerting/rules.yml
  services/simulation/src/api/app.py
Due: mypy-simulation, check-duplicate-class-names

chore: remove stale spark_streaming symlink and gitignore entry
  .gitignore
Due: none

fix(infra): change frontend host port from 5173 to 5174 to avoid Airflow UI clash
  .env.example
  CONTEXT.md
  README.md
  docs/ARCHITECTURE.md
  docs/INFRASTRUCTURE.md
  docs/SECURITY.md
  infrastructure/docker/README.md
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/manifests/configmap-core.yaml
  infrastructure/kubernetes/manifests/simulation.yaml
  infrastructure/kubernetes/overlays/local/README.md
  scripts/dev_test.py
  services/frontend/README.md
  services/simulation/README.md
  services/simulation/src/settings.py
Due: mypy-simulation, frontend-lint-staged, check-duplicate-class-names

fix(airflow): replace DEV_MODE with PROD_MODE to fix Airflow UI clash
  .env.example
  CONTEXT.md
  README.md
  docs/ARCHITECTURE.md
  docs/INFRASTRUCTURE.md
  docs/SECURITY.md
  infrastructure/docker/README.md
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/manifests/configmap-core.yaml
  infrastructure/kubernetes/manifests/simulation.yaml
  infrastructure/kubernetes/overlays/local/README.md
  scripts/dev_test.py
  services/airflow/dags/dbt_transformation_dag.py
  services/frontend/README.md
  services/simulation/README.md
  services/simulation/src/settings.py
Due: mypy-simulation, mypy-airflow, frontend-lint-staged, check-duplicate-class-names

chore(scripts): remove 4 dead scripts and update README
  .pre-commit-config.yaml
  scripts/README.md
  scripts/check_duplicate_class_names.py
  scripts/smoke-test-streaming-jobs.py
  scripts/smoke-test-streaming-jobs.sh
  scripts/start-streaming-jobs.sh
Due: check-duplicate-class-names

chore(config): remove unused Kafka topic YAML configs and update doc refs
  CONTEXT.md
  config/CONTEXT.md
  config/kafka_topics_dev.yaml
  config/kafka_topics_prod.yaml
  docs/INFRASTRUCTURE.md
  docs/other/kafka_partitioning.md
Due: none

chore: remove stale data/db directory and fix Dockerfile mkdir path
  data/db/.gitkeep
  services/simulation/Dockerfile
Due: none

refactor(kafka): extract topic definitions into declarative config
  infrastructure/docker/compose.yml
  services/kafka/CONTEXT.md
  services/kafka/README.md
  services/kafka/create-topics.sh
  services/kafka/topics.yaml
Due: none

refactor: centralize all services under services/ with docs
  .gitignore
  data/osrm/.gitkeep
  docs/INFRASTRUCTURE.md
  infrastructure/config/localstack/README.md
  infrastructure/config/minio/README.md
  infrastructure/docker/compose.yml
  infrastructure/docker/dockerfiles/CONTEXT.md
  services/cadvisor/CONTEXT.md
  services/cadvisor/README.md
  services/hive-metastore/CONTEXT.md
  services/hive-metastore/README.md
  services/localstack/CONTEXT.md
  services/localstack/README.md
  services/localstack/test-services.sh
  services/loki/CONTEXT.md
  services/loki/README.md
  services/minio/CONTEXT.md
  services/minio/Dockerfile
  services/minio/README.md
  services/osrm/CONTEXT.md
  services/osrm/Dockerfile
  services/osrm/README.md
  services/osrm/data/sao-paulo-metro.osm.pbf
  services/osrm/scripts/osrm-init.sh
  services/otel-collector/CONTEXT.md
  services/otel-collector/Dockerfile
  services/otel-collector/README.md
  services/postgres/CONTEXT.md
  services/postgres/README.md
  services/redis/CONTEXT.md
  services/redis/README.md
  services/schema-registry/CONTEXT.md
  services/schema-registry/README.md
  services/spark-streaming/Dockerfile
  services/tempo/CONTEXT.md
  services/tempo/Dockerfile
  services/tempo/README.md
  services/trino/CONTEXT.md
  services/trino/README.md
Due: none

refactor: move looker to services/ and remove dangling analytics/ references
  docs/ARCHITECTURE.md
  docs/DEPENDENCIES.md
  infrastructure/kubernetes/helm/README.md
  services/looker/dashboards/.gitkeep
  services/looker/models/.gitkeep
  services/looker/views/.gitkeep
  tools/CONTEXT.md
  tools/dbt/CONTEXT.md
  tools/dbt/models/CONTEXT.md
Due: none

refactor(k8s): sync manifests with Docker Compose state
  infrastructure/kubernetes/README.md
  infrastructure/kubernetes/argocd/app-core-services.yaml
  infrastructure/kubernetes/argocd/app-data-pipeline.yaml
  infrastructure/kubernetes/manifests/BACKUP_RESTORE.md
  infrastructure/kubernetes/manifests/CONTEXT.md
  infrastructure/kubernetes/manifests/README-CONFIG.md
  infrastructure/kubernetes/manifests/airflow-scheduler.yaml
  infrastructure/kubernetes/manifests/airflow-webserver.yaml
  infrastructure/kubernetes/manifests/bronze-ingestion.yaml
  infrastructure/kubernetes/manifests/bronze-init.yaml
  infrastructure/kubernetes/manifests/cadvisor.yaml
  infrastructure/kubernetes/manifests/configmap-core.yaml
  infrastructure/kubernetes/manifests/configmap-data-pipeline.yaml
  infrastructure/kubernetes/manifests/grafana.yaml
  infrastructure/kubernetes/manifests/hive-metastore.yaml
  infrastructure/kubernetes/manifests/httproute-web-services.yaml
  infrastructure/kubernetes/manifests/loki.yaml
  infrastructure/kubernetes/manifests/minio-init.yaml
  infrastructure/kubernetes/manifests/minio.yaml
  infrastructure/kubernetes/manifests/otel-collector.yaml
  infrastructure/kubernetes/manifests/postgres-metastore.yaml
  infrastructure/kubernetes/manifests/prometheus.yaml
  infrastructure/kubernetes/manifests/pv-static.yaml
  infrastructure/kubernetes/manifests/pvc-postgres-metastore.yaml
  infrastructure/kubernetes/manifests/secret-api-keys.yaml
  infrastructure/kubernetes/manifests/secret-credentials.yaml
  infrastructure/kubernetes/manifests/simulation.yaml
  infrastructure/kubernetes/manifests/spark-master.yaml
  infrastructure/kubernetes/manifests/spark-thrift-server.yaml
  infrastructure/kubernetes/manifests/spark-worker.yaml
  infrastructure/kubernetes/manifests/stream-processor.yaml
  infrastructure/kubernetes/manifests/superset-redis.yaml
  infrastructure/kubernetes/manifests/superset.yaml
  infrastructure/kubernetes/manifests/tempo.yaml
  infrastructure/kubernetes/manifests/trino.yaml
  infrastructure/kubernetes/scripts/deploy-services.sh
Due: none

fix(airflow): add max_active_runs=1 to dbt DAGs to prevent concurrent Delta merges
  services/airflow/dags/dbt_transformation_dag.py
Due: mypy-airflow, check-duplicate-class-names

tune: right-size container memory limits based on observed usage
  infrastructure/docker/compose.yml
  services/otel-collector/otel-collector-config.yaml
Due: none

fix(osrm): prevent OOM kill during map extraction and fix restart loop
  infrastructure/docker/compose.yml
  services/osrm/scripts/osrm-init.sh
Due: none

tune: bump hive-metastore memory limit from 768m to 1152m
  infrastructure/docker/compose.yml
Due: none

docs: add Trino, OTel Collector, Loki, and Tempo to architecture documentation
  CONTEXT.md
  docs/ARCHITECTURE.md
  docs/DEPENDENCIES.md
Due: none

feat(ci): add automated API contract testing
  .github/workflows/api-contract-validation.yml
  docs/other/API_CONTRACT.md
  schemas/api/openapi.json
  services/frontend/package-lock.json
  services/frontend/package.json
  services/frontend/scripts/generate-types.sh
  services/frontend/src/types/api.generated.ts
  services/simulation/scripts/export-openapi.py
  services/simulation/tests/test_api_contract.py
Due: frontend-lint-staged, frontend-typecheck, check-duplicate-class-names

Remove since it's a mounted artifact, not a source file.
  services/frontend/.gitignore
Due: none

feat(dbt): add multi-adapter profile support with DuckDB, Spark, and Glue targets
  tools/dbt/dbt_project.yml
  tools/dbt/profiles.yml
Due: none

feat(dbt): add cross-database dispatch macros for DuckDB and Spark compatibility
  tools/dbt/macros/cross_db/day_of_week.sql
  tools/dbt/macros/cross_db/epoch_seconds.sql
  tools/dbt/macros/cross_db/format_date.sql
  tools/dbt/macros/cross_db/json_field.sql
  tools/dbt/macros/cross_db/safe_array_element.sql
  tools/dbt/macros/cross_db/split_string.sql
  tools/dbt/macros/cross_db/to_ts.sql
Due: none

feat(dbt): add adapter-dispatched source access for DuckDB and Spark
  tools/dbt/macros/delta_source.sql
  tools/dbt/macros/empty_source_guard.sql
  tools/dbt/models/staging/sources.yml
Due: none

feat(api): add rate limiting with tiered limits, OTel metrics, and Retry-After headers
  services/simulation/src/api/app.py
  services/simulation/src/api/rate_limit.py
  services/simulation/src/api/routes/simulation.py
  services/simulation/src/api/websocket.py
  services/simulation/tests/api/conftest.py
  services/simulation/tests/api/test_rate_limiting.py
Due: mypy-simulation, check-duplicate-class-names

feat(bronze-ingestion): add Kafka-to-Delta ingestion service
  services/bronze-ingestion/README.md
  services/bronze-ingestion/requirements.txt
  services/bronze-ingestion/src/__init__.py
  services/bronze-ingestion/src/config.py
  services/bronze-ingestion/src/consumer.py
  services/bronze-ingestion/src/main.py
  services/bronze-ingestion/src/writer.py
  services/bronze-ingestion/tests/__init__.py
  services/bronze-ingestion/tests/test_ingestion_core.py
Due: check-duplicate-class-names

Path conditions:
  mypy-simulation: any of: ^services/simulation/src/.*\.py$
  mypy-stream-processor: any of: ^services/stream-processor/src/.*\.py$
  mypy-spark-streaming: any of: ^services/spark-streaming/(framework|config|jobs|utils)/.*\.py$
  mypy-dbt: any of: ^services/dbt/[^/]+\.py$
  mypy-airflow: any of: ^services/airflow/dags/.*\.py$
  mypy-great-expectations: any of: ^quality/great-expectations/[^/]+\.py$
  mypy-superset: any of: ^analytics/superset/(superset_config\.py|dashboards/.*\.py)$
  mypy-lakehouse: any of: ^schemas/lakehouse/(schemas|config|scripts)/.*\.py$
  frontend-lint-staged: any of: ^services/frontend/.*\.(ts|tsx|css|json|md)$
  frontend-typecheck: any of: ^services/frontend/.*\.(ts|tsx)$
  check-duplicate-class-names: any of: \.py$
