Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-simulation, mypy-stream-processor, mypy-dbt, mypy-airflow, mypy-great-expectations, mypy-lakehouse, frontend-lint-staged, frontend-typecheck, kubeconform

mypy-simulation:
  name: mypy (simulation)
  entry: bash -c 'cd services/simulation && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-stream-processor:
  name: mypy (stream-processor)
  entry: bash -c 'cd services/stream-processor && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-dbt:
  name: mypy (dbt)
  entry: bash -c 'cd tools/dbt && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-airflow:
  name: mypy (airflow)
  entry: bash -c 'cd services/airflow && ./venv/bin/mypy dags/'
  language: system
  pass_filenames: false

mypy-great-expectations:
  name: mypy (great-expectations)
  entry: bash -c 'cd tools/great-expectations && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-lakehouse:
  name: mypy (lakehouse)
  entry: bash -c 'cd schemas/lakehouse && ./venv/bin/mypy schemas/ config/ scripts/'
  language: system
  pass_filenames: false

frontend-lint-staged:
  name: lint-staged (frontend)
  entry: bash -c 'cd services/frontend && npx lint-staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd services/frontend && npm run typecheck'
  language: system
  pass_filenames: false

kubeconform:
  name: kubeconform
  ...

fix(deploy): resolve placeholders via deploy branch, add DNS and metastore DB creation
  .github/workflows/deploy.yml
  .github/workflows/teardown.yml
  infrastructure/kubernetes/argocd/app-rideshare-platform.yaml
  infrastructure/terraform/foundation/modules/iam/ci_role.tf
Due: kubeconform

feat(infra): switch to subdomain-per-service routing with ALB IngressGroup
  .github/workflows/deploy.yml
  .github/workflows/teardown.yml
  README.md
  docs/CLOUD-DEPLOYMENT.md
  docs/INFRASTRUCTURE.md
  infrastructure/kubernetes/overlays/production/airflow-webserver-patch.yaml
  infrastructure/kubernetes/overlays/production/grafana-patch.yaml
  infrastructure/kubernetes/overlays/production/ingress-airflow.yaml
  infrastructure/kubernetes/overlays/production/ingress-api.yaml
  infrastructure/kubernetes/overlays/production/ingress-grafana.yaml
  infrastructure/kubernetes/overlays/production/ingress-prometheus.yaml
  infrastructure/kubernetes/overlays/production/ingress-trino.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
Due: none

refactor(infra): reorganize infrastructure folder structure
  README.md
  docs/SECURITY.md
  infrastructure/CONTEXT.md
  infrastructure/docker/compose.yml
  infrastructure/terraform/environments/dev/.gitkeep
  infrastructure/terraform/environments/prod/.gitkeep
  infrastructure/terraform/foundation/terraform.tfvars
  infrastructure/terraform/modules/database/.gitkeep
  infrastructure/terraform/modules/databricks/.gitkeep
  infrastructure/terraform/modules/elasticache/.gitkeep
  infrastructure/terraform/modules/fargate/.gitkeep
  infrastructure/terraform/modules/iam/.gitkeep
  infrastructure/terraform/modules/kafka/.gitkeep
  infrastructure/terraform/modules/monitoring/.gitkeep
  infrastructure/terraform/modules/mwaa/.gitkeep
  infrastructure/terraform/modules/networking/.gitkeep
  infrastructure/terraform/modules/storage/.gitkeep
  services/openldap/CONTEXT.md
  services/openldap/README.md
  services/openldap/bootstrap.ldif
  tools/dbt/macros/cross_db/CONTEXT.md
Due: none

refactor(ci): consolidate CI/CD workflows from 7 to 4
  .github/workflows/api-contract-validation.yml
  .github/workflows/build-and-push.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy.yml
  .github/workflows/integration-tests.yml
  .github/workflows/teardown.yml
  README.md
  docs/CLOUD-DEPLOYMENT.md
  docs/INFRASTRUCTURE.md
  docs/other/API_CONTRACT.md
  infrastructure/terraform/foundation/modules/iam/ci_role.tf
  tests/integration/data_platform/test_ci_workflow.py
Due: none

fix(k8s): align base manifests with Docker Compose source of truth
  infrastructure/kubernetes/manifests/airflow-scheduler.yaml
  infrastructure/kubernetes/manifests/airflow-webserver.yaml
  infrastructure/kubernetes/manifests/bronze-ingestion.yaml
  infrastructure/kubernetes/manifests/frontend.yaml
  infrastructure/kubernetes/manifests/grafana.yaml
  infrastructure/kubernetes/manifests/hive-metastore.yaml
  infrastructure/kubernetes/manifests/kafka.yaml
  infrastructure/kubernetes/manifests/loki.yaml
  infrastructure/kubernetes/manifests/osrm.yaml
  infrastructure/kubernetes/manifests/otel-collector.yaml
  infrastructure/kubernetes/manifests/prometheus.yaml
  infrastructure/kubernetes/manifests/redis.yaml
  infrastructure/kubernetes/manifests/simulation.yaml
  infrastructure/kubernetes/manifests/spark-thrift-server.yaml
  infrastructure/kubernetes/manifests/stream-processor.yaml
  infrastructure/kubernetes/manifests/tempo.yaml
  infrastructure/kubernetes/manifests/trino.yaml
Due: kubeconform

fix(simulation): eliminate ~83% redundant GPS events per trip
  services/simulation/src/agents/rider_agent.py
  services/simulation/src/trips/trip_executor.py
  services/simulation/tests/agents/test_rider_agent.py
  services/simulation/tests/trips/test_trip_executor.py
Due: mypy-simulation

perf(simulation): optimize event serialization pipeline
  services/simulation/src/agents/driver_agent.py
  services/simulation/src/agents/event_emitter.py
  services/simulation/src/agents/rider_agent.py
  services/simulation/src/kafka/schema_registry.py
  services/simulation/src/kafka/serialization.py
  services/simulation/src/matching/matching_server.py
  services/simulation/src/matching/offer_timeout.py
  services/simulation/src/puppet/drive_controller.py
  services/simulation/src/trips/trip_executor.py
  services/simulation/tests/agents/test_agent_events.py
  services/simulation/tests/kafka/test_event_serialization.py
  services/simulation/tests/kafka/test_schema_registry.py
Due: mypy-simulation

perf(simulation): optimize engine core loop data structures
  services/simulation/src/engine/__init__.py
  services/simulation/tests/engine/test_simulation_engine.py
Due: mypy-simulation

perf(simulation): optimize metrics collector with deque and fast-path singleton
  services/simulation/src/agents/event_emitter.py
  services/simulation/src/metrics/collector.py
  services/simulation/tests/agents/test_agent_events.py
  services/simulation/tests/metrics/__init__.py
  services/simulation/tests/metrics/test_metrics_collector.py
Due: mypy-simulation

perf(simulation): pre-build zone polygons with STRtree spatial index
  services/simulation/src/geo/zones.py
  services/simulation/tests/geo/test_zone_loader.py
Due: mypy-simulation

perf(simulation): precompute route headings and make calculate_heading a staticmethod
  services/simulation/src/agents/driver_agent.py
  services/simulation/src/geo/gps_simulation.py
  services/simulation/src/trips/trip_executor.py
  services/simulation/tests/agents/test_profile_updates.py
  services/simulation/tests/geo/test_gps_simulation.py
  services/simulation/tests/trips/test_trip_executor.py
Due: mypy-simulation

perf(simulation): cache H3 cells and use progressive ring expansion in geospatial index
  services/simulation/src/matching/driver_geospatial_index.py
  services/simulation/tests/matching/test_driver_geospatial_index.py
Due: mypy-simulation

perf(simulation): optimize matching server hot paths
  services/simulation/src/matching/matching_server.py
  services/simulation/tests/matching/test_matching_server.py
Due: mypy-simulation

perf(simulation): optimize agent hot paths for patience loop and idle GPS pings
  services/simulation/src/agents/driver_agent.py
  services/simulation/src/agents/rider_agent.py
  services/simulation/tests/agents/test_driver_agent.py
  services/simulation/tests/agents/test_rider_agent.py
Due: mypy-simulation

perf(simulation): reduce Kafka producer per-event overhead
  services/simulation/src/kafka/data_corruption.py
  services/simulation/src/kafka/producer.py
  services/simulation/tests/kafka/test_data_corruption.py
  services/simulation/tests/kafka/test_producer.py
Due: mypy-simulation

perf(simulation): optimize geospatial utilities with bounding box pre-check and Haversine consolidation
  services/simulation/src/agents/dna.py
  services/simulation/src/agents/rider_agent.py
  services/simulation/src/geo/distance.py
  services/simulation/src/geo/gps_simulation.py
  services/simulation/src/geo/zones.py
  services/simulation/tests/agents/test_agent_events.py
  services/simulation/tests/geo/test_distance.py
  services/simulation/tests/geo/test_gps_simulation.py
Due: mypy-simulation

perf(simulation): optimize logging and snapshot infrastructure overhead
  services/simulation/src/api/snapshots.py
  services/simulation/src/sim_logging/context.py
  services/simulation/src/sim_logging/filters.py
  services/simulation/src/sim_logging/formatters.py
  services/simulation/tests/sim_logging/test_context.py
  services/simulation/tests/sim_logging/test_filters.py
Due: mypy-simulation

perf(simulation): micro-optimize agent factory, fare calculation, and profile mutations
  services/simulation/src/agents/profile_mutations.py
  services/simulation/src/agents/rider_agent.py
  services/simulation/src/engine/agent_factory.py
  services/simulation/tests/agents/test_profile_mutations.py
  services/simulation/tests/agents/test_rider_agent.py
  services/simulation/tests/engine/test_agent_factory.py
Due: mypy-simulation

perf(simulation): clean up infrastructure micro-inefficiencies across subsystems
  services/simulation/src/agents/driver_agent.py
  services/simulation/src/engine/thread_coordinator.py
  services/simulation/src/events/factory.py
  services/simulation/src/geo/osrm_client.py
  services/simulation/src/kafka/data_corruption.py
  services/simulation/src/main.py
  services/simulation/src/matching/offer_timeout.py
  services/simulation/tests/engine/test_thread_coordinator.py
  services/simulation/tests/kafka/test_data_corruption.py
Due: mypy-simulation

fix: resolve performance regressions from optimization commits
  infrastructure/docker/compose.yml
  services/frontend/src/App.tsx
  services/frontend/src/components/Map.tsx
  services/simulation/src/agents/driver_agent.py
  services/simulation/src/agents/rider_agent.py
  services/simulation/src/engine/__init__.py
  services/simulation/src/kafka/producer.py
  services/simulation/src/trips/trip_executor.py
  services/simulation/tests/agents/test_agent_events.py
  services/simulation/tests/agents/test_rider_agent.py
  services/simulation/tests/agents/test_trip_execution.py
  services/simulation/tests/trips/test_proximity_arrival.py
  services/simulation/tests/trips/test_trip_executor.py
Due: mypy-simulation, frontend-lint-staged, frontend-typecheck

perf(frontend): eliminate 30s full-tree re-renders from health check polling
  services/frontend/src/components/Map.tsx
  services/frontend/src/hooks/useApiHealth.ts
Due: frontend-lint-staged, frontend-typecheck

chore: add todo.md to gitignore
  .gitignore
Due: none

feat(grafana): add geomap panels for demand, surge, and revenue visualization
  services/grafana/dashboards/business-intelligence/demand-analysis.json
  services/grafana/dashboards/business-intelligence/revenue-analytics.json
Due: none

feat(grafana): enable DLQ population and improve data quality dashboards
  infrastructure/docker/compose.yml
  services/grafana/dashboards/data-engineering/data-ingestion.json
  services/grafana/dashboards/data-engineering/data-quality.json
  services/simulation/src/kafka/serialization.py
  services/simulation/src/metrics/prometheus_exporter.py
Due: mypy-simulation

refactor(secrets): consolidate 11 AWS Secrets Manager secrets into 4
  .github/workflows/deploy.yml
  .github/workflows/integration-tests.yml
  docs/INFRASTRUCTURE.md
  docs/SECURITY.md
  infrastructure/CONTEXT.md
  infrastructure/kubernetes/manifests/external-secrets-app-credentials.yaml
  infrastructure/scripts/README.md
  infrastructure/scripts/fetch-secrets.py
  infrastructure/scripts/seed-secrets.py
  infrastructure/terraform/foundation/modules/secrets_manager/main.tf
  infrastructure/terraform/foundation/modules/secrets_manager/outputs.tf
  services/grafana/README.md
  services/hive-metastore/README.md
  services/localstack/README.md
  services/minio/README.md
  services/postgres/README.md
  services/schema-registry/README.md
  tests/integration/data_platform/utils/credentials.py
Due: kubeconform

chore: remove services/looker and all Looker references
  services/looker/dashboards/.gitkeep
  services/looker/models/.gitkeep
  services/looker/views/.gitkeep
  services/simulation/src/CONTEXT.md
  tools/dbt/models/CONTEXT.md
Due: none

feat(terraform): automate DNS delegation in foundation config
  docs/CLOUD-DEPLOYMENT.md
  infrastructure/terraform/foundation/main.tf
  infrastructure/terraform/foundation/variables.tf
Due: none

feat(frontend): add per-category toggle checkboxes to LayerControls
  services/frontend/src/components/LayerControls.module.css
  services/frontend/src/components/LayerControls.tsx
  services/frontend/src/components/__tests__/LayerControls.test.tsx
Due: frontend-lint-staged, frontend-typecheck

feat(frontend): show CPU cores used in infrastructure cards
  services/control-panel/src/components/InfrastructurePanel.module.css
  services/control-panel/src/components/InfrastructurePanel.tsx
  services/control-panel/src/components/__tests__/InfrastructurePanel.test.tsx
Due: none

feat(frontend): adopt trip lifecycle phase color scheme
  services/control-panel/src/components/LayerControls.tsx
  services/control-panel/src/components/MapLegend.tsx
  services/control-panel/src/layers/agentLayers.ts
  services/control-panel/src/layers/tripLayers.ts
Due: none

feat(perf): add selective scenario execution to performance test runner
  tests/performance/__main__.py
  tests/performance/runner.py
Due: none

feat(frontend): replace default Vite favicon with green car icon
  services/control-panel/index.html
  services/control-panel/public/vite.svg
Due: none

chore(terraform): upgrade EKS Kubernetes version from 1.31 to 1.33
  infrastructure/terraform/platform/modules/eks/variables.tf
  infrastructure/terraform/platform/variables.tf
Due: none

fix(perf): handle edge cases in selective scenario execution
  tests/performance/runner.py
Due: none

fix(perf): make agent_count mean total agents, not per-type count
  tests/performance/runner.py
  tests/performance/scenarios/duration_leak.py
  tests/performance/scenarios/speed_scaling.py
Due: none

feat(perf): replace per-container CPU stop with global CPU saturation detection
  tests/performance/analysis/findings.py
  tests/performance/analysis/report_generator.py
  tests/performance/analysis/visualizations.py
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/base.py
  tests/performance/scenarios/speed_scaling.py
  tests/performance/scenarios/stress_test.py
Due: none

fix(frontend): enable mask mode on icon mappings for getColor tinting
  services/control-panel/src/layers/agentLayers.ts
Due: none

feat(perf): increase spawn rates and align stress test batch interval
  services/simulation/src/settings.py
  tests/performance/config.py
Due: mypy-simulation

fix(api): increase agent creation rate limits for stress testing
  services/simulation/src/api/routes/agents.py
Due: mypy-simulation

Path conditions:
  mypy-simulation: any of: ^services/simulation/src/.*\.py$
  mypy-stream-processor: any of: ^services/stream-processor/src/.*\.py$
  mypy-dbt: any of: ^tools/dbt/[^/]+\.py$
  mypy-airflow: any of: ^services/airflow/dags/.*\.py$
  mypy-great-expectations: any of: ^tools/great-expectations/[^/]+\.py$
  mypy-lakehouse: any of: ^schemas/lakehouse/(schemas|config|scripts)/.*\.py$
  frontend-lint-staged: any of: ^services/frontend/.*\.(ts|tsx|css|json|md)$
  frontend-typecheck: any of: ^services/frontend/.*\.(ts|tsx)$
  kubeconform: any of: ^infrastructure/kubernetes/.*\.yaml$ and \.(yaml|yml)$ and not (^infrastructure/kubernetes/(argocd/install\.yaml|overlays/))
