Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-simulation, mypy-stream-processor, mypy-spark-streaming, mypy-dbt, mypy-airflow, mypy-great-expectations, mypy-superset, mypy-lakehouse, frontend-lint-staged, frontend-typecheck, check-duplicate-class-names

mypy-simulation:
  name: mypy (simulation)
  entry: bash -c 'cd services/simulation && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-stream-processor:
  name: mypy (stream-processor)
  entry: bash -c 'cd services/stream-processor && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-spark-streaming:
  name: mypy (spark-streaming)
  entry: bash -c 'cd services && [ ! -L spark_streaming ] && ln -s spark-streaming spark_streaming; PYTHONPATH=. ./spark-streaming/venv/bin/mypy spark_streaming/framework/ spark_streaming/config/ spark_streaming/jobs/ spark_streaming/utils/'
  language: system
  ...

mypy-dbt:
  name: mypy (dbt)
  entry: bash -c 'cd services/dbt && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-airflow:
  name: mypy (airflow)
  entry: bash -c 'cd services/airflow && ./venv/bin/mypy dags/'
  language: system
  pass_filenames: false

mypy-great-expectations:
  name: mypy (great-expectations)
  entry: bash -c 'cd quality/great-expectations && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-superset:
  name: mypy (superset)
  entry: bash -c 'cd analytics/superset && ./venv/bin/mypy superset_config.py dashboards/'
  language: system
  pass_filenames: false

mypy-lakehouse:
  name: mypy (lakehouse)
  entry: bash -c 'cd schemas/lakehouse && ./venv/bin/mypy schemas/ config/ scripts/'
  language: system
  pass_filenames: false

frontend-lint-staged:
  name: lint-staged (frontend)
  entry: bash -c 'cd services/frontend && npx lint-staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd services/frontend && npm run typecheck'
  language: system
  pass_filenames: false

check-duplicate-class-names:
  name: Check for duplicate class names
  entry: python scripts/check_duplicate_class_names.py
  language: python
  pass_filenames: false

feat(api): add security headers middleware with CSP, HSTS, and clickjacking protection
  docs/SECURITY.md
  services/simulation/src/api/app.py
  services/simulation/src/api/middleware/__init__.py
  services/simulation/src/api/middleware/security_headers.py
  services/simulation/tests/test_security_headers.py
Due: mypy-simulation, check-duplicate-class-names

feat(bronze-ingestion): add health endpoint and Dockerfile packaging
  services/bronze-ingestion/Dockerfile
  services/bronze-ingestion/README.md
  services/bronze-ingestion/src/health.py
  services/bronze-ingestion/src/main.py
  services/bronze-ingestion/tests/test_ingestion_core.py
Due: check-duplicate-class-names

feat(bronze-ingestion): add DLQ routing for malformed Kafka messages
  services/bronze-ingestion/src/config.py
  services/bronze-ingestion/src/consumer.py
  services/bronze-ingestion/src/dlq_writer.py
  services/bronze-ingestion/src/health.py
  services/bronze-ingestion/src/main.py
  services/bronze-ingestion/tests/test_dlq_routing.py
  services/bronze-ingestion/tests/test_ingestion_core.py
Due: check-duplicate-class-names

feat(dbt): migrate staging models from Spark functions to dispatch macros
  tools/dbt/models/staging/stg_driver_status.sql
  tools/dbt/models/staging/stg_drivers.sql
  tools/dbt/models/staging/stg_gps_pings.sql
  tools/dbt/models/staging/stg_payments.sql
  tools/dbt/models/staging/stg_ratings.sql
  tools/dbt/models/staging/stg_riders.sql
  tools/dbt/models/staging/stg_surge_updates.sql
  tools/dbt/models/staging/stg_trips.sql
Due: none

feat(dbt): migrate Gold layer and anomaly models from Spark functions to dispatch macros
  tools/dbt/macros/cross_db/format_date.sql
  tools/dbt/models/marts/aggregates/agg_hourly_zone_demand.sql
  tools/dbt/models/marts/dimensions/dim_time.sql
  tools/dbt/models/marts/facts/fact_driver_activity.sql
  tools/dbt/models/marts/facts/fact_trips.sql
  tools/dbt/models/staging/anomalies_impossible_speeds.sql
  tools/dbt/models/staging/anomalies_zombie_drivers.sql
Due: none

feat(airflow): migrate DAGs from PyHive/Spark to DuckDB and delta-rs
  infrastructure/docker/compose.yml
  infrastructure/scripts/check_bronze_tables.py
  services/airflow/dags/dbt_transformation_dag.py
  services/airflow/dags/delta_maintenance_dag.py
  services/airflow/dags/dlq_monitoring_dag.py
  services/airflow/pyproject.toml
Due: mypy-airflow, check-duplicate-class-names

feat(great-expectations): migrate validation engine from Spark to DuckDB
  tools/great-expectations/build_data_docs.py
  tools/great-expectations/gx/CONTEXT.md
  tools/great-expectations/gx/checkpoints/gold_validation.yml
  tools/great-expectations/gx/checkpoints/silver_validation.yml
  tools/great-expectations/gx/great_expectations.yml
  tools/great-expectations/requirements.txt
  tools/great-expectations/run_checkpoint.py
  tools/great-expectations/test_connection.py
  tools/great-expectations/tests/test_silver_expectations.py
Due: check-duplicate-class-names

feat(docker): replace Spark bronze ingestion with lightweight service
  infrastructure/docker/compose.yml
Due: none

feat(docker): add Delta table registration for Trino via Hive Metastore
  infrastructure/docker/compose.yml
  infrastructure/scripts/register-delta-tables.sh
Due: none

chore(spark-streaming): remove Spark Structured Streaming service
  .pre-commit-config.yaml
  services/spark-streaming/CONTEXT.md
  services/spark-streaming/Dockerfile
  services/spark-streaming/README.md
  services/spark-streaming/__init__.py
  services/spark-streaming/config/__init__.py
  services/spark-streaming/config/checkpoint_config.py
  services/spark-streaming/config/delta_write_config.py
  services/spark-streaming/config/kafka_config.py
  services/spark-streaming/framework/CONTEXT.md
  services/spark-streaming/framework/__init__.py
  services/spark-streaming/framework/base_streaming_job.py
  services/spark-streaming/jobs/CONTEXT.md
  services/spark-streaming/jobs/__init__.py
  services/spark-streaming/jobs/bronze_ingestion_high_volume.py
  services/spark-streaming/jobs/bronze_ingestion_low_volume.py
  services/spark-streaming/jobs/multi_topic_streaming_job.py
  services/spark-streaming/pyproject.toml
  services/spark-streaming/requirements-test.txt
  services/spark-streaming/tests/__init__.py
  services/spark-streaming/tests/conftest.py
  services/spark-streaming/tests/fixtures/__init__.py
  services/spark-streaming/tests/fixtures/mock_kafka.py
  services/spark-streaming/tests/fixtures/test_data.py
  services/spark-streaming/tests/test_bronze_ingestion_high_volume.py
  services/spark-streaming/tests/test_bronze_ingestion_low_volume.py
  services/spark-streaming/tests/test_checkpoint_recovery.py
  services/spark-streaming/tests/test_delta_write_config.py
  services/spark-streaming/tests/test_dlq_handling.py
  services/spark-streaming/tests/test_gps_streaming.py
  services/spark-streaming/tests/test_ingestion_metadata.py
  services/spark-streaming/tests/test_integration.py
  services/spark-streaming/tests/test_multi_topic_streaming_job.py
  services/spark-streaming/tests/test_remaining_streaming_jobs.py
  services/spark-streaming/tests/test_streaming_framework.py
  services/spark-streaming/tests/test_trips_streaming.py
  services/spark-streaming/utils/CONTEXT.md
  services/spark-streaming/utils/__init__.py
  services/spark-streaming/utils/dlq_handler.py
  services/spark-streaming/utils/error_handler.py
Due: mypy-spark-streaming, check-duplicate-class-names

chore(infra): remove Spark-based Bronze init scripts
  infrastructure/scripts/init-bronze-metastore.py
  infrastructure/scripts/wait-for-thrift-and-init-bronze.sh
Due: check-duplicate-class-names

refactor(docker): update compose for lightweight bronze-ingestion
  infrastructure/docker/CONTEXT.md
  infrastructure/docker/README.md
  infrastructure/docker/compose.test.yml
  infrastructure/docker/compose.yml
  infrastructure/docker/dockerfiles/CONTEXT.md
Due: none

refactor(k8s): replace Spark deployments with lightweight bronze-ingestion
  infrastructure/kubernetes/README.md
  infrastructure/kubernetes/helm/README.md
  infrastructure/kubernetes/manifests/CONTEXT.md
  infrastructure/kubernetes/manifests/bronze-ingestion.yaml
  infrastructure/kubernetes/manifests/bronze-init.yaml
  infrastructure/kubernetes/manifests/spark-thrift-server.yaml
  infrastructure/kubernetes/tests/test_data_platform.sh
Due: none

refactor(services): update bronze-ingestion health and simulation metrics
  services/bronze-ingestion/src/dlq_writer.py
  services/bronze-ingestion/src/health.py
  services/simulation/src/api/routes/metrics.py
Due: mypy-simulation, check-duplicate-class-names

refactor(tests): update integration tests for bronze-ingestion service
  tests/integration/data_platform/conftest.py
  tests/integration/data_platform/test_foundation_integration.py
  tests/integration/data_platform/test_resilience.py
  tests/integration/data_platform/test_streaming_job_entry_points.py
  tests/integration/data_platform/utils/sql_helpers.py
  tests/integration/data_platform/utils/state_reset.py
  tests/performance/config.py
Due: check-duplicate-class-names

chore(ci): remove spark-streaming from CI pipeline
  .github/workflows/README.md
  .github/workflows/checks.yml
Due: none

docs: update all references from Spark Streaming to DuckDB/bronze-ingestion architecture
  CONTEXT.md
  README.md
  docs/ARCHITECTURE.md
  docs/DEPENDENCIES.md
  docs/INFRASTRUCTURE.md
  docs/PATTERNS.md
  docs/SECURITY.md
  docs/TESTING.md
  schemas/CONTEXT.md
  schemas/lakehouse/CONTEXT.md
  services/airflow/CONTEXT.md
  services/airflow/dags/CONTEXT.md
  services/hive-metastore/CONTEXT.md
  services/minio/CONTEXT.md
  services/minio/README.md
  services/trino/README.md
  tests/integration/data_platform/CONTEXT.md
  tools/CONTEXT.md
  tools/dbt/CONTEXT.md
  tools/dbt/README.md
  tools/dbt/models/CONTEXT.md
  tools/dbt/models/staging/CONTEXT.md
Due: none

fix(airflow): resolve DuckDB delta extension S3/IMDS timeout in Airflow dbt pipelines
  infrastructure/docker/compose.yml
  infrastructure/scripts/check_bronze_tables.py
  services/airflow/dags/dbt_transformation_dag.py
  tools/dbt/profiles.yml
Due: mypy-airflow, check-duplicate-class-names

fix(dbt): use literal dot delimiter in stg_trips trip_state extraction
  tools/dbt/models/staging/stg_trips.sql
Due: none

fix(docker): add postgres wait loop to hive-metastore entrypoint
  services/hive-metastore/Dockerfile
  services/hive-metastore/entrypoint-wrapper.sh
Due: none

fix(trino): enable register_table procedure and fix init script error handling
  infrastructure/scripts/register-delta-tables.sh
  services/trino/etc/catalog/delta.properties
Due: none

fix(bronze-ingestion): seed empty Delta tables at startup for all Kafka topics
  services/bronze-ingestion/Dockerfile
  services/bronze-ingestion/src/main.py
  services/bronze-ingestion/src/writer.py
  services/bronze-ingestion/tests/test_ingestion_core.py
Due: check-duplicate-class-names

fix(grafana): resolve "no data" in all Trino-backed dashboards
  infrastructure/scripts/export-dbt-to-s3.py
  infrastructure/scripts/register-delta-tables.sh
  services/airflow/dags/dbt_transformation_dag.py
  services/grafana/dashboards/data-engineering/data-ingestion.json
Due: mypy-airflow, check-duplicate-class-names

fix(simulation): extend drain timeout from 10min to 2h
  services/simulation/src/engine/CONTEXT.md
  services/simulation/src/engine/__init__.py
Due: mypy-simulation, check-duplicate-class-names

feat(perf): fix CPU clamp, add 3-phase duration test, add speed scaling scenario
  tests/performance/README.md
  tests/performance/analysis/visualizations.py
  tests/performance/collectors/docker_stats.py
  tests/performance/collectors/simulation_api.py
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/__init__.py
  tests/performance/scenarios/duration_leak.py
  tests/performance/scenarios/speed_scaling.py
  tests/performance/scenarios/stress_test.py
Due: check-duplicate-class-names

feat(frontend): increase default agent counts and add max input limits
  services/frontend/src/components/ControlPanel.tsx
Due: frontend-lint-staged, frontend-typecheck

feat(perf): run speed scaling before duration test to derive optimal speed
  tests/performance/README.md
  tests/performance/analysis/report_generator.py
  tests/performance/runner.py
  tests/performance/scenarios/duration_leak.py
Due: check-duplicate-class-names

fix(frontend): extract API error details in toast notifications and fix 3 test failures
  services/frontend/src/components/__tests__/ControlPanel.test.tsx
  services/frontend/src/components/inspector/__tests__/DriverInspector.test.tsx
  services/frontend/src/components/inspector/__tests__/RiderInspector.test.tsx
  services/frontend/src/hooks/useSimulationControl.ts
Due: frontend-lint-staged, frontend-typecheck

feat(secrets): add seed script for LocalStack Secrets Manager
  infrastructure/scripts/seed-secrets.py
Due: check-duplicate-class-names

feat(secrets): add fetch script to read secrets and write grouped env files
  infrastructure/scripts/fetch-secrets.py
Due: check-duplicate-class-names

feat(secrets): add secrets-init service and expand LocalStack to all profiles
  infrastructure/docker/compose.yml
Due: none

feat(kafka): enable SASL_PLAINTEXT authentication on broker and Schema Registry
  infrastructure/docker/compose.yml
Due: none

feat(schema-registry): enable HTTP Basic Auth on Schema Registry API
  infrastructure/docker/compose.yml
  services/schema-registry/jaas.conf
  services/schema-registry/users.properties
Due: none

feat(kafka): add SASL_PLAINTEXT auth to all Kafka client services
  infrastructure/docker/compose.yml
  services/bronze-ingestion/src/config.py
  services/bronze-ingestion/src/consumer.py
  services/bronze-ingestion/src/main.py
  services/stream-processor/src/processor.py
  services/stream-processor/src/settings.py
Due: mypy-stream-processor, check-duplicate-class-names

feat(simulation): source Schema Registry credentials from secrets volume
  infrastructure/docker/compose.yml
Due: none

feat(redis): enable password authentication on Redis server and clients
  infrastructure/docker/compose.yml
Due: none

feat(ldap): add OpenLDAP container with bootstrap LDIF for Spark Thrift auth
  infrastructure/docker/compose.yml
  infrastructure/openldap/bootstrap.ldif
Due: none

feat(spark): switch Spark Thrift Server from NOSASL to LDAP authentication
  infrastructure/docker/compose.yml
Due: none

feat(ldap): update all Spark Thrift Server clients from NOSASL to LDAP auth
  .github/workflows/integration-tests.yml
  infrastructure/docker/README.md
  services/airflow/README.md
  services/airflow/dags/CONTEXT.md
  tests/integration/data_platform/conftest.py
  tools/dbt/drop_all_staging_tables.py
  tools/dbt/insert_anomaly_test_data.py
  tools/dbt/insert_bronze_data.py
  tools/dbt/insert_test_data.py
  tools/dbt/profiles.yml
  tools/dbt/recreate_bronze_tables.py
  tools/dbt/seed_and_build_pipeline.py
  tools/dbt/setup_all_bronze_tables.py
  tools/dbt/setup_bronze_tables.py
  tools/dbt/verify_bronze_data.py
Due: check-duplicate-class-names

feat(secrets): add config template substitution for Hive Metastore and Trino
  infrastructure/docker/compose.yml
  services/hive-metastore/Dockerfile
  services/hive-metastore/entrypoint-wrapper.sh
  services/hive-metastore/hive-site.xml.template
  services/trino/entrypoint.sh
  services/trino/etc/catalog/delta.properties.template
Due: none

Path conditions:
  mypy-simulation: any of: ^services/simulation/src/.*\.py$
  mypy-stream-processor: any of: ^services/stream-processor/src/.*\.py$
  mypy-spark-streaming: any of: ^services/spark-streaming/(framework|config|jobs|utils)/.*\.py$
  mypy-dbt: any of: ^services/dbt/[^/]+\.py$
  mypy-airflow: any of: ^services/airflow/dags/.*\.py$
  mypy-great-expectations: any of: ^quality/great-expectations/[^/]+\.py$
  mypy-superset: any of: ^analytics/superset/(superset_config\.py|dashboards/.*\.py)$
  mypy-lakehouse: any of: ^schemas/lakehouse/(schemas|config|scripts)/.*\.py$
  frontend-lint-staged: any of: ^services/frontend/.*\.(ts|tsx|css|json|md)$
  frontend-typecheck: any of: ^services/frontend/.*\.(ts|tsx)$
  check-duplicate-class-names: any of: \.py$
