Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-simulation, mypy-stream-processor, mypy-dbt, mypy-airflow, mypy-great-expectations, mypy-lakehouse, frontend-lint-staged, frontend-typecheck, kubeconform

mypy-simulation:
  name: mypy (simulation)
  entry: bash -c 'cd services/simulation && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-stream-processor:
  name: mypy (stream-processor)
  entry: bash -c 'cd services/stream-processor && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-dbt:
  name: mypy (dbt)
  entry: bash -c 'cd tools/dbt && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-airflow:
  name: mypy (airflow)
  entry: bash -c 'cd services/airflow && ./venv/bin/mypy dags/'
  language: system
  pass_filenames: false

mypy-great-expectations:
  name: mypy (great-expectations)
  entry: bash -c 'cd tools/great-expectations && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-lakehouse:
  name: mypy (lakehouse)
  entry: bash -c 'cd schemas/lakehouse && ./venv/bin/mypy schemas/ config/ scripts/'
  language: system
  pass_filenames: false

frontend-lint-staged:
  name: lint-staged (frontend)
  entry: bash -c 'cd services/frontend && npx lint-staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd services/frontend && npm run typecheck'
  language: system
  pass_filenames: false

kubeconform:
  name: kubeconform
  ...

fix(grafana): sort GPS Trail queries ascending to fix Grafana time ordering error
  services/grafana/dashboards/business-intelligence/driver-explorer.json
Due: none

feat(grafana): add Cancelled Trips History panel and clarify trip panel naming
  services/grafana/dashboards/business-intelligence/driver-explorer.json
  services/grafana/dashboards/business-intelligence/rider-explorer.json
Due: none

fix(dlq): revive corruption pipeline with additive model and fix dashboard queries
  infrastructure/scripts/register-trino-tables.py
  services/airflow/dags/dlq_monitoring_dag.py
  services/grafana/dashboards/data-engineering/data-quality.json
  services/simulation/src/agents/event_emitter.py
  services/simulation/src/kafka/data_corruption.py
  services/simulation/src/kafka/serialization.py
  services/simulation/src/kafka/serializer_registry.py
  services/simulation/src/matching/matching_server.py
  services/simulation/tests/kafka/test_data_corruption.py
  services/simulation/tests/kafka/test_event_serialization.py
Due: mypy-simulation, mypy-airflow

fix(grafana): correct SQL, datasources, and layout in platform-ops and demand-analysis dashboards
  services/grafana/dashboards/business-intelligence/demand-analysis.json
  services/grafana/dashboards/operations/platform-operations.json
Due: none

fix(puppet): mirror rider GPS during trip, auto-complete on arrival, and replace Complete Trip with Cancel Trip
  services/control-panel/src/App.tsx
  services/control-panel/src/components/InspectorPopup.tsx
  services/control-panel/src/components/inspector/DriverActionsSection.tsx
  services/control-panel/src/components/inspector/DriverInspector.tsx
  services/control-panel/src/components/inspector/RiderActionsSection.tsx
  services/control-panel/src/components/inspector/__tests__/DriverActionsSection.test.tsx
  services/control-panel/src/components/inspector/__tests__/RiderActionsSection.test.tsx
  services/control-panel/src/hooks/useSimulationControl.ts
  services/simulation/src/api/routes/puppet.py
  services/simulation/src/matching/matching_server.py
  services/simulation/src/puppet/drive_controller.py
Due: mypy-simulation

feat(perf): derive dynamic stop-condition thresholds from baseline calibration
  tests/performance/analysis/findings.py
  tests/performance/analysis/report_generator.py
  tests/performance/analysis/statistics.py
  tests/performance/analysis/visualizations.py
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/baseline.py
  tests/performance/scenarios/speed_scaling.py
  tests/performance/scenarios/stress_test.py
Due: none

fix(perf): include health latency threshold source in stress test heading
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/stress_test.py
Due: none

fix(ui): show RTR label with red dash when simulation is stopped
  services/control-panel/src/components/ControlPanel.tsx
  services/control-panel/src/components/InfrastructurePanel.tsx
Due: none

feat(perf): log baseline health calibration table immediately after baseline completes
  tests/performance/runner.py
Due: none

fix(perf): derive speed scaling agent count as 1/50 of stress test max instead of 1/2
  tests/performance/runner.py
Due: none

feat(perf): add USL saturation curve analysis with knee-point detection
  services/simulation/src/api/app.py
  services/simulation/src/metrics/prometheus_exporter.py
  tests/performance/analysis/findings.py
  tests/performance/analysis/report_generator.py
  tests/performance/analysis/statistics.py
  tests/performance/analysis/visualizations.py
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/base.py
  tests/performance/scenarios/speed_scaling.py
  tests/performance/scenarios/stress_test.py
Due: mypy-simulation

feat(infra): add monitoring exporters, speed multiplier metric, pipeline latency, and fix alerts
  infrastructure/docker/compose.yml
  services/prometheus/prometheus.yml
  services/prometheus/rules/alerts.yml
  services/simulation/src/api/app.py
  services/simulation/src/kafka/producer.py
  services/simulation/src/metrics/prometheus_exporter.py
  services/stream-processor/src/processor.py
  services/stream-processor/src/prometheus_exporter.py
  services/stream-processor/src/sinks/redis_sink.py
Due: mypy-simulation, mypy-stream-processor

feat(grafana): add Performance Engineering dashboard for saturation analysis
  services/grafana/dashboards/performance/performance-engineering.json
  services/grafana/provisioning/dashboards/default.yml
Due: none

feat(perf): replace cAdvisor/REST collectors with Prometheus-based metric collection
  tests/performance/CONTEXT.md
  tests/performance/README.md
  tests/performance/analysis/findings.py
  tests/performance/analysis/statistics.py
  tests/performance/collectors/__init__.py
  tests/performance/collectors/docker_stats.py
  tests/performance/collectors/infrastructure_health.py
  tests/performance/collectors/prometheus_collector.py
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/base.py
  tests/performance/scenarios/speed_scaling.py
  tests/performance/scenarios/stress_test.py
Due: none

feat(perf): add performance controller sidecar for auto-throttling simulation speed
  infrastructure/docker/compose.yml
  services/performance-controller/CONTEXT.md
  services/performance-controller/Dockerfile
  services/performance-controller/README.md
  services/performance-controller/requirements.txt
  services/performance-controller/src/__init__.py
  services/performance-controller/src/api.py
  services/performance-controller/src/controller.py
  services/performance-controller/src/logging_setup.py
  services/performance-controller/src/main.py
  services/performance-controller/src/metrics_exporter.py
  services/performance-controller/src/prometheus_client.py
  services/performance-controller/src/settings.py
Due: none

fix(infra): use alpine variant of redis_exporter to fix missing /bin/sh
  infrastructure/docker/compose.yml
Due: none

fix(grafana): fix broken panels in Performance Engineering dashboard
  infrastructure/docker/compose.yml
  services/grafana/dashboards/performance/performance-engineering.json
Due: none

fix(dbt): harden silver/gold pipeline against malformed bronze data
  services/airflow/dags/dbt_transformation_dag.py
  services/airflow/dags/dlq_monitoring_dag.py
  tools/dbt/macros/cross_db/to_ts.sql
  tools/dbt/models/marts/dimensions/dim_payment_methods.sql
  tools/dbt/models/staging/stg_driver_status.sql
  tools/dbt/models/staging/stg_drivers.sql
  tools/dbt/models/staging/stg_gps_pings.sql
  tools/dbt/models/staging/stg_payments.sql
  tools/dbt/models/staging/stg_ratings.sql
  tools/dbt/models/staging/stg_riders.sql
  tools/dbt/models/staging/stg_surge_updates.sql
  tools/dbt/models/staging/stg_trips.sql
Due: mypy-airflow

fix(sim): mount GPS schemas in container and add driving_closer_to_home status
  infrastructure/docker/compose.yml
  schemas/api/openapi.json
  services/control-panel/src/components/StatsPanel.tsx
  services/control-panel/src/types/api.generated.ts
  services/control-panel/src/types/api.ts
  services/simulation/src/api/models/metrics.py
  services/simulation/src/api/models/simulation.py
  services/simulation/src/api/routes/metrics.py
  services/simulation/src/api/routes/simulation.py
  services/simulation/src/main.py
  services/simulation/tests/test_api_contract.py
Due: mypy-simulation

fix(infra): add missing depends_on and restart policy for metric exporters
  infrastructure/docker/compose.yml
Due: none

fix(sim): resolve puppet rider offers to autonomous drivers immediately
  services/simulation/src/matching/matching_server.py
Due: mypy-simulation

Revert "fix(sim): resolve puppet rider offers to autonomous drivers immediately"
  services/simulation/src/matching/matching_server.py
Due: mypy-simulation

feat(grafana): change Throughput vs Active Trips panel to XY scatter plot
  services/grafana/dashboards/performance/performance-engineering.json
Due: none

fix(sim): propagate rider trip_state during requested and offer_sent phases
  services/simulation/src/agents/rider_agent.py
  services/simulation/src/api/redis_subscriber.py
  services/simulation/src/matching/matching_server.py
  services/simulation/tests/agents/test_rider_lifecycle.py
  services/simulation/tests/api/test_redis_subscriber.py
  services/simulation/tests/matching/test_puppet_cross_matching.py
Due: mypy-simulation

refactor(perf-controller): replace baseline calibration with Prometheus recording rules and add on/off mode
  infrastructure/docker/compose.yml
  services/control-panel/src/components/ControlPanel.module.css
  services/control-panel/src/components/ControlPanel.tsx
  services/control-panel/src/hooks/usePerformanceController.ts
  services/control-panel/src/types/api.ts
  services/grafana/dashboards/performance/performance-engineering.json
  services/performance-controller/CONTEXT.md
  services/performance-controller/README.md
  services/performance-controller/src/api.py
  services/performance-controller/src/controller.py
  services/performance-controller/src/metrics_exporter.py
  services/performance-controller/src/prometheus_client.py
  services/performance-controller/src/settings.py
  services/prometheus/rules/performance.yml
Due: none

fix(matching): clear driver reservation after offer acceptance and trip completion
  services/simulation/src/matching/matching_server.py
Due: mypy-simulation

feat(control-panel): add tooltip to auto speed toggle and center-align all tooltips
  services/control-panel/src/components/ControlPanel.tsx
  services/control-panel/src/components/Tooltip.module.css
Due: none

fix(prometheus): strip labels from performance headroom rules to produce single composite index
  services/prometheus/rules/performance.yml
Due: none

fix(matching): guard offer timeout against already-accepted trips
  services/simulation/src/main.py
  services/simulation/src/matching/matching_server.py
Due: mypy-simulation

feat(perf): align performance tests with Prometheus performance index
  services/grafana/dashboards/performance/performance-engineering.json
  services/prometheus/rules/performance.yml
  tests/performance/analysis/findings.py
  tests/performance/analysis/report_generator.py
  tests/performance/analysis/statistics.py
  tests/performance/collectors/prometheus_collector.py
  tests/performance/runner.py
  tests/performance/scenarios/base.py
  tests/performance/scenarios/speed_scaling.py
  tests/performance/scenarios/stress_test.py
Due: none

feat(perf): redesign stop conditions to find true saturation points
  services/prometheus/rules/performance.yml
  tests/performance/analysis/report_generator.py
  tests/performance/analysis/visualizations.py
  tests/performance/config.py
  tests/performance/runner.py
  tests/performance/scenarios/speed_scaling.py
  tests/performance/scenarios/stress_test.py
Due: none

fix(grafana): clarify Component Breakdown legend names in performance dashboard
  services/grafana/dashboards/performance/performance-engineering.json
Due: none

fix(kafka): increase heap to prevent KRaft self-fencing and handle producer buffer overflow
  docs/INFRASTRUCTURE.md
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/manifests/kafka.yaml
  services/kafka/README.md
  services/simulation/src/kafka/producer.py
Due: mypy-simulation, kubeconform

feat(perf): redesign CPU/memory headroom to reflect true system pressure
  services/grafana/dashboards/performance/performance-engineering.json
  services/prometheus/rules/performance.yml
  tests/performance/analysis/findings.py
  tests/performance/analysis/report_generator.py
  tests/performance/runner.py
  tests/performance/scenarios/speed_scaling.py
  tests/performance/scenarios/stress_test.py
Due: none

feat(perf): make CPU/memory/consumption/RTR index components self-contained
  services/grafana/dashboards/performance/performance-engineering.json
  services/prometheus/rules/performance.yml
  tests/performance/analysis/findings.py
  tests/performance/analysis/report_generator.py
  tests/performance/runner.py
Due: none

fix(perf): merge Prometheus rule groups to eliminate composite index lag
  services/prometheus/rules/performance.yml
Due: none

feat(perf): smooth performance index with 4s collection and 16s rolling average
  services/otel-collector/otel-collector-config.yaml
  services/performance-controller/src/main.py
  services/prometheus/prometheus.yml
  services/prometheus/rules/performance.yml
  services/simulation/src/main.py
  services/stream-processor/src/main.py
Due: mypy-simulation, mypy-stream-processor

feat(perf): rescale CPU headroom to treat 50% usage as full headroom
  services/prometheus/rules/performance.yml
Due: none

feat(dashboard): merge RTR and Speed Multiplier into dual y-axis panel
  services/grafana/dashboards/performance/performance-engineering.json
Due: none

feat(metrics): add per-reason cancellation breakdown to trip metrics
  services/control-panel/src/components/StatsPanel.tsx
  services/control-panel/src/types/api.ts
  services/simulation/src/api/models/metrics.py
  services/simulation/src/api/routes/metrics.py
  services/simulation/src/matching/matching_server.py
Due: mypy-simulation

Path conditions:
  mypy-simulation: any of: ^services/simulation/src/.*\.py$
  mypy-stream-processor: any of: ^services/stream-processor/src/.*\.py$
  mypy-dbt: any of: ^tools/dbt/[^/]+\.py$
  mypy-airflow: any of: ^services/airflow/dags/.*\.py$
  mypy-great-expectations: any of: ^tools/great-expectations/[^/]+\.py$
  mypy-lakehouse: any of: ^schemas/lakehouse/(schemas|config|scripts)/.*\.py$
  frontend-lint-staged: any of: ^services/frontend/.*\.(ts|tsx|css|json|md)$
  frontend-typecheck: any of: ^services/frontend/.*\.(ts|tsx)$
  kubeconform: any of: ^infrastructure/kubernetes/.*\.yaml$ and \.(yaml|yml)$ and not (^infrastructure/kubernetes/(argocd/install\.yaml|overlays/))
