Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-simulation, mypy-stream-processor, mypy-dbt, mypy-airflow, mypy-great-expectations, mypy-lakehouse, frontend-lint-staged, frontend-typecheck, kubeconform

mypy-simulation:
  name: mypy (simulation)
  entry: bash -c 'cd services/simulation && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-stream-processor:
  name: mypy (stream-processor)
  entry: bash -c 'cd services/stream-processor && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-dbt:
  name: mypy (dbt)
  entry: bash -c 'cd tools/dbt && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-airflow:
  name: mypy (airflow)
  entry: bash -c 'cd services/airflow && ./venv/bin/mypy dags/'
  language: system
  pass_filenames: false

mypy-great-expectations:
  name: mypy (great-expectations)
  entry: bash -c 'cd tools/great-expectations && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-lakehouse:
  name: mypy (lakehouse)
  entry: bash -c 'cd schemas/lakehouse && ./venv/bin/mypy schemas/ config/ scripts/'
  language: system
  pass_filenames: false

frontend-lint-staged:
  name: lint-staged (frontend)
  entry: bash -c 'cd services/frontend && npx lint-staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd services/frontend && npm run typecheck'
  language: system
  pass_filenames: false

kubeconform:
  name: kubeconform
  ...

feat(perf): geometric speed ramping with float speeds and naming cleanup
  infrastructure/docker/compose.yml
  services/control-panel/src/components/ControlPanel.tsx
  services/control-panel/src/components/__tests__/ControlPanel.test.tsx
  services/grafana/dashboards/performance/performance-engineering.json
  services/performance-controller/src/api.py
  services/performance-controller/src/controller.py
  services/performance-controller/src/metrics_exporter.py
  services/performance-controller/src/settings.py
  services/simulation/src/api/models/simulation.py
  services/simulation/src/api/routes/simulation.py
  services/simulation/src/db/checkpoint.py
  services/simulation/src/engine/__init__.py
  services/simulation/src/puppet/drive_controller.py
  services/simulation/src/settings.py
  services/simulation/tests/agents/test_awaiting_pickup_state.py
  services/simulation/tests/api/test_simulation_control.py
  services/simulation/tests/engine/test_speed_multiplier.py
  services/simulation/tests/test_api_contract.py
  services/simulation/tests/test_settings.py
Due: mypy-simulation

feat(speed): unify speed multiplier boundaries to min=0.125, max=32
  infrastructure/docker/compose.yml
  services/control-panel/src/components/ControlPanel.tsx
  services/performance-controller/src/settings.py
  services/simulation/src/api/models/simulation.py
  services/simulation/src/api/routes/simulation.py
  services/simulation/src/engine/__init__.py
  services/simulation/src/puppet/drive_controller.py
  services/simulation/src/settings.py
  services/simulation/tests/api/test_simulation_control.py
  services/simulation/tests/engine/test_speed_multiplier.py
  services/simulation/tests/test_settings.py
  tests/performance/config.py
Due: mypy-simulation

fix(dev-test): add performance profile and reduce scheduled riders
  scripts/dev_test.py
Due: none

fix(perf-controller): replace stale target_speed reference in startup log
  services/performance-controller/src/main.py
Due: none

feat(infra): add performance-controller to Kubernetes and Terraform
  infrastructure/kubernetes/manifests/performance-controller.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
  infrastructure/terraform/foundation/modules/ecr/variables.tf
Due: kubeconform

fix(speed): resolve sub-1x speed multiplier consistency issues
  infrastructure/docker/compose.yml
  schemas/api/openapi.json
  services/control-panel/src/components/__tests__/ControlPanel.test.tsx
  services/control-panel/src/types/api.generated.ts
  services/performance-controller/CONTEXT.md
  services/simulation/src/matching/matching_server.py
Due: mypy-simulation

feat(control-panel): color-code performance index by health threshold
  services/control-panel/src/components/ControlPanel.module.css
  services/control-panel/src/components/ControlPanel.tsx
Due: none

fix(deploy): close Lambda production deployment gaps
  .github/workflows/deploy.yml
  infrastructure/scripts/deploy-lambda.py
  infrastructure/terraform/foundation/modules/secrets_manager/main.tf
  services/control-panel/.env.production
Due: none

refactor(control-panel): move Performance Index to infrastructure totals and remove latency color-coding
  services/control-panel/src/components/ControlPanel.tsx
  services/control-panel/src/components/InfrastructurePanel.module.css
  services/control-panel/src/components/InfrastructurePanel.tsx
  services/control-panel/src/components/__tests__/InfrastructurePanel.test.tsx
Due: none

refactor(grafana): split dual-axis Speed Multiplier & RTR into two side-by-side panels
  services/grafana/dashboards/performance/performance-engineering.json
Due: none

fix(performance-controller): smooth manual/auto speed mode switching
  services/performance-controller/src/controller.py
  services/performance-controller/tests/__init__.py
  services/performance-controller/tests/conftest.py
  services/performance-controller/tests/test_controller.py
Due: none

refactor(grafana): clean up performance dashboard panels
  services/grafana/dashboards/performance/performance-engineering.json
Due: none

fix(control-panel): update home icon and disable alpha masking
  services/control-panel/public/icons/home.png
  services/control-panel/src/layers/agentLayers.ts
Due: none

refactor(performance-controller): replace threshold-based controller with continuous asymmetric proportional controller
  infrastructure/docker/compose.yml
  services/control-panel/src/components/InfrastructurePanel.tsx
  services/control-panel/src/types/api.ts
  services/grafana/dashboards/performance/performance-engineering.json
  services/performance-controller/CONTEXT.md
  services/performance-controller/README.md
  services/performance-controller/src/api.py
  services/performance-controller/src/controller.py
  services/performance-controller/src/settings.py
  services/performance-controller/tests/test_controller.py
Due: none

fix(stream-processor): add periodic time-based Kafka offset commits
  infrastructure/terraform/platform/variables.tf
  services/stream-processor/src/processor.py
  services/stream-processor/src/settings.py
  services/stream-processor/tests/test_processor_commits.py
Due: mypy-stream-processor

refactor: rename "Performance Index" to "Infrastructure Headroom" across codebase
  services/control-panel/src/components/ControlPanel.module.css
  services/control-panel/src/components/ControlPanel.tsx
  services/control-panel/src/components/InfrastructurePanel.module.css
  services/control-panel/src/components/InfrastructurePanel.tsx
  services/control-panel/src/components/__tests__/InfrastructurePanel.test.tsx
  services/control-panel/src/types/api.ts
  services/grafana/dashboards/performance/performance-engineering.json
  services/performance-controller/CONTEXT.md
  services/performance-controller/README.md
  services/performance-controller/src/api.py
  services/performance-controller/src/controller.py
  services/performance-controller/src/metrics_exporter.py
  services/performance-controller/src/prometheus_client.py
  services/performance-controller/src/settings.py
  services/prometheus/rules/performance.yml
  tests/performance/analysis/findings.py
  tests/performance/analysis/report_generator.py
  tests/performance/runner.py
  tests/performance/scenarios/stress_test.py
Due: none

fix(k8s): replace hardcoded bucket name in bronze-init with env var
  infrastructure/kubernetes/manifests/bronze-init.yaml
  infrastructure/kubernetes/overlays/production/bronze-init-patch.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
Due: kubeconform

fix(simulation): ensure constant RTR sample rate at slow simulation speeds
  services/simulation/src/engine/__init__.py
  services/simulation/tests/engine/test_speed_multiplier.py
Due: mypy-simulation

fix(prometheus): normalize RTR headroom to usable range [0.66, 1.0]
  services/prometheus/rules/performance.yml
Due: none

fix(performance-controller): tune controller to prevent overshoot
  infrastructure/docker/compose.yml
  services/performance-controller/CONTEXT.md
  services/performance-controller/README.md
  services/performance-controller/src/settings.py
  services/performance-controller/tests/test_controller.py
Due: none

fix(simulation): continuous RTR across speed changes with piecewise normalization
  services/simulation/src/api/app.py
  services/simulation/src/engine/__init__.py
  services/simulation/tests/engine/test_speed_multiplier.py
Due: mypy-simulation

feat(performance-controller): upgrade from P to PID controller
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/manifests/performance-controller.yaml
  services/performance-controller/CONTEXT.md
  services/performance-controller/README.md
  services/performance-controller/src/controller.py
  services/performance-controller/src/metrics_exporter.py
  services/performance-controller/src/settings.py
  services/performance-controller/tests/test_controller.py
Due: kubeconform

fix(grafana): move Component Breakdown threshold line from 50% to 66%
  services/grafana/dashboards/performance/performance-engineering.json
Due: none

fix(simulation): eliminate 100ms dead time between steps dragging RTR to ~0.88
  services/simulation/src/main.py
Due: mypy-simulation

fix(grafana): use trip-weighted surge avg with demand bubbles in Surge Pricing Map
  services/grafana/dashboards/business-intelligence/demand-analysis.json
Due: none

fix(simulation): raise minimum speed multiplier from x0.125 to x0.5
  services/control-panel/src/components/ControlPanel.tsx
  services/control-panel/src/components/__tests__/ControlPanel.test.tsx
  services/performance-controller/src/controller.py
  services/performance-controller/src/settings.py
  services/performance-controller/tests/test_controller.py
  services/simulation/src/api/models/simulation.py
  services/simulation/src/api/routes/simulation.py
  services/simulation/src/engine/__init__.py
  services/simulation/src/settings.py
  services/simulation/tests/api/test_simulation_control.py
  services/simulation/tests/engine/test_speed_multiplier.py
  services/simulation/tests/test_settings.py
Due: mypy-simulation

fix(grafana): add red threshold line at 0.66 on Real-Time Ratio chart
  services/grafana/dashboards/performance/performance-engineering.json
Due: none

feat(frontend): split into landing page + control panel domains
  .github/workflows/deploy.yml
  infrastructure/kubernetes/overlays/production/configmap-core-patch.yaml
  infrastructure/kubernetes/overlays/production/ingress-control-panel.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
  infrastructure/kubernetes/overlays/production/simulation-patch.yaml
  infrastructure/lambda/auth-deploy/handler.py
  infrastructure/terraform/foundation/main.tf
  services/control-panel/Dockerfile
  services/control-panel/src/App.tsx
  services/control-panel/src/utils/auth.ts
Due: none

feat(simulation): raise maximum speed multiplier from x32 to x128
  services/control-panel/src/components/ControlPanel.tsx
  services/control-panel/src/components/__tests__/ControlPanel.test.tsx
  services/performance-controller/src/controller.py
  services/performance-controller/src/settings.py
  services/performance-controller/tests/test_controller.py
  services/simulation/src/api/models/simulation.py
  services/simulation/src/api/routes/simulation.py
  services/simulation/src/engine/__init__.py
  services/simulation/src/settings.py
  services/simulation/tests/api/test_simulation_control.py
  services/simulation/tests/engine/test_speed_multiplier.py
  services/simulation/tests/test_settings.py
Due: mypy-simulation

fix(grafana): change Fare Range Distribution buckets to $15 increments
  infrastructure/kubernetes/manifests/grafana.yaml
  services/grafana/dashboards/business-intelligence/revenue-analytics.json
Due: kubeconform

fix(grafana): add tooltip descriptions to Trip State Distribution stat panels
  services/grafana/dashboards/operations/platform-operations.json
Due: none

fix(dlq): eager table init, schema validation, and maintenance DAG naming
  infrastructure/docker/compose.yml
  services/airflow/dags/delta_maintenance_dag.py
  services/bronze-ingestion/requirements.txt
  services/bronze-ingestion/src/config.py
  services/bronze-ingestion/src/consumer.py
  services/bronze-ingestion/src/dlq_writer.py
  services/bronze-ingestion/src/main.py
  services/bronze-ingestion/src/schema_validator.py
  services/bronze-ingestion/tests/test_dlq_routing.py
Due: mypy-airflow

ci: fix api-contract-validation and regenerate types
  .github/workflows/ci.yml
  schemas/api/openapi.json
  services/control-panel/src/types/api.generated.ts
Due: none

fix(terraform): remove reserved AWS_REGION env var and fix Lambda CORS methods
  infrastructure/terraform/foundation/.terraform.lock.hcl
  infrastructure/terraform/foundation/main.tf
Due: none

fix(terraform): rename ECR repo from frontend to control-panel
  infrastructure/terraform/foundation/modules/ecr/variables.tf
Due: none

fix(terraform): add iam:GetRole for service-linked roles in CI role
  infrastructure/terraform/foundation/modules/iam/ci_role.tf
Due: none

fix(terraform): pass vpcId and region to ALB controller Helm chart
  infrastructure/terraform/platform/main.tf
  infrastructure/terraform/platform/modules/alb/main.tf
  infrastructure/terraform/platform/modules/alb/variables.tf
Due: none

fix(terraform): add IMDS hop limit 2 and IRSA role for EBS CSI driver
  .checkov.yaml
  infrastructure/terraform/platform/modules/eks/addons.tf
  infrastructure/terraform/platform/modules/eks/main.tf
Due: none

fix(terraform): add EC2 launch template permissions to CI role
  infrastructure/terraform/foundation/modules/iam/ci_role.tf
Due: none

fix(terraform): add RunInstances and CreateFleet to CI EC2 permissions
  infrastructure/terraform/foundation/modules/iam/ci_role.tf
Due: none

Path conditions:
  mypy-simulation: any of: ^services/simulation/src/.*\.py$
  mypy-stream-processor: any of: ^services/stream-processor/src/.*\.py$
  mypy-dbt: any of: ^tools/dbt/[^/]+\.py$
  mypy-airflow: any of: ^services/airflow/dags/.*\.py$
  mypy-great-expectations: any of: ^tools/great-expectations/[^/]+\.py$
  mypy-lakehouse: any of: ^schemas/lakehouse/(schemas|config|scripts)/.*\.py$
  frontend-lint-staged: any of: ^services/frontend/.*\.(ts|tsx|css|json|md)$
  frontend-typecheck: any of: ^services/frontend/.*\.(ts|tsx)$
  kubeconform: any of: ^infrastructure/kubernetes/.*\.yaml$ and \.(yaml|yml)$ and not (^infrastructure/kubernetes/(argocd/install\.yaml|overlays/))
