Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-simulation, mypy-stream-processor, mypy-dbt, mypy-airflow, mypy-great-expectations, mypy-lakehouse, frontend-lint-staged, frontend-typecheck, kubeconform

mypy-simulation:
  name: mypy (simulation)
  entry: bash -c 'cd services/simulation && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-stream-processor:
  name: mypy (stream-processor)
  entry: bash -c 'cd services/stream-processor && ./venv/bin/mypy src/'
  language: system
  pass_filenames: false

mypy-dbt:
  name: mypy (dbt)
  entry: bash -c 'cd tools/dbt && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-airflow:
  name: mypy (airflow)
  entry: bash -c 'cd services/airflow && ./venv/bin/mypy dags/'
  language: system
  pass_filenames: false

mypy-great-expectations:
  name: mypy (great-expectations)
  entry: bash -c 'cd tools/great-expectations && ./venv/bin/mypy *.py'
  language: system
  pass_filenames: false

mypy-lakehouse:
  name: mypy (lakehouse)
  entry: bash -c 'cd schemas/lakehouse && ./venv/bin/mypy schemas/ config/ scripts/'
  language: system
  pass_filenames: false

frontend-lint-staged:
  name: lint-staged (frontend)
  entry: bash -c 'cd services/frontend && npx lint-staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript (frontend)
  entry: bash -c 'cd services/frontend && npm run typecheck'
  language: system
  pass_filenames: false

kubeconform:
  name: kubeconform
  ...

feat(backend-auth-foundation): user store model and storage layer
  services/simulation/pyproject.toml
  services/simulation/src/api/user_store.py
  services/simulation/tests/api/test_user_store.py
Due: mypy-simulation

feat(backend-auth-foundation): session key generation and TTL management
  services/simulation/src/api/session_store.py
  services/simulation/tests/api/test_session_store.py
Due: mypy-simulation

feat(backend-auth-foundation): refactor verify_api_key to resolve roles via AuthContext
  services/simulation/src/api/app.py
  services/simulation/src/api/auth.py
  services/simulation/src/api/websocket.py
  services/simulation/tests/api/conftest.py
  services/simulation/tests/api/test_authentication.py
Due: mypy-simulation

feat(backend-auth-foundation): POST /auth/login endpoint with session key generation
  services/simulation/src/api/app.py
  services/simulation/src/api/routes/__init__.py
  services/simulation/src/api/routes/auth.py
  services/simulation/tests/api/test_auth_login.py
Due: mypy-simulation

feat(backend-role-enforcement): role-checking dependency and endpoint protection
  services/simulation/src/api/auth.py
  services/simulation/src/api/routes/agents.py
  services/simulation/src/api/routes/controller.py
  services/simulation/src/api/routes/puppet.py
  services/simulation/src/api/routes/simulation.py
  services/simulation/tests/api/test_role_enforcement.py
Due: mypy-simulation

feat(frontend-auth-and-roles): email+password login form
  services/control-panel/src/App.tsx
  services/control-panel/src/components/LoginDialog.test.tsx
  services/control-panel/src/components/LoginDialog.tsx
  services/control-panel/src/hooks/useSessionExpiry.ts
  services/control-panel/src/utils/apiClient.ts
  services/control-panel/src/utils/auth.ts
Due: none

feat(frontend-auth-and-roles): role-based UI feature gating
  services/control-panel/src/components/ControlPanel.tsx
  services/control-panel/src/components/InspectorPopup.tsx
  services/control-panel/src/components/__tests__/ControlPanel.test.tsx
  services/control-panel/src/components/inspector/DriverActionsSection.tsx
  services/control-panel/src/components/inspector/DriverInspector.tsx
  services/control-panel/src/components/inspector/__tests__/DriverActionsSection.test.tsx
  services/control-panel/src/hooks/useRole.test.ts
  services/control-panel/src/hooks/useRole.ts
Due: none

feat(multi-service-provisioning): trino password auth and read-only access control
  infrastructure/lambda/auth-deploy/test_trino_config.py
  infrastructure/scripts/generate_trino_password_hash.py
  pyproject.toml
  services/trino/entrypoint.sh
  services/trino/etc/access-control.properties
  services/trino/etc/config.properties
  services/trino/etc/password-authenticator.properties
  services/trino/etc/password.db.template
  services/trino/etc/rules.json
Due: none

feat(multi-service-provisioning): minio read-only IAM policy for visitors
  infrastructure/lambda/auth-deploy/requirements.txt
  infrastructure/lambda/auth-deploy/test_minio_provisioning.py
  infrastructure/policies/minio-visitor-readonly.json
  infrastructure/scripts/provision_minio_visitor.py
Due: none

feat(multi-service-provisioning): grafana viewer account provisioning
  infrastructure/lambda/auth-deploy/test_grafana_provisioning.py
  infrastructure/scripts/provision_grafana_viewer.py
Due: none

feat(multi-service-provisioning): airflow viewer account provisioning
  infrastructure/lambda/auth-deploy/test_airflow_provisioning.py
  infrastructure/scripts/provision_airflow_viewer.py
Due: none

feat(multi-service-provisioning): multi-service provisioning orchestrator
  infrastructure/docker/compose.yml
  infrastructure/lambda/auth-deploy/handler.py
  infrastructure/lambda/auth-deploy/requirements.txt
  infrastructure/lambda/auth-deploy/test_provisioning_orchestrator.py
  infrastructure/scripts/provision_minio_visitor.py
  infrastructure/scripts/provision_visitor_cli.py
  services/simulation/src/api/routes/auth.py
Due: mypy-simulation

chore(infrastructure): dynamodb visitor table + ses configuration + lambda iam
  infrastructure/terraform/foundation/main.tf
  infrastructure/terraform/foundation/modules/lambda/main.tf
  infrastructure/terraform/foundation/modules/lambda/variables.tf
  infrastructure/terraform/foundation/outputs.tf
Due: none

feat(lambda-enhancements): password generation + dynamodb visitor record storage
  infrastructure/lambda/auth-deploy/handler.py
  infrastructure/lambda/auth-deploy/test_provisioning_orchestrator.py
Due: none

feat(lambda-enhancements): ses welcome email sending
  infrastructure/lambda/auth-deploy/handler.py
  infrastructure/lambda/auth-deploy/test_provisioning_orchestrator.py
Due: none

feat(lambda-enhancements): deploy-time re-provisioning action
  .github/workflows/deploy.yml
  infrastructure/lambda/auth-deploy/handler.py
  infrastructure/lambda/auth-deploy/test_provisioning_orchestrator.py
  infrastructure/terraform/foundation/main.tf
  infrastructure/terraform/foundation/modules/lambda/main.tf
  infrastructure/terraform/foundation/modules/lambda/variables.tf
Due: none

feat(frontend-visitor-form): visitor provisioning form + confirmation screen
  services/control-panel/src/components/LandingPage.tsx
  services/control-panel/src/components/VisitorAccessForm.module.css
  services/control-panel/src/components/VisitorAccessForm.tsx
  services/control-panel/src/components/__tests__/VisitorAccessForm.test.tsx
  services/control-panel/src/services/__tests__/lambda.test.ts
  services/control-panel/src/services/lambda.ts
Due: none

chore(ses-dns-authentication): ses dkim, spf, and dmarc dns records
  infrastructure/terraform/foundation/main.tf
Due: none

chore(ses-dns-authentication): request ses production access
  infrastructure/terraform/foundation/CONTEXT.md
Due: none

feat(welcome-email-and-consent): reply-to header and informal email rewrite
  infrastructure/lambda/auth-deploy/handler.py
  infrastructure/lambda/auth-deploy/test_provisioning_orchestrator.py
  infrastructure/terraform/foundation/main.tf
  infrastructure/terraform/foundation/variables.tf
Due: none

feat(welcome-email-and-consent): update consent checkbox disclosures
  services/control-panel/src/components/VisitorAccessForm.tsx
  services/control-panel/src/components/__tests__/VisitorAccessForm.test.tsx
Due: none

chore(ses-dns-authentication): automate ses production access in terraform
  infrastructure/terraform/foundation/CONTEXT.md
  infrastructure/terraform/foundation/main.tf
Due: none

feat(audit-log-enablement): enable grafana audit logging
  infrastructure/docker/compose.yml
Due: none

feat(audit-log-enablement): enable trino event listener for persistent query logs
  services/trino/etc/config.properties
  services/trino/etc/event-listener.properties
Due: none

feat(audit-log-enablement): enable minio audit logging to stdout
  infrastructure/docker/compose.yml
Due: none

feat(activity-data-sources): add airflow postgresql datasource to grafana
  infrastructure/docker/compose.yml
  services/grafana/provisioning/datasources/datasources.yml
Due: none

feat(activity-data-sources): add request logging middleware to simulation api
  services/simulation/src/api/app.py
  services/simulation/src/api/middleware/request_logger.py
  services/simulation/src/sim_logging/formatters.py
Due: mypy-simulation

feat(activity-dashboard): build visitor activity dashboard
  services/grafana/dashboards/admin/visitor-activity.json
  services/grafana/provisioning/dashboards/default.yml
Due: none

feat(auto-teardown): add ensure-session Lambda action for deploy workflow
  .github/workflows/deploy.yml
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/manifests/external-secrets-app-credentials.yaml
  infrastructure/kubernetes/manifests/grafana.yaml
  infrastructure/kubernetes/manifests/trino.yaml
  infrastructure/lambda/auth-deploy/handler.py
  infrastructure/lambda/auth-deploy/test_handler.py
  infrastructure/scripts/seed-secrets.py
  infrastructure/terraform/foundation/modules/secrets_manager/main.tf
Due: kubeconform

fix(ci): separate declaration and assignment to satisfy shellcheck SC2155
  .github/workflows/deploy.yml
Due: none

fix(deploy): manage Trino secrets via deploy workflow instead of Terraform
  .github/workflows/deploy.yml
  infrastructure/terraform/foundation/modules/secrets_manager/main.tf
Due: none

fix(deploy): pass owner_reply_to_email and add -input=false to terraform commands
  .github/workflows/deploy.yml
Due: none

fix(deploy): prevent EKS cluster replacement and add core resource reconciliation
  .github/workflows/deploy.yml
  infrastructure/terraform/platform/modules/eks/main.tf
Due: none

fix(deploy): add RDS instance to state reconciliation
  .github/workflows/deploy.yml
Due: none

fix(deploy): restrict placeholder validation to YAML files only
  .github/workflows/deploy.yml
Due: none

fix(lambda): make visitor name optional, derive from email prefix
  infrastructure/lambda/auth-deploy/handler.py
Due: none

fix(lambda): make provision-visitor a public no-auth action
  infrastructure/lambda/auth-deploy/handler.py
Due: none

feat(handler-iam-fixes): replace bcrypt with pure-python hashing in handler and dynamodb store
  infrastructure/lambda/auth-deploy/handler.py
  infrastructure/lambda/auth-deploy/test_handler_hashing.py
Due: none

fix(handler-iam-fixes): enforce ses email failure as hard provisioning failure
  infrastructure/lambda/auth-deploy/handler.py
  infrastructure/lambda/auth-deploy/test_provisioning_orchestrator.py
  infrastructure/lambda/auth-deploy/tests/__init__.py
  infrastructure/lambda/auth-deploy/tests/test_handler.py
Due: none

feat(handler-iam-fixes): fix lambda IAM permissions for secrets manager and SES
  infrastructure/lambda/auth-deploy/handler.py
  infrastructure/lambda/auth-deploy/test_handler_iam.py
  infrastructure/terraform/foundation/main.tf
Due: none

Path conditions:
  mypy-simulation: any of: ^services/simulation/src/.*\.py$
  mypy-stream-processor: any of: ^services/stream-processor/src/.*\.py$
  mypy-dbt: any of: ^tools/dbt/[^/]+\.py$
  mypy-airflow: any of: ^services/airflow/dags/.*\.py$
  mypy-great-expectations: any of: ^tools/great-expectations/[^/]+\.py$
  mypy-lakehouse: any of: ^schemas/lakehouse/(schemas|config|scripts)/.*\.py$
  frontend-lint-staged: any of: ^services/frontend/.*\.(ts|tsx|css|json|md)$
  frontend-typecheck: any of: ^services/frontend/.*\.(ts|tsx)$
  kubeconform: any of: ^infrastructure/kubernetes/.*\.yaml$ and \.(yaml|yml)$ and not (^infrastructure/kubernetes/(argocd/install\.yaml|overlays/))
