Repository andresbrocco/rideshare-simulation-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-simulation, mypy-stream-processor, mypy-spark-streaming, mypy-dbt, mypy-airflow, mypy-great-expectations, mypy-superset, mypy-lakehouse, frontend-lint-staged, frontend-typecheck, check-duplicate-class-names

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^(data/sao-paulo/distritos-sp-raw\.geojson|data/osrm/sao-paulo-metro\.osm\.pbf|infrastructure/kubernetes/argocd/install\.yaml)$'

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.13

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  # Local hooks (Python mypy, Frontend TypeScript/ESLint)
  - repo: local
    hooks:
      - id: mypy-simulation
        name: mypy (simulation)
        entry: bash -c 'cd services/simulation && ./venv/bin/mypy src/'
        language: system
        files: ^services/simulation/src/.*\.py$
        pass_filenames: false

      - id: mypy-stream-processor
        name: mypy (stream-processor)
        entry: bash -c 'cd services/stream-processor && ./venv/bin/mypy src/'
        language: system
        files: ^services/stream-processor/src/.*\.py$
        pass_filenames: false

      - id: mypy-spark-streaming
        name: mypy (spark-streaming)
        entry: bash -c 'cd services && [ ! -L spark_streaming ] && ln -s spark-streaming spark_streaming; PYTHONPATH=. ./spark-streaming/venv/bin/mypy spark_streaming/framework/ spark_streaming/config/ spark_streaming/jobs/ spark_streaming/utils/'
        language: system
        files: ^services/spark-streaming/(framework|config|jobs|utils)/.*\.py$
        pass_filenames: false

      - id: mypy-dbt
        name: mypy (dbt)
        entry: bash -c 'cd services/dbt && ./venv/bin/mypy *.py'
        language: system
        files: ^services/dbt/[^/]+\.py$
        pass_filenames: false

      - id: mypy-airflow
        name: mypy (airflow)
        entry: bash -c 'cd services/airflow && ./venv/bin/mypy dags/'
        language: system
        files: ^services/airflow/dags/.*\.py$
        pass_filenames: false

      - id: mypy-great-expectations
        name: mypy (great-expectations)
        entry: bash -c 'cd quality/great-expectations && ./venv/bin/mypy *.py'
        language: system
        files: ^quality/great-expectations/[^/]+\.py$
        pass_filenames: false

      - id: mypy-superset
        name: mypy (superset)
        entry: bash -c 'cd analytics/superset && ./venv/bin/mypy superset_config.py dashboards/'
        language: system
        files: ^analytics/superset/(superset_config\.py|dashboards/.*\.py)$
        pass_filenames: false

      - id: mypy-lakehouse
        name: mypy (lakehouse)
        entry: bash -c 'cd schemas/lakehouse && ./venv/bin/mypy schemas/ config/ scripts/'
        language: system
        files: ^schemas/lakehouse/(schemas|config|scripts)/.*\.py$
        pass_filenames: false

      - id: frontend-lint-staged
        name: lint-staged (frontend)
        entry: bash -c 'cd services/frontend && npx lint-staged'
        language: system
        files: ^services/frontend/.*\.(ts|tsx|css|json|md)$
        pass_filenames: false

      - id: frontend-typecheck
        name: TypeScript (frontend)
        entry: bash -c 'cd services/frontend && npm run typecheck'
        language: system
        files: ^services/frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: check-duplicate-class-names
        name: Check for duplicate class names
        entry: python scripts/check_duplicate_class_names.py
        language: python
        pass_filenames: false
        files: \.py$

feat(monitoring): add Prometheus exporters and fix monitoring stack
  infrastructure/monitoring/grafana/dashboards/README.md
  infrastructure/monitoring/grafana/dashboards/airflow-metrics.json
  infrastructure/monitoring/grafana/dashboards/kafka-metrics.json
  infrastructure/monitoring/grafana/dashboards/simulation-metrics.json
  infrastructure/monitoring/grafana/dashboards/spark-metrics.json
  infrastructure/monitoring/grafana/provisioning/alerting/rules.yml
  infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/rules/alerts.yml
  services/simulation/pyproject.toml
  services/simulation/src/api/routes/metrics.py
  services/simulation/src/metrics/prometheus_exporter.py
  services/stream-processor/pyproject.toml
  services/stream-processor/requirements.txt
  services/stream-processor/src/api.py
  services/stream-processor/src/prometheus_exporter.py
Due: mypy-simulation, mypy-stream-processor, check-duplicate-class-names

fix(superset): resolve dashboard provisioning failures
  analytics/superset/provisioning/client.py
  analytics/superset/provisioning/dashboards/data_quality.py
  analytics/superset/provisioning/dashboards/driver_performance.py
Due: check-duplicate-class-names

fix(bronze): add DLQ tables and fix dashboard provisioning
  analytics/superset/provisioning/dashboards/data_ingestion.py
  infrastructure/scripts/init-bronze-metastore.py
Due: check-duplicate-class-names

feat(bronze): add Delta Lake small files optimization
  services/airflow/dags/delta_maintenance_dag.py
  services/airflow/tests/test_delta_maintenance_dag.py
  services/spark-streaming/config/__init__.py
  services/spark-streaming/config/delta_write_config.py
  services/spark-streaming/framework/base_streaming_job.py
  services/spark-streaming/jobs/bronze_ingestion_high_volume.py
  services/spark-streaming/jobs/bronze_ingestion_low_volume.py
  services/spark-streaming/jobs/multi_topic_streaming_job.py
  services/spark-streaming/tests/test_bronze_ingestion_high_volume.py
  services/spark-streaming/tests/test_bronze_ingestion_low_volume.py
  services/spark-streaming/tests/test_checkpoint_recovery.py
  services/spark-streaming/tests/test_delta_write_config.py
  services/spark-streaming/tests/test_multi_topic_streaming_job.py
Due: mypy-spark-streaming, mypy-airflow, check-duplicate-class-names

fix(superset): add query_context to chart creation and fix SQL syntax
  analytics/superset/provisioning/client.py
  analytics/superset/provisioning/dashboards/base.py
  analytics/superset/provisioning/dashboards/demand_analysis.py
  analytics/superset/provisioning/dashboards/platform_operations.py
  analytics/superset/provisioning/dashboards/revenue_analytics.py
  analytics/superset/provisioning/provisioner.py
Due: check-duplicate-class-names

fix(bronze): remove unsupported delta.targetFileSize option for Delta Lake 4.0
  services/spark-streaming/config/delta_write_config.py
  services/spark-streaming/tests/test_delta_write_config.py
Due: mypy-spark-streaming, check-duplicate-class-names

feat(infra): add superset-celery-worker to infrastructure monitoring
  infrastructure/docker/README.md
  infrastructure/docker/compose.yml
  infrastructure/monitoring/grafana/provisioning/alerting/rules.yml
  services/simulation/src/api/routes/metrics.py
Due: mypy-simulation, check-duplicate-class-names

fix(superset,monitoring): fix results backend config and metrics scraping
  .pre-commit-config.yaml
  analytics/superset/SUPERSET_SPECIFICATION.yaml
  analytics/superset/pyproject.toml
  analytics/superset/stubs/cachelib/__init__.pyi
  analytics/superset/stubs/cachelib/redis.pyi
  analytics/superset/stubs/prison/__init__.pyi
  analytics/superset/superset_config.py
  infrastructure/monitoring/prometheus/prometheus.yml
  services/airflow/dags/superset_provisioning_dag.py
Due: mypy-airflow, mypy-superset, check-duplicate-class-names

fix(superset): add missing cachelib dependency to superset-init
  infrastructure/docker/compose.yml
Due: none

fix(dbt): correct SCD2 valid_to type mismatch causing empty gold tables
  services/dbt/models/marts/dimensions/dim_drivers.sql
  services/dbt/models/marts/dimensions/dim_payment_methods.sql
Due: none

feat(schema): add comprehensive schema inventory for rideshare analytics
  analytics/superset/schema_inventory.yaml
Due: none

feat(zones): add centroid coordinates to dim_zones
  analytics/superset/schema_inventory.yaml
  analytics/superset/scripts/calculate_zone_centroids.py
  analytics/superset/scripts/output/update_dim_zones_centroids.sql
  analytics/superset/scripts/output/zone_centroids.csv
  services/dbt/models/marts/dimensions/dim_zones.sql
  services/dbt/models/marts/dimensions/schema.yml
  services/dbt/seeds/zones.csv
Due: check-duplicate-class-names

refactor(superset): modularize provisioning with chart-type-specific params
  analytics/superset/provisioning/charts/__init__.py
  analytics/superset/provisioning/charts/data_ingestion_charts.py
  analytics/superset/provisioning/charts/data_quality_charts.py
  analytics/superset/provisioning/charts/demand_analysis_charts.py
  analytics/superset/provisioning/charts/driver_performance_charts.py
  analytics/superset/provisioning/charts/map_charts.py
  analytics/superset/provisioning/charts/platform_operations_charts.py
  analytics/superset/provisioning/charts/revenue_analytics_charts.py
  analytics/superset/provisioning/dashboards/__init__.py
  analytics/superset/provisioning/dashboards/base.py
  analytics/superset/provisioning/dashboards/data_ingestion.py
  analytics/superset/provisioning/dashboards/data_quality.py
  analytics/superset/provisioning/dashboards/demand_analysis.py
  analytics/superset/provisioning/dashboards/driver_performance.py
  analytics/superset/provisioning/dashboards/platform_operations.py
  analytics/superset/provisioning/dashboards/revenue_analytics.py
  analytics/superset/provisioning/datasets/__init__.py
  analytics/superset/provisioning/datasets/bronze_datasets.py
  analytics/superset/provisioning/datasets/gold_datasets.py
  analytics/superset/provisioning/datasets/map_datasets.py
  analytics/superset/provisioning/datasets/silver_datasets.py
  analytics/superset/provisioning/schemas/__init__.py
  analytics/superset/provisioning/schemas/bronze.py
  analytics/superset/provisioning/schemas/gold.py
  analytics/superset/provisioning/schemas/silver.py
Due: check-duplicate-class-names

fix(superset): use entity_type instead of anomaly_type in GPS anomaly dataset
  analytics/superset/provisioning/charts/map_charts.py
  analytics/superset/provisioning/datasets/map_datasets.py
Due: check-duplicate-class-names

fix(superset): improve API response handling for chart/dataset ID extraction
  analytics/superset/provisioning/provisioner.py
Due: check-duplicate-class-names

docs(superset): add datasets API reference documentation
  analytics/superset/docs/api/datasets/README.md
Due: none

feat(superset): add dataset column and metric configuration to provisioning
  analytics/superset/provisioning/client.py
  analytics/superset/provisioning/dashboards/base.py
  analytics/superset/provisioning/dashboards/data_quality.py
  analytics/superset/provisioning/dashboards/demand_analysis.py
  analytics/superset/provisioning/dashboards/driver_performance.py
  analytics/superset/provisioning/dashboards/platform_operations.py
  analytics/superset/provisioning/dashboards/revenue_analytics.py
  analytics/superset/provisioning/datasets/bronze_datasets.py
  analytics/superset/provisioning/datasets/gold_datasets.py
  analytics/superset/provisioning/datasets/silver_datasets.py
  analytics/superset/provisioning/provisioner.py
  analytics/superset/tests/test_dashboards.py
  analytics/superset/tests/test_provisioner.py
  services/airflow/dags/delta_maintenance_dag.py
  services/dbt/models/marts/dimensions/schema.yml
  services/dbt/tests/test_dim_drivers_scd_type2.sql
Due: mypy-airflow, check-duplicate-class-names

feat(scripts): add dev test automation script
  infrastructure/docker/compose.yml
  scripts/dev_test.py
  services/airflow/dags/dbt_transformation_dag.py
Due: mypy-airflow, check-duplicate-class-names

fix(scripts): use JWT auth for Airflow 3.x API
  scripts/dev_test.py
Due: check-duplicate-class-names

refactor(superset): migrate all charts to consolidated datasets
  analytics/superset/provisioning/charts/data_ingestion_charts.py
  analytics/superset/provisioning/charts/data_quality_charts.py
  analytics/superset/provisioning/charts/demand_analysis_charts.py
  analytics/superset/provisioning/charts/driver_performance_charts.py
  analytics/superset/provisioning/charts/platform_operations_charts.py
  analytics/superset/provisioning/charts/revenue_analytics_charts.py
  analytics/superset/provisioning/dashboards/data_quality.py
  analytics/superset/provisioning/dashboards/demand_analysis.py
  analytics/superset/provisioning/dashboards/driver_performance.py
  analytics/superset/provisioning/dashboards/platform_operations.py
  analytics/superset/provisioning/dashboards/revenue_analytics.py
  analytics/superset/provisioning/datasets/bronze_datasets.py
  analytics/superset/provisioning/datasets/gold_datasets.py
  analytics/superset/provisioning/datasets/map_datasets.py
  analytics/superset/provisioning/datasets/silver_datasets.py
Due: check-duplicate-class-names

fix(superset): add explicit chart-to-dashboard association via API
  analytics/superset/provisioning/client.py
  analytics/superset/provisioning/provisioner.py
  analytics/superset/tests/test_client.py
  analytics/superset/tests/test_provisioner.py
Due: check-duplicate-class-names

fix(superset): align dataset SQL with actual table schemas
  analytics/superset/provisioning/datasets/bronze_datasets.py
  analytics/superset/provisioning/datasets/gold_datasets.py
  analytics/superset/provisioning/datasets/silver_datasets.py
Due: check-duplicate-class-names

feat(superset): add SQL validation for dataset queries before provisioning
  infrastructure/docker/compose.yml
Due: none

fix(dbt): reduce thread count to prevent Delta concurrency errors
  services/dbt/profiles.yml
Due: none

fix(superset): add PostgreSQL readiness wait to superset-init
  analytics/superset/superset-init-entrypoint.sh
  infrastructure/docker/compose.yml
Due: none

fix(superset): query active trips from Silver layer instead of Gold
  analytics/superset/provisioning/dashboards/base.py
  analytics/superset/provisioning/datasets/map_datasets.py
  analytics/superset/provisioning/validators.py
Due: check-duplicate-class-names

feat(superset): add SQL validation CLI, tests, and Airflow DAG integration
  analytics/superset/provisioning/__main__.py
  analytics/superset/provisioning/datasets/bronze_datasets.py
  analytics/superset/provisioning/datasets/silver_datasets.py
  analytics/superset/provisioning/tests/__init__.py
  analytics/superset/provisioning/tests/test_validators.py
  analytics/superset/stubs/pyhive/__init__.pyi
  analytics/superset/stubs/pyhive/hive.pyi
  services/airflow/dags/superset_provisioning_dag.py
Due: mypy-airflow, check-duplicate-class-names

fix(metrics): wire observe_latency calls to update Prometheus histograms
  services/simulation/src/agents/driver_agent.py
  services/simulation/src/agents/event_emitter.py
  services/simulation/src/geo/osrm_client.py
  services/simulation/src/redis_client/publisher.py
  services/simulation/src/redis_client/snapshots.py
  services/stream-processor/src/sinks/redis_sink.py
Due: mypy-simulation, mypy-stream-processor, check-duplicate-class-names

refactor: move grafana and prometheus from infrastructure/ to services/
  .github/workflows/README.md
  analytics/superset/CONTEXT.md
  docs/INFRASTRUCTURE.md
  infrastructure/docker/compose.yml
  infrastructure/kubernetes/CONTEXT.md
  infrastructure/monitoring/CONTEXT.md
  infrastructure/monitoring/README.md
  services/grafana/CONTEXT.md
  services/grafana/README.md
  services/grafana/dashboards/README.md
  services/grafana/dashboards/simulation-metrics.json
  services/grafana/provisioning/alerting/rules.yml
  services/grafana/provisioning/dashboards/README.md
  services/grafana/provisioning/dashboards/default.yml
  services/grafana/provisioning/datasources/README.md
  services/grafana/provisioning/datasources/prometheus.yml
  services/prometheus/CONTEXT.md
  services/prometheus/README.md
  services/prometheus/alerts/README.md
  services/prometheus/prometheus.yml
  services/prometheus/rules/alerts.yml
  services/simulation/src/api/routes/CONTEXT.md
Due: none

feat(data-pipeline): add Hive Metastore Service with PostgreSQL backend
  infrastructure/docker/compose.yml
  services/hive-metastore/Dockerfile
  services/hive-metastore/hive-site.xml
Due: none

feat(data-pipeline): deploy Trino with Delta Lake connector
  infrastructure/docker/compose.yml
  services/trino/catalog/delta.properties
  services/trino/etc/config.properties
  services/trino/etc/jvm.config
  services/trino/etc/node.properties
Due: none

feat(data-pipeline): configure Spark Thrift Server to use external HMS
  infrastructure/docker/compose.yml
Due: none

feat(monitoring): add Loki and Tempo services for log aggregation and distributed tracing
  infrastructure/docker/compose.yml
  services/loki/loki-config.yaml
  services/tempo/tempo-config.yaml
Due: none

feat(monitoring): deploy OpenTelemetry Collector as central telemetry hub
  infrastructure/docker/compose.yml
  services/otel-collector/otel-collector-config.yaml
Due: none

feat(monitoring): update Prometheus config for OTel Collector integration
  infrastructure/docker/compose.yml
  services/prometheus/prometheus.yml
Due: none

feat(monitoring): provision Grafana datasources for Trino, Loki, and Tempo
  infrastructure/docker/compose.yml
  services/grafana/dashboards/business-intelligence/.gitkeep
  services/grafana/dashboards/data-engineering/.gitkeep
  services/grafana/dashboards/monitoring/simulation-metrics.json
  services/grafana/dashboards/operations/.gitkeep
  services/grafana/provisioning/dashboards/default.yml
  services/grafana/provisioning/datasources/datasources.yml
  services/grafana/provisioning/datasources/prometheus.yml
Due: none

feat(monitoring): migrate simulation service from prometheus-client to OTel SDK
  services/simulation/pyproject.toml
  services/simulation/src/api/app.py
  services/simulation/src/api/routes/metrics.py
  services/simulation/src/geo/osrm_client.py
  services/simulation/src/kafka/producer.py
  services/simulation/src/main.py
  services/simulation/src/metrics/prometheus_exporter.py
  services/simulation/src/redis_client/publisher.py
Due: mypy-simulation, check-duplicate-class-names

feat(monitoring): add Grafana dashboards for BI, data engineering, and operations
  services/grafana/dashboards/business-intelligence/demand-analysis.json
  services/grafana/dashboards/business-intelligence/driver-performance.json
  services/grafana/dashboards/business-intelligence/revenue-analytics.json
  services/grafana/dashboards/data-engineering/data-ingestion.json
  services/grafana/dashboards/data-engineering/data-quality.json
  services/grafana/dashboards/operations/platform-operations.json
Due: none
